In [122]:
# Reload when code changed:
%load_ext autoreload
%autoreload 2
%pwd
import os 
import sys
path = "../"
sys.path.append(path)
#os.path.abspath("../")
print(os.path.abspath(path))

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
D:\github\ekostat_calculator

In [5]:
import core
import importlib
importlib.reload(core)
import logging
importlib.reload(core) 
try:
    logging.shutdown()
    importlib.reload(logging)
except:
    pass
import pandas as pd
import numpy as np
import json
from event_handler import EventHandler
print(core.__file__)
pd.__version__

..\core\__init__.py

'0.19.2'

In [6]:
def print_workspaces():
    request = {'user_id': user_id} 
    respons = ekos.request_workspace_list(request)
    print('')
    print('='*100)
    print('Workspaces for user: {}'.format(user_id)) 
    print('')
    for item in respons['workspaces']:
        print('-'*100)
        for key in sorted(item.keys()):
            print('{}:\t{}'.format(key, item[key]))
        print('')
    print('='*100)
    
    
def print_json(data): 
    json_string = json.dumps(data, indent=2, sort_keys=True)
    print(json_string)

### Load directories

In [7]:
root_directory = "../" #os.getcwd()
workspace_directory = root_directory + '/workspaces' 
resource_directory = root_directory + '/resources'
alias = 'lena'
user_id = 'test_user' #kanske ska vara off_line user?

## Initiate EventHandler

In [123]:
ekos = EventHandler(root_directory)

2018-03-21 16:26:05,601	event_handler.py	64	__init__	DEBUG	Start EventHandler: event_handler
2018-03-21 16:26:05,601	event_handler.py	65	__init__	DEBUG
2018-03-21 16:26:05,601	event_handler.py	66	__init__	INFO	TEST info logger
2018-03-21 16:26:05,611	event_handler.py	67	__init__	WARNING	TEST warning logger
2018-03-21 16:26:05,612	event_handler.py	68	__init__	ERROR	TEST error logger
2018-03-21 16:26:05,612	event_handler.py	69	__init__	DEBUG	TEST debug logger

¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
dict_keys(['main_event_handler', 'subset_361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc', 'subset_default_subset', 'workspace_9eea0d00-c024-410f-912a-980eed55acae'])
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
event_handler _ main_event_handler

In [77]:
# Remove all workspaces belonging to test user 
# ekos.remove_test_user_workspaces()

In [78]:
# remove selected workspace
workspace_uuid = ekos.get_unique_id_for_alias(user_id, 'lena_newdata')
#ekos.delete_workspace(user_id = user_id, unique_id = workspace_uuid, permanently=True)

# LOAD WORKSPACE

### Load default workspace

In [48]:
#default_workspace = core.WorkSpace(alias = 'default_workspace', 
#                                   unique_id = 'default_workspace', 
#                                   parent_directory=workspace_directory,
#                                   resource_directory=resource_directory, 
#                                   user_id = 'default')

In [49]:
#default_workspace.step_0.print_all_paths()

In [50]:
#default_workspace.import_default_data()

### Add new workspace 
#### Only use this if you are not working with an already created workspace

In [257]:
#ekos.copy_workspace(user_id = user_id, source_alias = 'default_workspace', target_alias = 'lena_newdata')

2018-03-21 15:29:41,584	event_handler.py	229	copy_workspace	DEBUG	Could not add workspace with alias "lena_newdata". Workspace already exists!

¤ lena_newdata
¤ test_user

False

### Load existing workspace

In [124]:
ekos.load_workspace(user_id, alias = 'lena_newdata')

2018-03-21 16:26:12,394	event_handler.py	1326	load_workspace	DEBUG	Trying to load workspace "9eea0d00-c024-410f-912a-980eed55acae" with alias "lena_newdata"

¤¤¤ alias lena_newdata
¤¤¤ unique_id 9eea0d00-c024-410f-912a-980eed55acae
¤¤¤ user_id test_user

====================================================================================================
Initiating WorkSpace: ..//workspaces/9eea0d00-c024-410f-912a-980eed55acae
Parent directory is: ..//workspaces
Resource directory is: ..//resources
=== 361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc
status ['editable', 'readable', 'deleted']
!!! A
!!! 361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc
!!! ..//workspaces/9eea0d00-c024-410f-912a-980eed55acae/subsets
----------------------------------------------------------------------------------------------------
Initiating Subset: ..//workspaces/9eea0d00-c024-410f-912a-980eed55acae/subsets/361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc
===
..//workspaces/9eea0d00-c024-410f-912a-980eed55acae/subsets/361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/9eea0d00-c024-410f-912a-980eed55acae/subsets/361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc/step_1
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/9eea0d00-c024-410f-912a-980eed55acae/subsets/361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc/step_2
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
dict_keys(['main_event_handler', 'subset_361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc', 'subset_default_subset', 'workspace_9eea0d00-c024-410f-912a-980eed55acae'])
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc _ main_event_handler
361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc _ subset_361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc
=== default_subset
!!! default_subset
!!! default_subset
!!! ..//workspaces/9eea0d00-c024-410f-912a-980eed55acae/subsets
----------------------------------------------------------------------------------------------------
Initiating Subset: ..//workspaces/9eea0d00-c024-410f-912a-980eed55acae/subsets/default_subset
===
..//workspaces/9eea0d00-c024-410f-912a-980eed55acae/subsets/default_subset
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/9eea0d00-c024-410f-912a-980eed55acae/subsets/default_subset/step_1
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/9eea0d00-c024-410f-912a-980eed55acae/subsets/default_subset/step_2
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
dict_keys(['main_event_handler', 'subset_361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc', 'subset_default_subset', 'workspace_9eea0d00-c024-410f-912a-980eed55acae'])
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
default_subset _ main_event_handler
default_subset _ subset_361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc
default_subset _ subset_default_subset
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/9eea0d00-c024-410f-912a-980eed55acae/step_0
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
dict_keys(['main_event_handler', 'subset_361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc', 'subset_default_subset', 'workspace_9eea0d00-c024-410f-912a-980eed55acae'])
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
9eea0d00-c024-410f-912a-980eed55acae _ main_event_handler
9eea0d00-c024-410f-912a-980eed55acae _ subset_361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc
9eea0d00-c024-410f-912a-980eed55acae _ subset_default_subset
9eea0d00-c024-410f-912a-980eed55acae _ workspace_9eea0d00-c024-410f-912a-980eed55acae

True

In [125]:
workspace_uuid = ekos.get_unique_id_for_alias(user_id, 'lena_newdata')

In [126]:
workspace_uuid

'9eea0d00-c024-410f-912a-980eed55acae'

In [106]:
ekos.workspaces

{'9eea0d00-c024-410f-912a-980eed55acae': <core.workspaces.WorkSpace at 0xbab8b38>}

#### Copy files from default workspace to make a clone

In [129]:
#ekos.import_default_data(user_id, workspace_alias = workspace_uuid)

2018-03-21 14:17:39,983	event_handler.py	850	import_default_data	DEBUG	Trying to load default data in workspace "False" with alias "9eea0d00-c024-410f-912a-980eed55acae"

False

### Load all data in workspace

In [127]:
ekos.load_data(user_id = user_id, unique_id = workspace_uuid)

2018-03-21 16:26:28,116	workspaces.py	1393	load_all_data	DEBUG	data has been loaded from existing all_data.txt file.

In [17]:
#os.path.exists(w.paths['directory_path_input_data']+'/exports')

In [128]:
w = ekos.get_workspace(user_id, unique_id = workspace_uuid, alias = 'lena_newdata')

2018-03-21 16:26:34,216	event_handler.py	851	get_workspace	DEBUG	Getting workspace "9eea0d00-c024-410f-912a-980eed55acae" with alias "lena_newdata"

In [129]:
len(w.data_handler.get_all_column_data_df())

101465

# Set first filter and load filtered data

### Set first data filter

In [18]:
f0 = w.get_data_filter_object(step=0) 
f0.include_list_filter

{'MYEAR': [], 'STATN': []}

In [19]:
#include_WB = ['Norrbottens skärgårds kustvatten']#,
                #'N S M Bottenhavets kustvatten'] 
include_stations = [] 
#exclude_WB = ['Norrbottens skärgårds kustvatten'] 
include_years = [] 

#w.set_data_filter(step=0, filter_type='include_list', filter_name='WATERBODY_NAME', data=include_WB)
w.set_data_filter(step=0, filter_type='include_list', filter_name='STATN', data=include_stations) 
#w.set_data_filter(step=0, filter_type='exclude_list', filter_name='WATERBODY_NAME', data=exclude_WB) 
w.set_data_filter(step=0, filter_type='include_list', filter_name='MYEAR', data=include_years)
f0.include_list_filter

FILTER_LIST []
FILTER_LIST []

{'MYEAR': [], 'STATN': []}

In [20]:
f0.exclude_list_filter

{}

### Apply first data filter

In [130]:
w.apply_data_filter(step = 0) # This sets the first level of data filter in the IndexHandler

step step_0

### Extract filtered data

In [131]:
data_after_first_filter = w.get_filtered_data(step=0) # level=0 means first filter 
print('{} rows matching the filter criteria'.format(len(data_after_first_filter)))

2018-03-21 16:26:41,626	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_0

101465 rows matching the filter criteria

# Set subset filter and load subset data

In [23]:
#ekos.copy_subset(user_id, 
#                 workspace_alias='lena_newdata', 
#                 workspace_uuid=None, 
#                 subset_source_alias='default_subset', 
#                 subset_source_uuid='default_subset', 
#                 subset_target_alias='A')

In [132]:
subset_uuid = ekos.get_unique_id_for_alias(user_id, workspace_alias = 'lena_newdata', subset_alias = 'A')
w.get_subset_list()

['361f36e9-c28a-4b3c-b21c-1da6e3bf1bdc', 'default_subset']

In [61]:
f1 = w.get_data_filter_object(subset = subset_uuid, step=1) 
f1.include_list_filter

{'MYEAR': ['2013', '2014', '2015', '2016', '2017', '2018', '2019'],
 'STATN': [],
 'WATER_BODY': []}

In [133]:
w.apply_data_filter(subset = subset_uuid, step = 1)

step step_1

In [134]:
df_step1 = w.get_filtered_data(step = 1, subset = subset_uuid)
df_step1.columns

2018-03-21 16:26:49,601	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_1

Index(['Unnamed: 0', 'AMON', 'BIOV_CONC_ALL', 'BQIm', 'CPHL_INTEG', 'DEPH',
       'DIN', 'DOXY_BTL', 'DOXY_CTD', 'LATIT_DD', 'LONGI_DD', 'MNDEP', 'MXDEP',
       'MYEAR', 'NTOT', 'NTRA', 'NTRI', 'NTRZ', 'PHOS', 'PTOT', 'Q_AMON',
       'Q_BIOV_CONC_ALL', 'Q_BQIm', 'Q_CPHL_INTEG', 'Q_DOXY_BTL', 'Q_DOXY_CTD',
       'Q_NTOT', 'Q_NTRA', 'Q_NTRI', 'Q_NTRZ', 'Q_PHOS', 'Q_PTOT',
       'Q_SALT_BTL', 'Q_SALT_CTD', 'Q_SECCHI', 'Q_TEMP_BTL', 'Q_TEMP_CTD',
       'SALT_BTL', 'SALT_CTD', 'SDATE', 'SEA_BASIN', 'SECCHI', 'SERNO',
       'SHARKID_MD5', 'SHIPC', 'STATN', 'STIME', 'TEMP_BTL', 'TEMP_CTD',
       'VISS_EU_CD', 'WATER_BODY_NAME', 'WATER_DISTRICT', 'WATER_TYPE_AREA',
       'WLTYP', 'MONTH'],
      dtype='object')

In [64]:
w.get_step_object(step = 2, subset = subset_uuid).load_indicator_settings_filters()

In [65]:
w.get_step_object(step = 2, subset = subset_uuid).indicator_data_filter_settings

{'BQI': <core.filters.SettingsDataFilter at 0x9cfad68>,
 'din_winter': <core.filters.SettingsDataFilter at 0x9cfae80>,
 'dip_winter': <core.filters.SettingsDataFilter at 0xa7d6080>,
 'ntot_summer': <core.filters.SettingsDataFilter at 0x6df0668>,
 'ntot_winter': <core.filters.SettingsDataFilter at 0xa62ce10>,
 'ptot_summer': <core.filters.SettingsDataFilter at 0xa8635f8>,
 'ptot_winter': <core.filters.SettingsDataFilter at 0xa86aac8>}

In [30]:
#dinw_filter_set = w.get_step_object(step = 2, subset = subset_uuid).get_indicator_data_filter_settings('din_winter')
#dinw_filter_set.settings.df

In [135]:
wb_list = df_step1.VISS_EU_CD.unique()
len(wb_list)

310

#### Apply indicator filter

In [136]:
for wb in wb_list:
    print('*'*30)
    print(wb)
    w.apply_indicator_data_filter(step = 2, 
                              subset = subset_uuid, 
                              indicator = 'din_winter',
                              water_body = wb)

******************************
SE584340-174401
step step_2
water_body SE584340-174401
14
14

15    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
14
14

15    1;2;12
Name: MONTH_LIST, dtype: object
1;2;12
MONTH_LIST
= [1, 2, 12] <class 'int'>
******************************
SE581700-113000
step step_2
water_body SE581700-113000
2
2

2    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
2
2

2    1;2;3;12
Name: MONTH_LIST, dtype: object
1;2;3;12
MONTH_LIST
= [1, 2, 3, 12] <class 'int'>
******************************
SE561400-161201
step step_2
water_body SE561400-161201
9
9

9    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
9
9

9    1;2;12
Name: MONTH_LIST, dtype: object
1;2;12
MONTH_LIST
= [1, 2, 12] <class 'int'>
******************************
SE654470-222700
step step_2
water_body SE654470-222700
22
22

23    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
22
22

23    1;2;11;12
Name: MONTH_LIST, dtype: object
1;2;11;12
MONTH_LIST
= [1, 2, 11, 12] <class 'int'>
******************************
SE633000-195000
step step_2
water_body SE633000-195000
20
20

21    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
20
20

21    1;2;11;12
Name: MONTH_LIST, dtype: object
1;2;11;12
MONTH_LIST
= [1, 2, 11, 12] <class 'int'>
******************************
SE625180-181655
step step_2
water_body SE625180-181655
18
18

19    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
18
18

19    1;2;11;12
Name: MONTH_LIST, dtype: object
1;2;11;12
MONTH_LIST
= [1, 2, 11, 12] <class 'int'>
******************************
SE654820-222660
step step_2
water_body SE654820-222660
22
22

23    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
22
22

23    1;2;11;12
Name: MONTH_LIST, dtype: object
1;2;11;12
MONTH_LIST
= [1, 2, 11, 12] <class 'int'>
******************************
SE625000-180075
step step_2
water_body SE625000-180075
18
18

19    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
18
18

19    1;2;11;12
Name: MONTH_LIST, dtype: object
1;2;11;12
MONTH_LIST
= [1, 2, 11, 12] <class 'int'>
******************************
SE628750-183300
step step_2
water_body SE628750-183300
18
18

19    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
18
18

19    1;2;11;12
Name: MONTH_LIST, dtype: object
1;2;11;12
MONTH_LIST
= [1, 2, 11, 12] <class 'int'>
******************************
SE631346-184241
step step_2
water_body SE631346-184241
18
18

19    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
18
18

19    1;2;11;12
Name: MONTH_LIST, dtype: object
1;2;11;12
MONTH_LIST
= [1, 2, 11, 12] <class 'int'>
******************************
SE631646-185280
step step_2
water_body SE631646-185280
18
18

19    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
18
18

19    1;2;11;12
Name: MONTH_LIST, dtype: object
1;2;11;12
MONTH_LIST
= [1, 2, 11, 12] <class 'int'>
******************************
SE583730-164501
step step_2
water_body SE583730-164501
12-n
12
n
13    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
12-n
12
n
13    1;2;12
Name: MONTH_LIST, dtype: object
1;2;12
MONTH_LIST
= [1, 2, 12] <class 'int'>
******************************
SE582705-163350
step step_2
water_body SE582705-163350
13
13

14    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
13
13

14    1;2;12
Name: MONTH_LIST, dtype: object
1;2;12
MONTH_LIST
= [1, 2, 12] <class 'int'>
******************************
SE582050-165820
step step_2
water_body SE582050-165820
12-s
12
s
12    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
12-s
12
s
12    1;2;12
Name: MONTH_LIST, dtype: object
1;2;12
MONTH_LIST
= [1, 2, 12] <class 'int'>
******************************
SE582147-111771
step step_2
water_body SE582147-111771
1-n
1
n
0    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
1-n
1
n
0    1;2;3;12
Name: MONTH_LIST, dtype: object
1;2;3;12
MONTH_LIST
= [1, 2, 3, 12] <class 'int'>
******************************
SE580688-114860
step step_2
water_body SE580688-114860
2
2

2    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
2
2

2    1;2;3;12
Name: MONTH_LIST, dtype: object
1;2;3;12
MONTH_LIST
= [1, 2, 3, 12] <class 'int'>
******************************
SE575500-113750
step step_2
water_body SE575500-113750
1-n
1
n
0    0-10
Name: DEPH_INTERVAL, dtype: object
0-10
DEPH_INTERVAL
= [0, 10] <class 'int'>
1-n
1
n
0    1;2;3;12
Name: MONTH_LIST, dtype: object
1;2;3;12
MONTH_LIST
= [1, 2, 3, 12] <class 'int'>
******************************
SE574050-114780
step step_2
water_body SE574050-114780

AttributeError: 'WaterBody' object has no attribute 'SESE574050-114780'

In [137]:
print(len(w.index_handler.booleans['step_0'][subset_uuid]['step_1']['step_2'].keys()))
w.index_handler.booleans['step_0'][subset_uuid]['step_1']['step_2'].keys()

19

dict_keys(['boolean', 'SE584340-174401', 'SE581700-113000', 'SE561400-161201', 'SE654470-222700', 'SE633000-195000', 'SE625180-181655', 'SE654820-222660', 'SE625000-180075', 'SE628750-183300', 'SE631346-184241', 'SE631646-185280', 'SE583730-164501', 'SE582705-163350', 'SE582050-165820', 'SE582147-111771', 'SE580688-114860', 'SE575500-113750', 'SE574050-114780'])

In [138]:
w.index_handler.booleans['step_0'][subset_uuid]['step_1']['step_2']['SE654470-222700'].keys()

dict_keys(['boolean', 'din_winter'])

In [139]:
w.index_handler.booleans.keys()

dict_keys(['step_0'])

In [36]:
#temp_df = w.get_filtered_data(step = 2, subset = subset_uuid, indicator = 'din_winter', water_body = 'SE654470-222700')
#temp_df.loc[(temp_df['MONTH'].isin([11, 12, 1, 2])) & (temp_df['SEA_AREA_CODE'].isin(['654470-222700']))][['MONTH', 'SEA_AREA_NAME', 'SEA_AREA_CODE', 'WATER_TYPE_AREA']]

In [140]:
w.get_filtered_data(step = 2, subset = subset_uuid, indicator = 'din_winter', water_body = 'SE654470-222700').MONTH.unique()#[['MONTH', 'SEA_AREA_NAME', 'SEA_AREA_CODE']]

2018-03-21 16:27:01,058	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2

array([12, 11,  1,  2], dtype=int64)

In [141]:
water_body = 'SE654470-222700'
temp_df = w.get_filtered_data(step = 2, subset = subset_uuid, indicator = 'din_winter', water_body = water_body)[['SDATE','MONTH', 'WATER_BODY_NAME', 'VISS_EU_CD', 'DIN','SALT_CTD', 'SALT_BTL']].dropna(thresh=7)
print('Waterbodys left: {}'.format(temp_df.loc[temp_df['VISS_EU_CD'].isin([water_body.strip('SE')])]['WATER_BODY_NAME'].unique()))
temp_df.loc[temp_df['VISS_EU_CD'].isin([water_body])]

2018-03-21 16:27:02,224	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2

Waterbodys left: []

,SDATE,MONTH,WATER_BODY_NAME,VISS_EU_CD,DIN,SALT_CTD,SALT_BTL
7057,2016-12-07,12,Gussöfjärden,SE654470-222700,6.35,2.000,2.000
7349,2016-11-09,11,Gussöfjärden,SE654470-222700,7.56,2.000,2.000
10343,2016-01-27,1,Gussöfjärden,SE654470-222700,11.37,2.000,2.000
11065,2015-12-02,12,Gussöfjärden,SE654470-222700,5.86,1.945,1.951
17831,2015-02-11,2,Gussöfjärden,SE654470-222700,9.05,0.660,0.800
18916,2014-12-03,12,Gussöfjärden,SE654470-222700,5.07,2.285,2.288
27000,2013-12-04,12,Gussöfjärden,SE654470-222700,5.57,2.373,2.374
27001,2013-12-04,12,Gussöfjärden,SE654470-222700,5.66,2.373,2.374
27002,2013-12-04,12,Gussöfjärden,SE654470-222700,5.75,2.373,2.374
34344,2013-01-15,1,Gussöfjärden,SE654470-222700,6.49,1.384,0.619

In [142]:
w.get_available_indicators(subset= 'A', step=2)

2018-03-21 16:27:05,870	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2
2018-03-21 16:27:05,982	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-03-21 16:27:06,134	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2
2018-03-21 16:27:06,248	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-03-21 16:27:06,559	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2
2018-03-21 16:27:06,619	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2
2018-03-21 16:27:06,708	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A
"['TOT_COVER_ALL' 'SALT'] not in index"
subset A

2018-03-21 16:27:06,945	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2
2018-03-21 16:27:07,014	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2
2018-03-21 16:27:07,095	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A
subset A

2018-03-21 16:27:07,200	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2
2018-03-21 16:27:07,291	workspaces.py	1262	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

['biov',
 'bqi',
 'chl',
 'din_winter',
 'dip_winter',
 'ntot_summer',
 'ntot_winter',
 'o2',
 'ptot_summer',
 'ptot_winter',
 'secchi']

In [143]:
w.cfg['indicators']

indicator
biov                  [BIOV_CONC_ALL]
bqi                            [BQIm]
chl            [CPHL_INTEG, SALT_CTD]
din_winter            [DIN, SALT_CTD]
dip_winter           [PHOS, SALT_CTD]
msmdi           [TOT_COVER_ALL, SALT]
ntot_summer          [NTOT, SALT_CTD]
ntot_winter          [NTOT, SALT_CTD]
o2                         [DOXY_BTL]
ptot_summer          [PTOT, SALT_CTD]
ptot_winter          [PTOT, SALT_CTD]
secchi                       [SECCHI]
Name: parameters, dtype: object

### Load Indicator objects step 3....

In [144]:
w.load_indicators(subset_unique_id = subset_uuid, indicator_list = ['din_winter'])

TypeError: 'IndexHandler' object is not callable

In [242]:
s = w.get_subset_object(subset_uuid).indicator_objects['din_winter']
s.get_filtered_data(subset = subset_uuid, step = 'step_2')

,VISS_EU_ID,SDATE,DEPH,SEA_AREA_NAME,SALT_BTL,DOXY_BTL,PHOS,NTRA,AMON,SECCHI,NTOT,PTOT,DIN,MONTH
0,SE652400-223501,1985-01-01,0.00,Norrbottens skärgårds kustvatten,3.000,8.081,0.500,3.003,0.100,6.8,18.401,0.619,3.1,1
1,SE652400-223501,1985-01-01,0.25,Norrbottens skärgårds kustvatten,3.000,8.081,0.500,3.003,0.100,6.8,18.401,0.619,3.1,1
2,SE652400-223501,1985-01-01,0.75,Norrbottens skärgårds kustvatten,3.000,8.074,0.500,3.003,0.100,6.8,18.430,0.621,3.1,1
3,SE652400-223501,1985-01-01,1.25,Norrbottens skärgårds kustvatten,3.000,8.070,0.500,3.003,0.100,6.8,18.430,0.621,3.1,1
4,SE652400-223501,1985-01-01,1.75,Norrbottens skärgårds kustvatten,3.000,8.067,0.500,3.003,0.100,6.8,18.430,0.621,3.1,1
5,SE652400-223501,1985-01-01,2.25,Norrbottens skärgårds kustvatten,3.000,8.065,0.500,3.003,0.100,6.8,18.430,0.621,3.1,1
6,SE652400-223501,1985-01-01,2.75,Norrbottens skärgårds kustvatten,3.000,8.063,0.500,3.003,0.100,6.8,18.430,0.621,3.1,1
7,SE652400-223501,1985-01-01,3.25,Norrbottens skärgårds kustvatten,3.000,8.062,0.500,3.003,0.100,6.8,18.430,0.621,3.1,1
8,SE652400-223501,1985-01-01,3.75,Norrbottens skärgårds kustvatten,3.000,8.061,0.500,3.003,0.100,6.8,18.430,0.621,3.1,1
9,SE652400-223501,1985-01-01,4.50,Norrbottens skärgårds kustvatten,3.000,8.059,0.500,3.003,0.100,6.8,18.430,0.621,3.1,1
10,SE652400-223501,1985-01-01,5.50,Norrbottens skärgårds kustvatten,3.000,8.057,0.500,3.003,0.100,6.8,18.430,0.621,3.1,1
11,SE652400-223501,1985-01-01,6.50,Norrbottens skärgårds kustvatten,3.000,8.055,0.500,3.003,0.100,6.8,18.430,0.621,3.1,1
12,SE652400-223501,1985-01-01,7.50,Norrbottens skärgårds kustvatten,3.000,8.053,0.500,3.003,0.100,6.8,18.430,0.621,3.1,1
13,SE652400-223501,1985-01-01,8.50,Norrbottens skärgårds kustvatten,3.000,8.052,0.500,3.003,0.100,6.8,18.431,0.621,3.1,1
14,SE652400-223501,1985-01-01,9.50,Norrbottens skärgårds kustvatten,3.000,8.050,0.500,3.003,0.100,6.8,18.431,0.621,3.1,1
15,SE652400-223501,1985-01-01,112.50,Norrbottens skärgårds kustvatten,3.000,7.994,0.501,3.017,0.100,6.8,18.444,0.621,3.12,1
16,SE652400-223501,1985-01-01,115.00,Norrbottens skärgårds kustvatten,3.000,7.994,0.501,3.017,0.100,6.8,18.444,0.621,3.12,1
17,SE652400-223501,1985-01-02,0.00,Norrbottens skärgårds kustvatten,3.000,8.183,0.501,3.015,0.100,6.8,18.403,0.619,3.12,1
18,SE652400-223501,1985-01-02,0.25,Norrbottens skärgårds kustvatten,3.000,8.183,0.501,3.015,0.100,6.8,18.403,0.619,3.12,1
19,SE652400-223501,1985-01-02,0.75,Norrbottens skärgårds kustvatten,3.000,8.177,0.501,3.015,0.100,6.8,18.430,0.620,3.12,1
20,SE652400-223501,1985-01-02,1.25,Norrbottens skärgårds kustvatten,3.000,8.174,0.501,3.015,0.100,6.8,18.430,0.620,3.12,1
21,SE652400-223501,1985-01-02,1.75,Norrbottens skärgårds kustvatten,3.000,8.172,0.501,3.015,0.100,6.8,18.430,0.620,3.12,1
22,SE652400-223501,1985-01-02,2.25,Norrbottens skärgårds kustvatten,3.000,8.170,0.501,3.015,0.100,6.8,18.430,0.620,3.12,1
23,SE652400-223501,1985-01-02,2.75,Norrbottens skärgårds kustvatten,3.000,8.169,0.501,3.015,0.100,6.8,18.430,0.620,3.12,1
24,SE652400-223501,1985-01-02,3.25,Norrbottens skärgårds kustvatten,3.000,8.167,0.501,3.015,0.100,6.8,18.430,0.620,3.12,1
25,SE652400-223501,1985-01-02,3.75,Norrbottens skärgårds kustvatten,3.000,8.166,0.501,3.015,0.100,6.8,18.430,0.620,3.12,1
26,SE652400-223501,1985-01-02,4.50,Norrbottens skärgårds kustvatten,3.000,8.165,0.501,3.015,0.100,6.8,18.430,0.620,3.12,1
27,SE652400-223501,1985-01-02,5.50,Norrbottens skärgårds kustvatten,3.000,8.163,0.501,3.015,0.100,6.8,18.430,0.620,3.12,1
28,SE652400-223501,1985-01-02,6.50,Norrbottens skärgårds kustvatten,3.000,8.162,0.501,3.015,0.100,6.8,18.431,0.620,3.12,1
29,SE652400-223501,1985-01-02,7.50,Norrbottens skärgårds kustvatten,3.000,8.160,0.501,3.015,0.100,6.8,18.431,0.620,3.12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,SE652400-223501,1985-01-07,1.75,Norrbottens skärgårds kustvatten,3.039,8.552,0.453,3.213,0.113,7.2,18.111,0.553,3.33,1
107,SE652400-223501,1985-01-07,2.25,Norrbottens skärgårds kustvatten,3.045,8.547,0.449,3.215,0.111,7.2,18.092,0.549,3.33,1
108,SE652400-223501,1985-01-07,2.75,Norrbottens skärgårds kustvatten,3.050,8.542,0.446,3.217,0.109,7.2,18.077,0.546,3.33,1
109,SE652400-223501,1985-01-07,3.25,Norrbottens skärgårds kustvatten,3.054,8.538,0.443,3.219,0.107,7.2,18.065,0.543,3.33,1
110,SE652400-223501,1985-01-07,3.75,Norrbottens skärgårds kustvatten,3.058,8.534,0.441,3.221,0.106,7.2,18.055,0.541,3.33,1
111,SE652400-223501,1985-01-07,4.50,Norrbottens skärgårds kustvatten,3.062,8.528,0.438,3.223,0.104,7.2,18.045,0.538,3.33,1
112,SE652400-223501,1985-01-07,5.50,Norrbottens skärgårds kustvatten,3.066,8.521,0.435,3.226,0.103,7.2,18.039,0.536,3.33,1
113,SE652400-223501,1985-01-07,6.50,Norrbottens skärgårds kustvatten,3.068,8.515,0.433,3.229,0.102,7.2,18.039,0.534,3.33,1
114,SE652400-223501,1985-01-07,7.50,Norrbottens skärgårds kustvatten,3.070,8.510,0.432,3.233,0.101,7.2,18.043,0.534,3.33,1
115,SE652400-223501,1985-01-07,8.50,Norrbottens skärgårds kustvatten,3.071,8.506,0.432,3.236,0.101,7.2,18.052,0.534,3.34,1
116,SE652400-223501,1985-01-07,9.50,Norrbottens skärgårds kustvatten,3.072,8.503,0.431,3.239,0.100,7.2,18.061,0.534,3.34,1
117,SE652400-223501,1985-01-07,112.50,Norrbottens skärgårds kustvatten,3.262,7.961,0.426,4.257,0.099,7.2,17.547,0.538,4.36,1
118,SE652400-223501,1985-01-07,115.00,Norrbottens skärgårds kustvatten,3.262,7.961,0.426,4.257,0.099,7.2,17.547,0.538,4.36,1
119,SE652400-223501,1985-01-08,0.00,Norrbottens skärgårds kustvatten,3.034,8.571,0.451,3.248,0.119,7.2,18.108,0.549,3.37,1
120,SE652400-223501,1985-01-08,0.25,Norrbottens skärgårds kustvatten,3.034,8.571,0.451,3.248,0.119,7.2,18.108,0.549,3.37,1
121,SE652400-223501,1985-01-08,0.75,Norrbottens skärgårds kustvatten,3.033,8.571,0.451,3.248,0.119,7.2,18.113,0.549,3.37,1
122,SE652400-223501,1985-01-08,1.25,Norrbottens skärgårds kustvatten,3.035,8.571,0.450,3.249,0.118,7.2,18.108,0.549,3.37,1
123,SE652400-223501,1985-01-08,1.75,Norrbottens skärgårds kustvatten,3.039,8.569,0.448,3.250,0.116,7.2,18.095,0.546,3.37,1
124,SE652400-223501,1985-01-08,2.25,Norrbottens skärgårds kustvatten,3.046,8.565,0.444,3.252,0.114,7.2,18.075,0.541,3.37,1
125,SE652400-223501,1985-01-08,2.75,Norrbottens skärgårds kustvatten,3.052,8.561,0.440,3.255,0.112,7.2,18.058,0.538,3.37,1
126,SE652400-223501,1985-01-08,3.25,Norrbottens skärgårds kustvatten,3.058,8.558,0.437,3.257,0.110,7.2,18.043,0.534,3.37,1
127,SE652400-223501,1985-01-08,3.75,Norrbottens skärgårds kustvatten,3.062,8.554,0.434,3.259,0.109,7.2,18.031,0.531,3.37,1
128,SE652400-223501,1985-01-08,4.50,Norrbottens skärgårds kustvatten,3.068,8.548,0.430,3.262,0.106,7.2,18.015,0.528,3.37,1
129,SE652400-223501,1985-01-08,5.50,Norrbottens skärgårds kustvatten,3.073,8.541,0.427,3.266,0.104,7.2,18.002,0.524,3.37,1
130,SE652400-223501,1985-01-08,6.50,Norrbottens skärgårds kustvatten,3.077,8.535,0.424,3.270,0.103,7.2,17.996,0.522,3.37,1
131,SE652400-223501,1985-01-08,7.50,Norrbottens skärgårds kustvatten,3.080,8.530,0.423,3.274,0.102,7.2,17.996,0.521,3.38,1
132,SE652400-223501,1985-01-08,8.50,Norrbottens skärgårds kustvatten,3.081,8.525,0.421,3.278,0.101,7.2,18.000,0.520,3.38,1
133,SE652400-223501,1985-01-08,9.50,Norrbottens skärgårds kustvatten,3.082,8.521,0.421,3.282,0.101,7.2,18.007,0.520,3.38,1
134,SE652400-223501,1985-01-08,112.50,Norrbottens skärgårds kustvatten,3.300,7.911,0.419,4.454,0.100,7.2,17.461,0.531,4.55,1
135,SE652400-223501,1985-01-08,115.00,Norrbottens skärgårds kustvatten,3.300,7.911,0.419,4.454,0.100,7.2,17.461,0.531,4.55,1

In [120]:
B2_NTOT_WINTER_SETTINGS = lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter']
lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter'].allowed_variables
# gör om till
# lv_workspace.get_indicator_ref_settings(step = , subset = , indicator = , waterbody/type)
# ger samma resultat som:
#lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter'].settings.ref_columns

lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter'].settings.get_value('EK G/M', 22)
#print(B2_NTOT_WINTER_SETTINGS)
#B2_NTOT_WINTER_SETTINGS.get_value('2', 'DEPTH_INTERVAL')

'0.85'

In [124]:
av = lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_data_filter_settings['ntot_winter'].allowed_variables
lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_data_filter_settings['ntot_winter'].settings.df[av]

   DEPH_INTERVAL MONTH_LIST
0           0-10   1;2;3;12
1           0-10   1;2;3;12
2           0-10   1;2;3;12
3           0-10   1;2;3;12
4           0-10   1;2;3;12
5           0-10   1;2;3;12
6           0-10   1;2;3;12
7           0-10     1;2;12
8           0-10     1;2;12
9           0-10     1;2;12
10          0-10     1;2;12
11          0-10     1;2;12
12          0-10     1;2;12
13          0-10     1;2;12
14          0-10     1;2;12
15          0-10     1;2;12
16          0-10     1;2;12
17          0-10  1;2;11;12
18          0-10  1;2;11;12
19          0-10  1;2;11;12
20          0-10  1;2;11;12
21          0-10  1;2;11;12
22          0-10  1;2;11;12
23          0-10  1;2;11;12
24          0-10  1;2;11;12
25          0-10     1;2;12
26          0-10   1;2;3;12

In [119]:
lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_data_filter_settings['ntot_winter'].settings.df

,TYPE_AREA_NUMBER,TYPE_AREA_SUFFIX,DEPH_INTERVAL,MIN_NR_YEARS,MIN_NR_VALUES,TIME_DELTA_TOLERANCE,POS_RADIUS_TOLERANCE,DEPH_TOLERANCE,MONTH_LIST,EKV REF,EKV H/G,EKV G/M,EKV M/O,EKV O/D,EK H/G,EK G/M,EK M/O,EK O/D,SALINITY MAX
0,1,n,0-10,3,3,3,0.1,5,1;2;3;12,-0.630*s+36,-0.715*s+40.86,-0.799*s+45.72,-1.0546*s+60.3,-1.480*s+84.6,0.88,0.79,0.6,0.43,27
1,1,s,0-10,3,3,3,0.1,5,1;2;3;12,-0.65*s+30,-0.738*s+34.05,-0.8255*s+38.1,-1.0888*s+50.25,-1.528*s+70.5,0.88,0.79,0.6,0.43,20
2,2,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.630*s+36,-0.715*s+40.86,-0.799*s+45.72,-1.0546*s+60.3,-1.480*s+84.6,0.88,0.79,0.6,0.43,27
3,3,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.630*s+36,-0.715*s+40.86,-0.799*s+45.72,-1.0546*s+60.3,-1.480*s+84.6,0.88,0.79,0.6,0.43,27
4,4,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.65*s+30,-0.738*s+34.05,-0.8255*s+38.1,-1.0888*s+50.25,-1.528*s+70.5,0.88,0.79,0.6,0.43,20
5,5,NaN,0-10,3,3,3,0.1,5,1;2;3;12,0*s+17,0*s+19.295,0*s+21.59,0*s+28.475,0*s+39.95,0.89,0.77,0.61,0.43,20
6,6,NaN,0-10,3,3,3,0.1,5,1;2;3;12,0*s+17,0*s+19.295,0*s+21.59,0*s+28.475,0*s+39.95,0.89,0.77,0.61,0.43,20
7,7,NaN,0-10,3,3,3,0.1,5,1;2;12,-6*s+59,-6.6*s+64.9,-7.2*s+70.8,-9*s+88.5,-12*s+118,0.91,0.84,0.67,0.5,7
8,8,NaN,0-10,3,3,3,0.1,5,1;2;12,-6*s+59,-6.6*s+64.9,-7.2*s+70.8,-9*s+88.5,-12*s+118,0.91,0.84,0.67,0.5,7
9,9,NaN,0-10,3,3,3,0.1,5,1;2;12,-6*s+59,-6.6*s+64.9,-7.2*s+70.8,-9*s+88.5,-12*s+118,0.91,0.84,0.67,0.5,7
10,10,NaN,0-10,3,3,3,0.1,5,1;2;12,0*s+17,0*s+18.7,0*s+20.4,0*s+25.5,0*s+34,0.89,0.85,0.65,0.5,7
11,11,NaN,0-10,3,3,3,0.1,5,1;2;12,0*s+17,0*s+18.7,0*s+20.4,0*s+25.5,0*s+34,0.89,0.85,0.65,0.5,7
12,12,s,0-10,3,3,3,0.1,5,1;2;12,-2.833*s+34,-3.1167*s+37.4,-3.4*s+40.8,-4.25*s+51,-5.6667*s+68,0.91,0.83,0.66,0.5,6
13,12,n,0-10,3,3,3,0.1,5,1;2;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,6
14,13,NaN,0-10,3,3,3,0.1,5,1;2;12,-2.833*s+34,-3.1167*s+37.4,-3.4*s+40.8,-4.25*s+51,-5.6667*s+68,0.91,0.83,0.66,0.5,6
15,14,NaN,0-10,3,3,3,0.1,5,1;2;12,-2.833*s+34,-3.1167*s+37.4,-3.4*s+40.8,-4.25*s+51,-5.6667*s+68,0.91,0.83,0.66,0.5,6
16,15,NaN,0-10,3,3,3,0.1,5,1;2;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,6
17,16,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,5
18,17,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,5
19,18,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.4*s+20,-0.44*s+22,-0.48*s+24,-0.6*s+30,-0.8*s+40,0.91,0.83,0.66,0.5,5
20,19,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.4*s+20,-0.44*s+22,-0.48*s+24,-0.6*s+30,-0.8*s+40,0.91,0.83,0.66,0.5,5
21,20,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.6*s+21,-0.66*s+23.1,-0.72*s+25.2,-0.9*s+31.5,-1.2*s+42,0.91,0.83,0.67,0.5,5
22,21,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.6*s+21,-0.66*s+23.1,-0.72*s+25.2,-0.9*s+31.5,-1.2*s+42,0.91,0.83,0.67,0.5,5
23,22,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+21,-1.09*s+22.89,-1.18*s+24.78,-1.45*s+30.45,-1.9*s+39.9,0.93,0.85,0.68,0.51,3
24,23,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+21,-1.09*s+22.89,-1.18*s+24.78,-1.45*s+30.45,-1.9*s+39.9,0.93,0.85,0.68,0.51,3
25,24,NaN,0-10,3,3,3,0.1,5,1;2;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,6
26,25,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.65*s+30,-0.738*s+34.05,-0.8255*s+38.1,-1.0888*s+50.25,-1.528*s+70.5,0.88,0.79,0.6,0.43,20

In [67]:
B2_NTOT_WINTER_SETTINGS.settings.mapping_water_body['N m Bottenvikens kustvatten']

{'BASIN_NUMBER': '110002.0',
 'CENTER_LAT': '64° 42\' 35,349"',
 'CENTER_LON': '21° 24\' 5,383"',
 'EU_CD': 'SE648760-213140',
 'HID': '649640-214530',
 'TYPE_AREA_NUMBER': '23',
 'TYPE_AREA_SUFFIX': '',
 'URL_VISS': 'http://www.viss.lansstyrelsen.se/waters.aspx?waterEUID=SE648760-213140'}

### Set subset time and area filter

In [35]:
f1_A = lv_workspace.get_data_filter_object(step=1, subset='A') 
f1_A.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Gullmarn centralbassäng', 'Rivö fjord'],
 'STATN': ['BJÖRKHOLMEN']}

In [136]:
lv_workspace.get_data_filter_info(step=1, subset='A')

{'exclude_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN'],
 'include_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN']}

In [36]:
f1_A.exclude_list_filter

{'MYEAR': ['2015', '2016'], 'SEA_AREA_NAME': [], 'STATN': ['SLÄGGÖ']}

In [21]:
f0.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Byfjorden',
  'Gullmarn centralbassäng',
  'Havstensfjorden',
  'Rivö fjord'],
 'STATN': []}

### Apply subset filter

In [22]:
lv_workspace.apply_subset_filter(subset='A') # Not handled properly by the IndexHandler

True

### Extract filtered data

In [23]:
data_after_subset_filter = lv_workspace.get_filtered_data(level=1, subset='A') # level=0 means first filter 
print('{} rows mathing the filter criteria'.format(len(data_after_subset_filter)))
data_after_subset_filter.head()

198 rows mathing the filter criteria

,AMON,BQIm,CPHL,DEPH,DOXY_BTL,DOXY_CTD,LATIT_DD,LONGI_DD,MNDEP,MXDEP,...,SERNO,SHARKID_MD5,SHIPC,STATN,STIME,TEMP_BTL,TEMP_CTD,WATER_DISTRICT,WATER_TYPE_AREA,WLTYP
2628,0.76,NaN,0.6,0.0,7.05,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,4.96,4.84,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2629,0.72,NaN,0.5,2.0,7.12,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,4.93,4.84,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2630,0.74,NaN,0.6,5.0,7.16,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,4.88,4.84,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2631,0.65,NaN,0.5,10.0,7.11,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,5.12,4.86,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2632,0.46,NaN,0.3,15.0,6.86,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,5.52,5.10,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM

In [24]:
# show available waterbodies
lst = data_after_subset_filter.SEA_AREA_NAME.unique()
print('Waterbodies in subset:\n{}'.format('\n'.join(lst)))

Waterbodies in subset:
Gullmarn centralbassäng

In [24]:
import numpy as np
np.where(lv_workspace.index_handler.subset_filter)

(array([2629, 2630, 2631, 2632, 2633, 2634, 2635, 2636, 2637, 2638, 2639,
        2754, 2755, 2756, 2757, 2758, 2759, 2760, 2761, 2762, 2763, 2764,
        2870, 2871, 2872, 2873, 2874, 2875, 2876, 2877, 2878, 2879, 2880,
        2952, 2953, 2954, 2955, 2956, 2957, 2958, 2959, 2960, 2961, 2962,
        3077, 3078, 3079, 3080, 3081, 3082, 3083, 3084, 3085, 3086, 3087,
        3185, 3186, 3187, 3188, 3189, 3190, 3191, 3192, 3193, 3194, 3195,
        3282, 3283, 3284, 3285, 3286, 3287, 3288, 3289, 3290, 3291, 3292,
        3409, 3410, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419,
        3493, 3494, 3495, 3496, 3497, 3498, 3499, 3500, 3501, 3502, 3503,
        3624, 3625, 3626, 3627, 3628, 3629, 3630, 3631, 3632, 3633, 3634,
        3717, 3718, 3719, 3720, 3721, 3722, 3723, 3724, 3725, 3726, 3727,
        3859, 3860, 3861, 3862, 3863, 3864, 3865, 3866, 3867, 3868, 3869,
        3979, 3980, 3981, 3982, 3983, 3984, 3985, 3986, 3987, 3988, 3989,
        4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4120,
        4265, 4266, 4267, 4268, 4269, 4270, 4271, 4272, 4273, 4274, 4275,
        4354, 4355, 4356, 4357, 4358, 4359, 4360, 4361, 4362, 4363, 4364,
        4502, 4503, 4504, 4505, 4506, 4507, 4508, 4509, 4510, 4511, 4512,
        4806, 4807, 4808, 4809, 4810, 4811, 4812, 4813, 4814, 4815, 4816], dtype=int64),)

In [25]:
f = lv_workspace.get_data_filter_object(step=1, subset='A')

In [26]:
f.all_filters

{'exclude_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN'],
 'include_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN']}

In [27]:
f.exclude_list_filter

{'MYEAR': ['2015', '2016'], 'SEA_AREA_NAME': [], 'STATN': ['SLÄGGÖ']}

In [28]:
f.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Gullmarn centralbassäng', 'Rivö fjord'],
 'STATN': ['BJÖRKHOLMEN']}

In [29]:
s = lv_workspace.get_step_1_object('A')

In [30]:
s.data_filter.all_filters

{'exclude_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN'],
 'include_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN']}

In [31]:
f0 = lv_workspace.get_data_filter_object(step=0)

In [32]:
f0.exclude_list_filter

{'MYEAR': ['2015', '2016'], 'SEA_AREA_NAME': [], 'STATN': []}

In [33]:
f0.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Byfjorden',
  'Gullmarn centralbassäng',
  'Havstensfjorden',
  'Rivö fjord'],
 'STATN': []}

# Quality factor Nutrients

In [ ]:
lv_workspace.initiate_quality_factors()