In [82]:
# Reload when code changed:
%load_ext autoreload
%autoreload 2
%pwd
import os 
import sys
path = "../"
sys.path.append(path)
#os.path.abspath("../")
print(os.path.abspath(path))

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
D:\github\ekostat_calculator

In [83]:
import pandas as pd
import numpy as np
import json
import timeit

import core
import importlib
importlib.reload(core)
import logging
importlib.reload(core) 
try:
    logging.shutdown()
    importlib.reload(logging)
except:
    pass
from event_handler import EventHandler
print(core.__file__)
pd.__version__

..\core\__init__.py

'0.19.2'

### Load directories

In [84]:
root_directory = "../" #os.getcwd()
workspace_directory = root_directory + '/workspaces' 
resource_directory = root_directory + '/resources'
alias = 'lena'
user_id = 'test_user' #kanske ska vara off_line user?
workspace_alias = 'lena_indicator'

## Initiate EventHandler

In [85]:
ekos = EventHandler(root_directory)

2018-04-25 17:21:58,261	logger.py	85	add_log	DEBUG
2018-04-25 17:21:58,263	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-04-25 17:21:58,266	logger.py	87	add_log	DEBUG	### Log added for log_id "event_handler" at locaton: ..\log\main_event_handler.log
2018-04-25 17:21:58,269	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------
2018-04-25 17:21:58,274	event_handler.py	64	__init__	DEBUG	Start EventHandler: event_handler
2018-04-25 17:21:58,276	event_handler.py	65	__init__	DEBUG
2018-04-25 17:21:58,279	event_handler.py	66	__init__	INFO	TEST info logger
2018-04-25 17:21:58,281	event_handler.py	67	__init__	WARNING	TEST warning logger
2018-04-25 17:21:58,283	event_handler.py	68	__init__	ERROR	TEST error logger
2018-04-25 17:21:58,285	event_handler.py	69	__init__	DEBUG	TEST debug logger

====================================================================================================
event_handler
..//log
main
----------------------------------------------------------------------------------------------------
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
dict_keys(['main_event_handler'])
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
event_handler _ main_event_handler

### Load existing workspace

In [86]:
ekos.load_workspace(user_id, alias = workspace_alias)
# Här får jag ofta felmeddelande:
# AttributeError: module 'core' has no attribute 'ParameterMapping'

2018-04-25 17:21:59,675	event_handler.py	1491	load_workspace	DEBUG	Trying to load workspace "147f5d47-773c-43f0-b337-57208718d0cf" with alias "lena_indicator"
2018-04-25 17:21:59,752	logger.py	85	add_log	DEBUG
2018-04-25 17:21:59,753	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-04-25 17:21:59,755	logger.py	87	add_log	DEBUG	### Log added for log_id "30062c90-2a60-4ee1-9944-f00329db1174" at locaton: ..\workspaces\147f5d47-773c-43f0-b337-57208718d0cf\log\subset_30062c90-2a60-4ee1-9944-f00329db1174.log
2018-04-25 17:21:59,758	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------
2018-04-25 17:21:59,802	logger.py	85	add_log	DEBUG
2018-04-25 17:21:59,805	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-04-25 17:21:59,807	logger.py	87	add_log	DEBUG	### Log added for log_id "default_subset" at locaton: ..\workspaces\147f5d47-773c-43f0-b337-57208718d0cf\log\subset_default_subset.log
2018-04-25 17:21:59,808	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------

====================================================================================================
Initiating WorkSpace: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf
Parent directory is: ..//workspaces
Resource directory is: ..//resources
=== 30062c90-2a60-4ee1-9944-f00329db1174
status ['editable', 'readable', 'deleted']
!!! A
!!! 30062c90-2a60-4ee1-9944-f00329db1174
!!! ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets
----------------------------------------------------------------------------------------------------
Initiating Subset: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174
===
..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174/step_1
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174/step_2
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174/step_3
====================================================================================================
30062c90-2a60-4ee1-9944-f00329db1174
..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/log
subset
----------------------------------------------------------------------------------------------------
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
dict_keys(['main_event_handler', 'subset_30062c90-2a60-4ee1-9944-f00329db1174'])
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
30062c90-2a60-4ee1-9944-f00329db1174 _ main_event_handler
30062c90-2a60-4ee1-9944-f00329db1174 _ subset_30062c90-2a60-4ee1-9944-f00329db1174
=== default_subset
!!! default_subset
!!! default_subset
!!! ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets
----------------------------------------------------------------------------------------------------
Initiating Subset: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset
===
..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset/step_1
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset/step_2
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset/step_3
====================================================================================================
default_subset
..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/log
subset
----------------------------------------------------------------------------------------------------
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
dict_keys(['main_event_handler', 'subset_30062c90-2a60-4ee1-9944-f00329db1174', 'subset_default_subset'])
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
default_subset _ main_event_handler
default_subset _ subset_30062c90-2a60-4ee1-9944-f00329db1174
default_subset _ subset_default_subset
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/step_0

2018-04-25 17:22:00,050	logger.py	85	add_log	DEBUG
2018-04-25 17:22:00,052	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-04-25 17:22:00,053	logger.py	87	add_log	DEBUG	### Log added for log_id "147f5d47-773c-43f0-b337-57208718d0cf" at locaton: ..\workspaces\147f5d47-773c-43f0-b337-57208718d0cf\log\workspace_147f5d47-773c-43f0-b337-57208718d0cf.log
2018-04-25 17:22:00,059	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------

====================================================================================================
147f5d47-773c-43f0-b337-57208718d0cf
..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/log
workspace
----------------------------------------------------------------------------------------------------
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
dict_keys(['main_event_handler', 'subset_30062c90-2a60-4ee1-9944-f00329db1174', 'subset_default_subset', 'workspace_147f5d47-773c-43f0-b337-57208718d0cf'])
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
147f5d47-773c-43f0-b337-57208718d0cf _ main_event_handler
147f5d47-773c-43f0-b337-57208718d0cf _ subset_30062c90-2a60-4ee1-9944-f00329db1174
147f5d47-773c-43f0-b337-57208718d0cf _ subset_default_subset
147f5d47-773c-43f0-b337-57208718d0cf _ workspace_147f5d47-773c-43f0-b337-57208718d0cf

True

In [87]:
workspace_uuid = ekos.get_unique_id_for_alias(user_id, workspace_alias)
print(workspace_uuid)

147f5d47-773c-43f0-b337-57208718d0cf

In [88]:
#ekos.import_default_data(user_id, workspace_alias = workspace_alias, force = True)

### Load all data in workspace

In [89]:
#ekos.get_workspace(user_id, unique_id = workspace_uuid, alias = workspace_alias).delete_alldata_export()

In [90]:
#%%timeit
ekos.load_data(user_id = user_id, unique_id = workspace_uuid)
w = ekos.get_workspace(user_id, unique_id = workspace_uuid, alias = workspace_alias)
len(w.data_handler.get_all_column_data_df())

2018-04-25 17:22:04,381	workspaces.py	1607	load_all_data	DEBUG	Data has been loaded from existing all_data.pickle file.
2018-04-25 17:22:04,385	event_handler.py	926	get_workspace	DEBUG	Getting workspace "147f5d47-773c-43f0-b337-57208718d0cf" with alias "lena_indicator"

106094

# Step 0

### Apply first data filter

In [91]:
w.apply_data_filter(step = 0) # This sets the first level of data filter in the IndexHandler

add filter for step: step_0, waterbody: None, indicator: None

# Step 1 Set subset filter

In [92]:
subset_uuid = ekos.get_unique_id_for_alias(user_id, workspace_alias = workspace_alias, subset_alias = 'A')
print(w.get_subset_list())

f1 = w.get_data_filter_object(subset = subset_uuid, step=1) 
print(f1.include_list_filter)

w.apply_data_filter(subset = subset_uuid, step = 1)

df_step1 = w.get_filtered_data(step = 1, subset = subset_uuid)
#print(df_step1.columns)
#df_step1[['SDATE', 'YEAR', 'MONTH', 'POSITION', 'VISS_EU_CD', 'WATER_TYPE_AREA', 'DEPH', 'MNDEP', 'MXDEP','BQIm']].dropna(subset = ['BQIm'])

['30062c90-2a60-4ee1-9944-f00329db1174', 'default_subset']
{'MYEAR': ['2013', '2014', '2015', '2016', '2017', '2018', '2019'], 'STATN': [], 'WATER_BODY': []}
add filter for step: step_1, waterbody: None, indicator: None

2018-04-25 17:22:08,559	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_1

# Step 2

In [93]:
w.get_step_object(step = 2, subset = subset_uuid).load_indicator_settings_filters()

temp = w.get_step_object(step = 2, subset = subset_uuid).indicator_data_filter_settings['bqi']
temp.get_value(variable='MONTH_LIST', type_area='1', water_body = None)
#temp.settings.df

----
water_body None, type_area 1, variable MONTH_LIST
num 1, suf , suf? ['' '']
0    5;6
1    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]

[5, 6]

In [94]:
w.get_step_object(step = 2, subset = subset_uuid).get_indicator_data_filter_settings('oxygen')

In [95]:
w.get_step_object(step = 2, subset = subset_uuid).indicator_ref_settings

{'biov': <core.filters.SettingsRef at 0xa7d0860>,
 'bqi': <core.filters.SettingsRef at 0xa7d07f0>,
 'chl': <core.filters.SettingsRef at 0xa7d0940>,
 'din_winter': <core.filters.SettingsRef at 0xa7d09b0>,
 'dip_winter': <core.filters.SettingsRef at 0xa7d09e8>,
 'ntot_summer': <core.filters.SettingsRef at 0xa7d0a20>,
 'ntot_winter': <core.filters.SettingsRef at 0xa7d0a58>,
 'oxygen': <core.filters.SettingsRef at 0xa7d0ac8>,
 'ptot_summer': <core.filters.SettingsRef at 0xa7d0b38>,
 'ptot_winter': <core.filters.SettingsRef at 0xa7d0b00>,
 'secchi': <core.filters.SettingsRef at 0xa7d0ba8>}

In [96]:
w.get_step_object(step = 2, subset = subset_uuid)._indicator_setting_files['oxygen']

In [97]:
indicator_list = w.get_available_indicators(subset= 'A', step=2)

2018-04-25 17:22:14,862	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-04-25 17:22:15,013	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-04-25 17:22:15,154	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-04-25 17:22:15,310	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-04-25 17:22:15,461	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-04-25 17:22:15,613	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-04-25 17:22:15,759	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-04-25 17:22:15,912	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-04-25 17:22:16,053	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

"['TOT_COVER_ALL'] not in index"
subset A

2018-04-25 17:22:16,494	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-04-25 17:22:16,616	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-04-25 17:22:16,755	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

subset A

#### Apply indicator filter

In [98]:
wb_list = df_step1.VISS_EU_CD.unique()
print('number of waterbodies in step 1: {}'.format(len(wb_list)))
typeA_list = [row.split('-')[0].strip().lstrip('0') for row in df_step1.WATER_TYPE_AREA.unique()]
print('number of type areas in step 1: {}'.format(len(typeA_list)))

number of waterbodies in step 1: 310
number of type areas in step 1: 27

0

In [99]:
#list(zip(typeA_list, df_step1.WATER_TYPE_AREA.unique()))
indicator_list = ['oxygen','bqi','din_winter','ntot_summer', 'ntot_winter', 'dip_winter', 'ptot_summer', 'ptot_winter', 'biov', 'chl', 'secchi']
for indicator in indicator_list:
    w.apply_indicator_data_filter(step = 2, 
                          subset = subset_uuid, 
                          indicator = indicator)

2018-04-25 17:22:31,686	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

add filter for step: step_2, waterbody: SE584340-174401, indicator: None
add filter for step: step_2, waterbody: SE584340-174401, indicator: oxygen
Water body SE584340-174401
----
water_body SE584340-174401, type_area 14, variable MONTH_LIST
num 14, suf , suf? ['']
25    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE581700-113000, indicator: None
add filter for step: step_2, waterbody: SE581700-113000, indicator: oxygen
Water body SE581700-113000
----
water_body SE581700-113000, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['' '' '' '' '']
2    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE561400-161201, indicator: None
add filter for step: step_2, waterbody: SE561400-161201, indicator: oxygen
Water body SE561400-161201
----
water_body SE561400-161201, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
18    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE654470-222700, indicator: None
add filter for step: step_2, waterbody: SE654470-222700, indicator: oxygen
Water body SE654470-222700
----
water_body SE654470-222700, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
33    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE633000-195000, indicator: None
add filter for step: step_2, waterbody: SE633000-195000, indicator: oxygen
Water body SE633000-195000
----
water_body SE633000-195000, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
31    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE625180-181655, indicator: None
add filter for step: step_2, waterbody: SE625180-181655, indicator: oxygen
Water body SE625180-181655
----
water_body SE625180-181655, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
29    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE654820-222660, indicator: None
add filter for step: step_2, waterbody: SE654820-222660, indicator: oxygen
Water body SE654820-222660
----
water_body SE654820-222660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
33    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE625000-180075, indicator: None
add filter for step: step_2, waterbody: SE625000-180075, indicator: oxygen
Water body SE625000-180075
----
water_body SE625000-180075, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
29    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE628750-183300, indicator: None
add filter for step: step_2, waterbody: SE628750-183300, indicator: oxygen
Water body SE628750-183300
----
water_body SE628750-183300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
29    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE631346-184241, indicator: None
add filter for step: step_2, waterbody: SE631346-184241, indicator: oxygen
Water body SE631346-184241
----
water_body SE631346-184241, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
29    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE631646-185280, indicator: None
add filter for step: step_2, waterbody: SE631646-185280, indicator: oxygen
Water body SE631646-185280
----
water_body SE631646-185280, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
29    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE583730-164501, indicator: None
add filter for step: step_2, waterbody: SE583730-164501, indicator: oxygen
Water body SE583730-164501
----
water_body SE583730-164501, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n' 'n']
22    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE582705-163350, indicator: None
add filter for step: step_2, waterbody: SE582705-163350, indicator: oxygen
Water body SE582705-163350
----
water_body SE582705-163350, type_area 13, variable MONTH_LIST
num 13, suf , suf? ['']
24    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE582050-165820, indicator: None
add filter for step: step_2, waterbody: SE582050-165820, indicator: oxygen
Water body SE582050-165820
----
water_body SE582050-165820, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n' 'n']
21    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE582147-111771, indicator: None
add filter for step: step_2, waterbody: SE582147-111771, indicator: oxygen
Water body SE582147-111771
----
water_body SE582147-111771, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['s' 'n']
1    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE580688-114860, indicator: None
add filter for step: step_2, waterbody: SE580688-114860, indicator: oxygen
Water body SE580688-114860
----
water_body SE580688-114860, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['' '' '' '' '']
2    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE575500-113750, indicator: None
add filter for step: step_2, waterbody: SE575500-113750, indicator: oxygen
Water body SE575500-113750
----
water_body SE575500-113750, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['s' 'n']
1    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE574050-114780, indicator: None
add filter for step: step_2, waterbody: SE574050-114780, indicator: oxygen
Water body SE574050-114780
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
add filter for step: step_2, waterbody: SE625900-174360, indicator: None
add filter for step: step_2, waterbody: SE625900-174360, indicator: oxygen
Water body SE625900-174360
----
water_body SE625900-174360, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
29    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE630383-183500, indicator: None
add filter for step: step_2, waterbody: SE630383-183500, indicator: oxygen
Water body SE630383-183500
----
water_body SE630383-183500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
29    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE633550-200700, indicator: None
add filter for step: step_2, waterbody: SE633550-200700, indicator: oxygen
Water body SE633550-200700
----
water_body SE633550-200700, type_area 21, variable MONTH_LIST
num 21, suf , suf? ['']
32    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE636570-203590, indicator: None
add filter for step: step_2, waterbody: SE636570-203590, indicator: oxygen
Water body SE636570-203590
----
water_body SE636570-203590, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
31    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE633043-193300, indicator: None
add filter for step: step_2, waterbody: SE633043-193300, indicator: oxygen
Water body SE633043-193300
----
water_body SE633043-193300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
29    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE552170-130626, indicator: None
add filter for step: step_2, waterbody: SE552170-130626, indicator: oxygen
Water body SE552170-130626
----
water_body SE552170-130626, type_area 7, variable MONTH_LIST
num 7, suf , suf? ['']
16    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE562000-123800, indicator: None
add filter for step: step_2, waterbody: SE562000-123800, indicator: oxygen
Water body SE562000-123800
----
water_body SE562000-123800, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['' '' '' '' '']
9    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE591400-183200, indicator: None
add filter for step: step_2, waterbody: SE591400-183200, indicator: oxygen
Water body SE591400-183200
----
water_body SE591400-183200, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n' 'n']
22    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE591200-183600, indicator: None
add filter for step: step_2, waterbody: SE591200-183600, indicator: oxygen
Water body SE591200-183600
----
water_body SE591200-183600, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n' 'n']
22    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE592040-184000, indicator: None
add filter for step: step_2, waterbody: SE592040-184000, indicator: oxygen
Water body SE592040-184000
----
water_body SE592040-184000, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n' 'n']
22    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE592245-184400, indicator: None
add filter for step: step_2, waterbody: SE592245-184400, indicator: oxygen
Water body SE592245-184400
----
water_body SE592245-184400, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n' 'n']
22    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE600740-183460, indicator: None
add filter for step: step_2, waterbody: SE600740-183460, indicator: oxygen
Water body SE600740-183460
----
water_body SE600740-183460, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
27    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE601070-182870, indicator: None
add filter for step: step_2, waterbody: SE601070-182870, indicator: oxygen
Water body SE601070-182870
----
water_body SE601070-182870, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
27    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE631610-184500, indicator: None
add filter for step: step_2, waterbody: SE631610-184500, indicator: oxygen
Water body SE631610-184500
----
water_body SE631610-184500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
29    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE625500-175153, indicator: None
add filter for step: step_2, waterbody: SE625500-175153, indicator: oxygen
Water body SE625500-175153
----
water_body SE625500-175153, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
29    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE622126-172430, indicator: None
add filter for step: step_2, waterbody: SE622126-172430, indicator: oxygen
Water body SE622126-172430
----
water_body SE622126-172430, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
29    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE622339-172190, indicator: None
add filter for step: step_2, waterbody: SE622339-172190, indicator: oxygen
Water body SE622339-172190
----
water_body SE622339-172190, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
29    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE652920-222650, indicator: None
add filter for step: step_2, waterbody: SE652920-222650, indicator: oxygen
Water body SE652920-222650
----
water_body SE652920-222650, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
33    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE656620-222480, indicator: None
add filter for step: step_2, waterbody: SE656620-222480, indicator: oxygen
Water body SE656620-222480
----
water_body SE656620-222480, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
33    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE656300-222750, indicator: None
add filter for step: step_2, waterbody: SE656300-222750, indicator: oxygen
Water body SE656300-222750
----
water_body SE656300-222750, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
33    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE655120-220380, indicator: None
add filter for step: step_2, waterbody: SE655120-220380, indicator: oxygen
Water body SE655120-220380
----
water_body SE655120-220380, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
33    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE655180-218660, indicator: None

2018-04-25 17:22:47,282	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE654291-224000, indicator: None
add filter for step: step_2, waterbody: SE654291-224000, indicator: oxygen
Water body SE654291-224000
----
water_body SE654291-224000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
33    1;2;3;4;5;6;7;8;9;10;11;12
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['1;2;3;4;5;6;7;8;9;10;11;12'] <class 'numpy.ndarray'>
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
RESULT [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
add filter for step: step_2, waterbody: SE584340-174401, indicator: bqi
Water body SE584340-174401
----
water_body SE584340-174401, type_area 14, variable MONTH_LIST
num 14, suf , suf? ['']
19    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE581700-113000, indicator: bqi
Water body SE581700-113000
----
water_body SE581700-113000, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['' '']
2    5;6
3    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE561400-161201, indicator: bqi
Water body SE561400-161201
----
water_body SE561400-161201, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
14    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE654470-222700, indicator: bqi
Water body SE654470-222700
----
water_body SE654470-222700, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
27    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE633000-195000, indicator: bqi
Water body SE633000-195000
----
water_body SE633000-195000, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
25    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE625180-181655, indicator: bqi
Water body SE625180-181655
----
water_body SE625180-181655, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
23    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE654820-222660, indicator: bqi
Water body SE654820-222660
----
water_body SE654820-222660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
27    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE625000-180075, indicator: bqi
Water body SE625000-180075
----
water_body SE625000-180075, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
23    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE628750-183300, indicator: bqi
Water body SE628750-183300
----
water_body SE628750-183300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
23    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE631346-184241, indicator: bqi
Water body SE631346-184241
----
water_body SE631346-184241, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
23    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE631646-185280, indicator: bqi
Water body SE631646-185280
----
water_body SE631646-185280, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
23    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE583730-164501, indicator: bqi
Water body SE583730-164501
----
water_body SE583730-164501, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['']
17    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE582705-163350, indicator: bqi
Water body SE582705-163350
----
water_body SE582705-163350, type_area 13, variable MONTH_LIST
num 13, suf , suf? ['']
18    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE582050-165820, indicator: bqi
Water body SE582050-165820
----
water_body SE582050-165820, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['']
17    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE582147-111771, indicator: bqi
Water body SE582147-111771
----
water_body SE582147-111771, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['' '']
0    5;6
1    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE580688-114860, indicator: bqi
Water body SE580688-114860
----
water_body SE580688-114860, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['' '']
2    5;6
3    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE575500-113750, indicator: bqi
Water body SE575500-113750
----
water_body SE575500-113750, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['' '']
0    5;6
1    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE574050-114780, indicator: bqi
Water body SE574050-114780
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
add filter for step: step_2, waterbody: SE625900-174360, indicator: bqi
Water body SE625900-174360
----
water_body SE625900-174360, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
23    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE630383-183500, indicator: bqi
Water body SE630383-183500
----
water_body SE630383-183500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
23    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE633550-200700, indicator: bqi
Water body SE633550-200700
----
water_body SE633550-200700, type_area 21, variable MONTH_LIST
num 21, suf , suf? ['']
26    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE636570-203590, indicator: bqi
Water body SE636570-203590
----
water_body SE636570-203590, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
25    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE633043-193300, indicator: bqi
Water body SE633043-193300
----
water_body SE633043-193300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
23    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE552170-130626, indicator: bqi
Water body SE552170-130626
----
water_body SE552170-130626, type_area 7, variable MONTH_LIST
num 7, suf , suf? ['']
12    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE562000-123800, indicator: bqi
Water body SE562000-123800
----
water_body SE562000-123800, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['' '']
8    5;6
9    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE591400-183200, indicator: bqi
Water body SE591400-183200
----
water_body SE591400-183200, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['']
17    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE591200-183600, indicator: bqi
Water body SE591200-183600
----
water_body SE591200-183600, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['']
17    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE592040-184000, indicator: bqi
Water body SE592040-184000
----
water_body SE592040-184000, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['']
17    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE592245-184400, indicator: bqi
Water body SE592245-184400
----
water_body SE592245-184400, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['']
17    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE600740-183460, indicator: bqi
Water body SE600740-183460
----
water_body SE600740-183460, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
21    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE601070-182870, indicator: bqi
Water body SE601070-182870
----
water_body SE601070-182870, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
21    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE631610-184500, indicator: bqi
Water body SE631610-184500
----
water_body SE631610-184500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
23    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE625500-175153, indicator: bqi
Water body SE625500-175153
----
water_body SE625500-175153, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
23    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE622126-172430, indicator: bqi
Water body SE622126-172430
----
water_body SE622126-172430, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
23    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE622339-172190, indicator: bqi
Water body SE622339-172190
----
water_body SE622339-172190, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
23    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE652920-222650, indicator: bqi
Water body SE652920-222650
----
water_body SE652920-222650, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
27    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE656620-222480, indicator: bqi
Water body SE656620-222480
----
water_body SE656620-222480, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
27    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE656300-222750, indicator: bqi
Water body SE656300-222750
----
water_body SE656300-222750, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
27    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE655120-220380, indicator: bqi
Water body SE655120-220380
----
water_body SE655120-220380, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
27    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE655180-218660, indicator: bqi
Water body SE655180-218660
----
water_body SE655180-218660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
27    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE636150-199220, indicator: bqi
Water body SE636150-199220
----
water_body SE636150-199220, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
25    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE635040-204196, indicator: bqi
Water body SE635040-204196
----
water_body SE635040-204196, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
25    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE637070-204260, indicator: bqi
Water body SE637070-204260
----
water_body SE637070-204260, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
25    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE636910-204040, indicator: bqi
Water body SE636910-204040
----
water_body SE636910-204040, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
25    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE602120-181610, indicator: bqi
Water body SE602120-181610
----
water_body SE602120-181610, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
21    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE582000-115270, indicator: bqi
Water body SE582000-115270
----
water_body SE582000-115270, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['' '']
2    5;6
3    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE575700-114240, indicator: bqi
Water body SE575700-114240
----
water_body SE575700-114240, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['' '']
2    5;6
3    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE581740-114820, indicator: bqi
Water body SE581740-114820
----
water_body SE581740-114820, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['' '']
2    5;6
3    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE563330-124600, indicator: bqi
Water body SE563330-124600
----
water_body SE563330-124600, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['' '']
8    5;6
9    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE654860-219880, indicator: bqi
Water body SE654860-219880
----
water_body SE654860-219880, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
27    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE647050-213980, indicator: bqi
Water body SE647050-213980
'WaterBody' object has no attribute 'SESE647050-213980'
waterbody matching file does not recognise water body with VISS_EU_CD SE647050-213980
RESULT False
add filter for step: step_2, waterbody: SE575340-113000, indicator: bqi
Water body SE575340-113000
----
water_body SE575340-113000, type_area 3, variable MONTH_LIST
num 3, suf , suf? ['' '']
4    5;6
5    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE654500-232000, indicator: bqi
Water body SE654500-232000
----
water_body SE654500-232000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
27    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE652400-223501, indicator: bqi
Water body SE652400-223501
----
water_body SE652400-223501, type_area 23, variable MONTH_LIST
num 23, suf , suf? ['']
28    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE653900-223280, indicator: bqi
Water body SE653900-223280
----
water_body SE653900-223280, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
27    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE582000-112350, indicator: bqi
Water body SE582000-112350
----
water_body SE582000-112350, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['' '']
0    5;6
1    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE581260-113220, indicator: bqi
Water body SE581260-113220
----
water_body SE581260-113220, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['' '']
2    5;6
3    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE574000-114230, indicator: bqi
Water body SE574000-114230
----
water_body SE574000-114230, type_area 1-s, variable MONTH_LIST
num 1, suf s, suf? ['' '']
0    5;6
1    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE585100-110600, indicator: bqi
Water body SE585100-110600
----
water_body SE585100-110600, type_area 3, variable MONTH_LIST
num 3, suf , suf? ['' '']
4    5;6
5    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6' '5;6'] <class 'numpy.ndarray'>
[[5, 6], [5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE572540-114801, indicator: bqi
Water body SE572540-114801
----
water_body SE572540-114801, type_area 4, variable MONTH_LIST

2018-04-25 17:22:56,721	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

20    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE611766-171305, indicator: bqi
Water body SE611766-171305
----
water_body SE611766-171305, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
21    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE575150-190400, indicator: bqi
Water body SE575150-190400
----
water_body SE575150-190400, type_area 10, variable MONTH_LIST
num 10, suf , suf? ['']
15    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE654291-224000, indicator: bqi
Water body SE654291-224000
----
water_body SE654291-224000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
27    5;6
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['5;6'] <class 'numpy.ndarray'>
[[5, 6]]
RESULT [5, 6]
add filter for step: step_2, waterbody: SE584340-174401, indicator: din_winter
Water body SE584340-174401
----
water_body SE584340-174401, type_area 14, variable DEPH_INTERVAL
num 14, suf , suf? ['']
15    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE584340-174401, type_area 14, variable MONTH_LIST
num 14, suf , suf? ['']
15    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE581700-113000, indicator: din_winter
Water body SE581700-113000
----
water_body SE581700-113000, type_area 2, variable DEPH_INTERVAL
num 2, suf , suf? ['']
2    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE581700-113000, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE561400-161201, indicator: din_winter
Water body SE561400-161201
----
water_body SE561400-161201, type_area 9, variable DEPH_INTERVAL
num 9, suf , suf? ['']
9    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE561400-161201, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE654470-222700, indicator: din_winter
Water body SE654470-222700
----
water_body SE654470-222700, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654470-222700, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE633000-195000, indicator: din_winter
Water body SE633000-195000
----
water_body SE633000-195000, type_area 20, variable DEPH_INTERVAL
num 20, suf , suf? ['']
21    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633000-195000, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE625180-181655, indicator: din_winter
Water body SE625180-181655
----
water_body SE625180-181655, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625180-181655, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE654820-222660, indicator: din_winter
Water body SE654820-222660
----
water_body SE654820-222660, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654820-222660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE625000-180075, indicator: din_winter
Water body SE625000-180075
----
water_body SE625000-180075, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625000-180075, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE628750-183300, indicator: din_winter
Water body SE628750-183300
----
water_body SE628750-183300, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE628750-183300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE631346-184241, indicator: din_winter
Water body SE631346-184241
----
water_body SE631346-184241, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631346-184241, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE631646-185280, indicator: din_winter
Water body SE631646-185280
----
water_body SE631646-185280, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631646-185280, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE583730-164501, indicator: din_winter
Water body SE583730-164501
----
water_body SE583730-164501, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE583730-164501, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE582705-163350, indicator: din_winter
Water body SE582705-163350
----
water_body SE582705-163350, type_area 13, variable DEPH_INTERVAL
num 13, suf , suf? ['']
14    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582705-163350, type_area 13, variable MONTH_LIST
num 13, suf , suf? ['']
14    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE582050-165820, indicator: din_winter
Water body SE582050-165820
----
water_body SE582050-165820, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582050-165820, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE582147-111771, indicator: din_winter
Water body SE582147-111771
----
water_body SE582147-111771, type_area 1-n, variable DEPH_INTERVAL
num 1, suf n, suf? ['n' 's']
0    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582147-111771, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE580688-114860, indicator: din_winter
Water body SE580688-114860
----
water_body SE580688-114860, type_area 2, variable DEPH_INTERVAL
num 2, suf , suf? ['']
2    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE580688-114860, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE575500-113750, indicator: din_winter
Water body SE575500-113750
----
water_body SE575500-113750, type_area 1-n, variable DEPH_INTERVAL
num 1, suf n, suf? ['n' 's']
0    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE575500-113750, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE574050-114780, indicator: din_winter
Water body SE574050-114780
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
add filter for step: step_2, waterbody: SE625900-174360, indicator: din_winter
Water body SE625900-174360
----
water_body SE625900-174360, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625900-174360, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE630383-183500, indicator: din_winter
Water body SE630383-183500
----
water_body SE630383-183500, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE630383-183500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE633550-200700, indicator: din_winter
Water body SE633550-200700
----
water_body SE633550-200700, type_area 21, variable DEPH_INTERVAL
num 21, suf , suf? ['']
22    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633550-200700, type_area 21, variable MONTH_LIST
num 21, suf , suf? ['']
22    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE636570-203590, indicator: din_winter
Water body SE636570-203590
----
water_body SE636570-203590, type_area 20, variable DEPH_INTERVAL
num 20, suf , suf? ['']
21    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE636570-203590, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE633043-193300, indicator: din_winter
Water body SE633043-193300
----
water_body SE633043-193300, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633043-193300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE552170-130626, indicator: din_winter
Water body SE552170-130626
----
water_body SE552170-130626, type_area 7, variable DEPH_INTERVAL
num 7, suf , suf? ['']
7    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE552170-130626, type_area 7, variable MONTH_LIST
num 7, suf , suf? ['']
7    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE562000-123800, indicator: din_winter
Water body SE562000-123800
----
water_body SE562000-123800, type_area 5, variable DEPH_INTERVAL
num 5, suf , suf? ['']
5    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE562000-123800, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['']
5    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE591400-183200, indicator: din_winter
Water body SE591400-183200
----
water_body SE591400-183200, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE591400-183200, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE591200-183600, indicator: din_winter
Water body SE591200-183600
----
water_body SE591200-183600, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE591200-183600, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE592040-184000, indicator: din_winter
Water body SE592040-184000
----
water_body SE592040-184000, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE592040-184000, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE592245-184400, indicator: din_winter
Water body SE592245-184400
----
water_body SE592245-184400, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE592245-184400, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE600740-183460, indicator: din_winter
Water body SE600740-183460
----
water_body SE600740-183460, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE600740-183460, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE601070-182870, indicator: din_winter
Water body SE601070-182870
----
water_body SE601070-182870, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE601070-182870, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE631610-184500, indicator: din_winter
Water body SE631610-184500
----
water_body SE631610-184500, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631610-184500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE625500-175153, indicator: din_winter
Water body SE625500-175153
----
water_body SE625500-175153, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']

2018-04-25 17:23:09,694	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

17    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE575150-190400, indicator: din_winter
Water body SE575150-190400
----
water_body SE575150-190400, type_area 10, variable DEPH_INTERVAL
num 10, suf , suf? ['']
10    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE575150-190400, type_area 10, variable MONTH_LIST
num 10, suf , suf? ['']
10    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE654291-224000, indicator: din_winter
Water body SE654291-224000
----
water_body SE654291-224000, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654291-224000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE584340-174401, indicator: ntot_summer
Water body SE584340-174401
----
water_body SE584340-174401, type_area 14, variable DEPH_INTERVAL
num 14, suf , suf? ['']
15    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE584340-174401, type_area 14, variable MONTH_LIST
num 14, suf , suf? ['']
15    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE581700-113000, indicator: ntot_summer
Water body SE581700-113000
----
water_body SE581700-113000, type_area 2, variable DEPH_INTERVAL
num 2, suf , suf? ['']
2    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE581700-113000, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE561400-161201, indicator: ntot_summer
Water body SE561400-161201
----
water_body SE561400-161201, type_area 9, variable DEPH_INTERVAL
num 9, suf , suf? ['']
9    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE561400-161201, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654470-222700, indicator: ntot_summer
Water body SE654470-222700
----
water_body SE654470-222700, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654470-222700, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633000-195000, indicator: ntot_summer
Water body SE633000-195000
----
water_body SE633000-195000, type_area 20, variable DEPH_INTERVAL
num 20, suf , suf? ['']
21    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633000-195000, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625180-181655, indicator: ntot_summer
Water body SE625180-181655
----
water_body SE625180-181655, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625180-181655, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654820-222660, indicator: ntot_summer
Water body SE654820-222660
----
water_body SE654820-222660, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654820-222660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625000-180075, indicator: ntot_summer
Water body SE625000-180075
----
water_body SE625000-180075, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625000-180075, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE628750-183300, indicator: ntot_summer
Water body SE628750-183300
----
water_body SE628750-183300, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE628750-183300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631346-184241, indicator: ntot_summer
Water body SE631346-184241
----
water_body SE631346-184241, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631346-184241, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631646-185280, indicator: ntot_summer
Water body SE631646-185280
----
water_body SE631646-185280, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631646-185280, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE583730-164501, indicator: ntot_summer
Water body SE583730-164501
----
water_body SE583730-164501, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE583730-164501, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582705-163350, indicator: ntot_summer
Water body SE582705-163350
----
water_body SE582705-163350, type_area 13, variable DEPH_INTERVAL
num 13, suf , suf? ['']
14    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582705-163350, type_area 13, variable MONTH_LIST
num 13, suf , suf? ['']
14    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582050-165820, indicator: ntot_summer
Water body SE582050-165820
----
water_body SE582050-165820, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582050-165820, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582147-111771, indicator: ntot_summer
Water body SE582147-111771
----
water_body SE582147-111771, type_area 1-n, variable DEPH_INTERVAL
num 1, suf n, suf? ['n' 's']
0    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582147-111771, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE580688-114860, indicator: ntot_summer
Water body SE580688-114860
----
water_body SE580688-114860, type_area 2, variable DEPH_INTERVAL
num 2, suf , suf? ['']
2    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE580688-114860, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE575500-113750, indicator: ntot_summer
Water body SE575500-113750
----
water_body SE575500-113750, type_area 1-n, variable DEPH_INTERVAL
num 1, suf n, suf? ['n' 's']
0    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE575500-113750, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE574050-114780, indicator: ntot_summer
Water body SE574050-114780
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
add filter for step: step_2, waterbody: SE625900-174360, indicator: ntot_summer
Water body SE625900-174360
----
water_body SE625900-174360, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625900-174360, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE630383-183500, indicator: ntot_summer
Water body SE630383-183500
----
water_body SE630383-183500, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE630383-183500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633550-200700, indicator: ntot_summer
Water body SE633550-200700
----
water_body SE633550-200700, type_area 21, variable DEPH_INTERVAL
num 21, suf , suf? ['']
22    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633550-200700, type_area 21, variable MONTH_LIST
num 21, suf , suf? ['']
22    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE636570-203590, indicator: ntot_summer
Water body SE636570-203590
----
water_body SE636570-203590, type_area 20, variable DEPH_INTERVAL
num 20, suf , suf? ['']
21    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE636570-203590, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633043-193300, indicator: ntot_summer
Water body SE633043-193300
----
water_body SE633043-193300, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633043-193300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE552170-130626, indicator: ntot_summer
Water body SE552170-130626
----
water_body SE552170-130626, type_area 7, variable DEPH_INTERVAL
num 7, suf , suf? ['']
7    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE552170-130626, type_area 7, variable MONTH_LIST
num 7, suf , suf? ['']
7    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE562000-123800, indicator: ntot_summer
Water body SE562000-123800
----
water_body SE562000-123800, type_area 5, variable DEPH_INTERVAL
num 5, suf , suf? ['']
5    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE562000-123800, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['']
5    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE591400-183200, indicator: ntot_summer
Water body SE591400-183200
----
water_body SE591400-183200, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE591400-183200, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE591200-183600, indicator: ntot_summer
Water body SE591200-183600
----
water_body SE591200-183600, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE591200-183600, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE592040-184000, indicator: ntot_summer
Water body SE592040-184000
----
water_body SE592040-184000, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE592040-184000, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE592245-184400, indicator: ntot_summer
Water body SE592245-184400
----
water_body SE592245-184400, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE592245-184400, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE600740-183460, indicator: ntot_summer
Water body SE600740-183460
----
water_body SE600740-183460, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE600740-183460, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE601070-182870, indicator: ntot_summer
Water body SE601070-182870
----
water_body SE601070-182870, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE601070-182870, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631610-184500, indicator: ntot_summer
Water body SE631610-184500
----
water_body SE631610-184500, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631610-184500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625500-175153, indicator: ntot_summer
Water body SE625500-175153
----
water_body SE625500-175153, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]

2018-04-25 17:23:22,830	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

----
water_body SE593000-192000, type_area 15, variable DEPH_INTERVAL
num 15, suf , suf? ['']
16    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE593000-192000, type_area 15, variable MONTH_LIST
num 15, suf , suf? ['']
16    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE611766-171305, indicator: ntot_summer
Water body SE611766-171305
----
water_body SE611766-171305, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE611766-171305, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE575150-190400, indicator: ntot_summer
Water body SE575150-190400
----
water_body SE575150-190400, type_area 10, variable DEPH_INTERVAL
num 10, suf , suf? ['']
10    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE575150-190400, type_area 10, variable MONTH_LIST
num 10, suf , suf? ['']
10    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654291-224000, indicator: ntot_summer
Water body SE654291-224000
----
water_body SE654291-224000, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654291-224000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE584340-174401, indicator: ntot_winter
Water body SE584340-174401
----
water_body SE584340-174401, type_area 14, variable DEPH_INTERVAL
num 14, suf , suf? ['']
15    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE584340-174401, type_area 14, variable MONTH_LIST
num 14, suf , suf? ['']
15    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE581700-113000, indicator: ntot_winter
Water body SE581700-113000
----
water_body SE581700-113000, type_area 2, variable DEPH_INTERVAL
num 2, suf , suf? ['']
2    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE581700-113000, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE561400-161201, indicator: ntot_winter
Water body SE561400-161201
----
water_body SE561400-161201, type_area 9, variable DEPH_INTERVAL
num 9, suf , suf? ['']
9    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE561400-161201, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE654470-222700, indicator: ntot_winter
Water body SE654470-222700
----
water_body SE654470-222700, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654470-222700, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE633000-195000, indicator: ntot_winter
Water body SE633000-195000
----
water_body SE633000-195000, type_area 20, variable DEPH_INTERVAL
num 20, suf , suf? ['']
21    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633000-195000, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE625180-181655, indicator: ntot_winter
Water body SE625180-181655
----
water_body SE625180-181655, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625180-181655, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE654820-222660, indicator: ntot_winter
Water body SE654820-222660
----
water_body SE654820-222660, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654820-222660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE625000-180075, indicator: ntot_winter
Water body SE625000-180075
----
water_body SE625000-180075, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625000-180075, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE628750-183300, indicator: ntot_winter
Water body SE628750-183300
----
water_body SE628750-183300, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE628750-183300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE631346-184241, indicator: ntot_winter
Water body SE631346-184241
----
water_body SE631346-184241, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631346-184241, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE631646-185280, indicator: ntot_winter
Water body SE631646-185280
----
water_body SE631646-185280, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631646-185280, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE583730-164501, indicator: ntot_winter
Water body SE583730-164501
----
water_body SE583730-164501, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE583730-164501, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE582705-163350, indicator: ntot_winter
Water body SE582705-163350
----
water_body SE582705-163350, type_area 13, variable DEPH_INTERVAL
num 13, suf , suf? ['']
14    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582705-163350, type_area 13, variable MONTH_LIST
num 13, suf , suf? ['']
14    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE582050-165820, indicator: ntot_winter
Water body SE582050-165820
----
water_body SE582050-165820, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582050-165820, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE582147-111771, indicator: ntot_winter
Water body SE582147-111771
----
water_body SE582147-111771, type_area 1-n, variable DEPH_INTERVAL
num 1, suf n, suf? ['n' 's']
0    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582147-111771, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE580688-114860, indicator: ntot_winter
Water body SE580688-114860
----
water_body SE580688-114860, type_area 2, variable DEPH_INTERVAL
num 2, suf , suf? ['']
2    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE580688-114860, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE575500-113750, indicator: ntot_winter
Water body SE575500-113750
----
water_body SE575500-113750, type_area 1-n, variable DEPH_INTERVAL
num 1, suf n, suf? ['n' 's']
0    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE575500-113750, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE574050-114780, indicator: ntot_winter
Water body SE574050-114780
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
add filter for step: step_2, waterbody: SE625900-174360, indicator: ntot_winter
Water body SE625900-174360
----
water_body SE625900-174360, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625900-174360, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE630383-183500, indicator: ntot_winter
Water body SE630383-183500
----
water_body SE630383-183500, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE630383-183500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE633550-200700, indicator: ntot_winter
Water body SE633550-200700
----
water_body SE633550-200700, type_area 21, variable DEPH_INTERVAL
num 21, suf , suf? ['']
22    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633550-200700, type_area 21, variable MONTH_LIST
num 21, suf , suf? ['']
22    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE636570-203590, indicator: ntot_winter
Water body SE636570-203590
----
water_body SE636570-203590, type_area 20, variable DEPH_INTERVAL
num 20, suf , suf? ['']
21    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE636570-203590, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE633043-193300, indicator: ntot_winter
Water body SE633043-193300
----
water_body SE633043-193300, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633043-193300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE552170-130626, indicator: ntot_winter
Water body SE552170-130626
----
water_body SE552170-130626, type_area 7, variable DEPH_INTERVAL
num 7, suf , suf? ['']
7    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE552170-130626, type_area 7, variable MONTH_LIST
num 7, suf , suf? ['']
7    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE562000-123800, indicator: ntot_winter
Water body SE562000-123800
----
water_body SE562000-123800, type_area 5, variable DEPH_INTERVAL
num 5, suf , suf? ['']
5    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE562000-123800, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['']
5    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE591400-183200, indicator: ntot_winter
Water body SE591400-183200
----
water_body SE591400-183200, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE591400-183200, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE591200-183600, indicator: ntot_winter
Water body SE591200-183600
----
water_body SE591200-183600, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE591200-183600, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE592040-184000, indicator: ntot_winter
Water body SE592040-184000
----
water_body SE592040-184000, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE592040-184000, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE592245-184400, indicator: ntot_winter
Water body SE592245-184400
----
water_body SE592245-184400, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE592245-184400, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE600740-183460, indicator: ntot_winter
Water body SE600740-183460
----
water_body SE600740-183460, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE600740-183460, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE601070-182870, indicator: ntot_winter
Water body SE601070-182870
----
water_body SE601070-182870, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10

2018-04-25 17:23:36,458	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

16    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE593330-192540, type_area 15, variable MONTH_LIST
num 15, suf , suf? ['']
16    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE593000-192000, indicator: ntot_winter
Water body SE593000-192000
----
water_body SE593000-192000, type_area 15, variable DEPH_INTERVAL
num 15, suf , suf? ['']
16    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE593000-192000, type_area 15, variable MONTH_LIST
num 15, suf , suf? ['']
16    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE611766-171305, indicator: ntot_winter
Water body SE611766-171305
----
water_body SE611766-171305, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE611766-171305, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE575150-190400, indicator: ntot_winter
Water body SE575150-190400
----
water_body SE575150-190400, type_area 10, variable DEPH_INTERVAL
num 10, suf , suf? ['']
10    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE575150-190400, type_area 10, variable MONTH_LIST
num 10, suf , suf? ['']
10    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE654291-224000, indicator: ntot_winter
Water body SE654291-224000
----
water_body SE654291-224000, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654291-224000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE584340-174401, indicator: dip_winter
Water body SE584340-174401
----
water_body SE584340-174401, type_area 14, variable DEPH_INTERVAL
num 14, suf , suf? ['']
15    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE584340-174401, type_area 14, variable MONTH_LIST
num 14, suf , suf? ['']
15    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE581700-113000, indicator: dip_winter
Water body SE581700-113000
----
water_body SE581700-113000, type_area 2, variable DEPH_INTERVAL
num 2, suf , suf? ['']
2    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE581700-113000, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE561400-161201, indicator: dip_winter
Water body SE561400-161201
----
water_body SE561400-161201, type_area 9, variable DEPH_INTERVAL
num 9, suf , suf? ['']
9    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE561400-161201, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE654470-222700, indicator: dip_winter
Water body SE654470-222700
----
water_body SE654470-222700, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654470-222700, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE633000-195000, indicator: dip_winter
Water body SE633000-195000
----
water_body SE633000-195000, type_area 20, variable DEPH_INTERVAL
num 20, suf , suf? ['']
21    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633000-195000, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE625180-181655, indicator: dip_winter
Water body SE625180-181655
----
water_body SE625180-181655, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625180-181655, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE654820-222660, indicator: dip_winter
Water body SE654820-222660
----
water_body SE654820-222660, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654820-222660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE625000-180075, indicator: dip_winter
Water body SE625000-180075
----
water_body SE625000-180075, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625000-180075, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE628750-183300, indicator: dip_winter
Water body SE628750-183300
----
water_body SE628750-183300, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE628750-183300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE631346-184241, indicator: dip_winter
Water body SE631346-184241
----
water_body SE631346-184241, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631346-184241, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE631646-185280, indicator: dip_winter
Water body SE631646-185280
----
water_body SE631646-185280, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631646-185280, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE583730-164501, indicator: dip_winter
Water body SE583730-164501
----
water_body SE583730-164501, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE583730-164501, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE582705-163350, indicator: dip_winter
Water body SE582705-163350
----
water_body SE582705-163350, type_area 13, variable DEPH_INTERVAL
num 13, suf , suf? ['']
14    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582705-163350, type_area 13, variable MONTH_LIST
num 13, suf , suf? ['']
14    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE582050-165820, indicator: dip_winter
Water body SE582050-165820
----
water_body SE582050-165820, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582050-165820, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE582147-111771, indicator: dip_winter
Water body SE582147-111771
----
water_body SE582147-111771, type_area 1-n, variable DEPH_INTERVAL
num 1, suf n, suf? ['n' 's']
0    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582147-111771, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE580688-114860, indicator: dip_winter
Water body SE580688-114860
----
water_body SE580688-114860, type_area 2, variable DEPH_INTERVAL
num 2, suf , suf? ['']
2    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE580688-114860, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE575500-113750, indicator: dip_winter
Water body SE575500-113750
----
water_body SE575500-113750, type_area 1-n, variable DEPH_INTERVAL
num 1, suf n, suf? ['n' 's']
0    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE575500-113750, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE574050-114780, indicator: dip_winter
Water body SE574050-114780
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
add filter for step: step_2, waterbody: SE625900-174360, indicator: dip_winter
Water body SE625900-174360
----
water_body SE625900-174360, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625900-174360, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE630383-183500, indicator: dip_winter
Water body SE630383-183500
----
water_body SE630383-183500, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE630383-183500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE633550-200700, indicator: dip_winter
Water body SE633550-200700
----
water_body SE633550-200700, type_area 21, variable DEPH_INTERVAL
num 21, suf , suf? ['']
22    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633550-200700, type_area 21, variable MONTH_LIST
num 21, suf , suf? ['']
22    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE636570-203590, indicator: dip_winter
Water body SE636570-203590
----
water_body SE636570-203590, type_area 20, variable DEPH_INTERVAL
num 20, suf , suf? ['']
21    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE636570-203590, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE633043-193300, indicator: dip_winter
Water body SE633043-193300
----
water_body SE633043-193300, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633043-193300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE552170-130626, indicator: dip_winter
Water body SE552170-130626
----
water_body SE552170-130626, type_area 7, variable DEPH_INTERVAL
num 7, suf , suf? ['']
7    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE552170-130626, type_area 7, variable MONTH_LIST
num 7, suf , suf? ['']
7    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE562000-123800, indicator: dip_winter
Water body SE562000-123800
----
water_body SE562000-123800, type_area 5, variable DEPH_INTERVAL
num 5, suf , suf? ['']
5    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE562000-123800, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['']
5    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE591400-183200, indicator: dip_winter
Water body SE591400-183200
----
water_body SE591400-183200, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE591400-183200, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE591200-183600, indicator: dip_winter
Water body SE591200-183600
----
water_body SE591200-183600, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE591200-183600, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE592040-184000, indicator: dip_winter
Water body SE592040-184000
----
water_body SE592040-184000, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE592040-184000, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE592245-184400, indicator: dip_winter
Water body SE592245-184400
----
water_body SE592245-184400, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE592245-184400, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE600740-183460, indicator: dip_winter
Water body SE600740-183460
----
water_body SE600740-183460, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----

2018-04-25 17:23:49,866	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

[12, 1, 2]
add filter for step: step_2, waterbody: SE611766-171305, indicator: dip_winter
Water body SE611766-171305
----
water_body SE611766-171305, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE611766-171305, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE575150-190400, indicator: dip_winter
Water body SE575150-190400
----
water_body SE575150-190400, type_area 10, variable DEPH_INTERVAL
num 10, suf , suf? ['']
10    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE575150-190400, type_area 10, variable MONTH_LIST
num 10, suf , suf? ['']
10    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE654291-224000, indicator: dip_winter
Water body SE654291-224000
----
water_body SE654291-224000, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654291-224000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE584340-174401, indicator: ptot_summer
Water body SE584340-174401
----
water_body SE584340-174401, type_area 14, variable DEPH_INTERVAL
num 14, suf , suf? ['']
15    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE584340-174401, type_area 14, variable MONTH_LIST
num 14, suf , suf? ['']
15    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE581700-113000, indicator: ptot_summer
Water body SE581700-113000
----
water_body SE581700-113000, type_area 2, variable DEPH_INTERVAL
num 2, suf , suf? ['']
2    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE581700-113000, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE561400-161201, indicator: ptot_summer
Water body SE561400-161201
----
water_body SE561400-161201, type_area 9, variable DEPH_INTERVAL
num 9, suf , suf? ['']
9    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE561400-161201, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654470-222700, indicator: ptot_summer
Water body SE654470-222700
----
water_body SE654470-222700, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654470-222700, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633000-195000, indicator: ptot_summer
Water body SE633000-195000
----
water_body SE633000-195000, type_area 20, variable DEPH_INTERVAL
num 20, suf , suf? ['']
21    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633000-195000, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625180-181655, indicator: ptot_summer
Water body SE625180-181655
----
water_body SE625180-181655, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625180-181655, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654820-222660, indicator: ptot_summer
Water body SE654820-222660
----
water_body SE654820-222660, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654820-222660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625000-180075, indicator: ptot_summer
Water body SE625000-180075
----
water_body SE625000-180075, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625000-180075, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE628750-183300, indicator: ptot_summer
Water body SE628750-183300
----
water_body SE628750-183300, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE628750-183300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631346-184241, indicator: ptot_summer
Water body SE631346-184241
----
water_body SE631346-184241, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631346-184241, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631646-185280, indicator: ptot_summer
Water body SE631646-185280
----
water_body SE631646-185280, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631646-185280, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE583730-164501, indicator: ptot_summer
Water body SE583730-164501
----
water_body SE583730-164501, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE583730-164501, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582705-163350, indicator: ptot_summer
Water body SE582705-163350
----
water_body SE582705-163350, type_area 13, variable DEPH_INTERVAL
num 13, suf , suf? ['']
14    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582705-163350, type_area 13, variable MONTH_LIST
num 13, suf , suf? ['']
14    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582050-165820, indicator: ptot_summer
Water body SE582050-165820
----
water_body SE582050-165820, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582050-165820, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582147-111771, indicator: ptot_summer
Water body SE582147-111771
----
water_body SE582147-111771, type_area 1-n, variable DEPH_INTERVAL
num 1, suf n, suf? ['n' 's']
0    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582147-111771, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE580688-114860, indicator: ptot_summer
Water body SE580688-114860
----
water_body SE580688-114860, type_area 2, variable DEPH_INTERVAL
num 2, suf , suf? ['']
2    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE580688-114860, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE575500-113750, indicator: ptot_summer
Water body SE575500-113750
----
water_body SE575500-113750, type_area 1-n, variable DEPH_INTERVAL
num 1, suf n, suf? ['n' 's']
0    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE575500-113750, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE574050-114780, indicator: ptot_summer
Water body SE574050-114780
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
add filter for step: step_2, waterbody: SE625900-174360, indicator: ptot_summer
Water body SE625900-174360
----
water_body SE625900-174360, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625900-174360, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE630383-183500, indicator: ptot_summer
Water body SE630383-183500
----
water_body SE630383-183500, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE630383-183500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633550-200700, indicator: ptot_summer
Water body SE633550-200700
----
water_body SE633550-200700, type_area 21, variable DEPH_INTERVAL
num 21, suf , suf? ['']
22    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633550-200700, type_area 21, variable MONTH_LIST
num 21, suf , suf? ['']
22    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE636570-203590, indicator: ptot_summer
Water body SE636570-203590
----
water_body SE636570-203590, type_area 20, variable DEPH_INTERVAL
num 20, suf , suf? ['']
21    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE636570-203590, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633043-193300, indicator: ptot_summer
Water body SE633043-193300
----
water_body SE633043-193300, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633043-193300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE552170-130626, indicator: ptot_summer
Water body SE552170-130626
----
water_body SE552170-130626, type_area 7, variable DEPH_INTERVAL
num 7, suf , suf? ['']
7    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE552170-130626, type_area 7, variable MONTH_LIST
num 7, suf , suf? ['']
7    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE562000-123800, indicator: ptot_summer
Water body SE562000-123800
----
water_body SE562000-123800, type_area 5, variable DEPH_INTERVAL
num 5, suf , suf? ['']
5    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE562000-123800, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['']
5    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE591400-183200, indicator: ptot_summer
Water body SE591400-183200
----
water_body SE591400-183200, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE591400-183200, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE591200-183600, indicator: ptot_summer
Water body SE591200-183600
----
water_body SE591200-183600, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE591200-183600, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE592040-184000, indicator: ptot_summer
Water body SE592040-184000
----
water_body SE592040-184000, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE592040-184000, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE592245-184400, indicator: ptot_summer
Water body SE592245-184400
----
water_body SE592245-184400, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE592245-184400, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE600740-183460, indicator: ptot_summer
Water body SE600740-183460
----
water_body SE600740-183460, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE600740-183460, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE601070-182870, indicator: ptot_summer
Water body SE601070-182870
----
water_body SE601070-182870, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE601070-182870, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631610-184500, indicator: ptot_summer
Water body SE631610-184500
----
water_body SE631610-184500, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631610-184500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8

2018-04-25 17:24:03,345	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE593000-192000, indicator: ptot_summer
Water body SE593000-192000
----
water_body SE593000-192000, type_area 15, variable DEPH_INTERVAL
num 15, suf , suf? ['']
16    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE593000-192000, type_area 15, variable MONTH_LIST
num 15, suf , suf? ['']
16    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE611766-171305, indicator: ptot_summer
Water body SE611766-171305
----
water_body SE611766-171305, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE611766-171305, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE575150-190400, indicator: ptot_summer
Water body SE575150-190400
----
water_body SE575150-190400, type_area 10, variable DEPH_INTERVAL
num 10, suf , suf? ['']
10    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE575150-190400, type_area 10, variable MONTH_LIST
num 10, suf , suf? ['']
10    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654291-224000, indicator: ptot_summer
Water body SE654291-224000
----
water_body SE654291-224000, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654291-224000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE584340-174401, indicator: ptot_winter
Water body SE584340-174401
----
water_body SE584340-174401, type_area 14, variable DEPH_INTERVAL
num 14, suf , suf? ['']
15    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE584340-174401, type_area 14, variable MONTH_LIST
num 14, suf , suf? ['']
15    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE581700-113000, indicator: ptot_winter
Water body SE581700-113000
----
water_body SE581700-113000, type_area 2, variable DEPH_INTERVAL
num 2, suf , suf? ['']
2    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE581700-113000, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE561400-161201, indicator: ptot_winter
Water body SE561400-161201
----
water_body SE561400-161201, type_area 9, variable DEPH_INTERVAL
num 9, suf , suf? ['']
9    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE561400-161201, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE654470-222700, indicator: ptot_winter
Water body SE654470-222700
----
water_body SE654470-222700, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654470-222700, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE633000-195000, indicator: ptot_winter
Water body SE633000-195000
----
water_body SE633000-195000, type_area 20, variable DEPH_INTERVAL
num 20, suf , suf? ['']
21    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633000-195000, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE625180-181655, indicator: ptot_winter
Water body SE625180-181655
----
water_body SE625180-181655, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625180-181655, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE654820-222660, indicator: ptot_winter
Water body SE654820-222660
----
water_body SE654820-222660, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654820-222660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE625000-180075, indicator: ptot_winter
Water body SE625000-180075
----
water_body SE625000-180075, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625000-180075, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE628750-183300, indicator: ptot_winter
Water body SE628750-183300
----
water_body SE628750-183300, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE628750-183300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE631346-184241, indicator: ptot_winter
Water body SE631346-184241
----
water_body SE631346-184241, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631346-184241, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE631646-185280, indicator: ptot_winter
Water body SE631646-185280
----
water_body SE631646-185280, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE631646-185280, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE583730-164501, indicator: ptot_winter
Water body SE583730-164501
----
water_body SE583730-164501, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE583730-164501, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE582705-163350, indicator: ptot_winter
Water body SE582705-163350
----
water_body SE582705-163350, type_area 13, variable DEPH_INTERVAL
num 13, suf , suf? ['']
14    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582705-163350, type_area 13, variable MONTH_LIST
num 13, suf , suf? ['']
14    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE582050-165820, indicator: ptot_winter
Water body SE582050-165820
----
water_body SE582050-165820, type_area 12-s, variable DEPH_INTERVAL
num 12, suf s, suf? ['s' 'n']
12    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582050-165820, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE582147-111771, indicator: ptot_winter
Water body SE582147-111771
----
water_body SE582147-111771, type_area 1-n, variable DEPH_INTERVAL
num 1, suf n, suf? ['n' 's']
0    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE582147-111771, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE580688-114860, indicator: ptot_winter
Water body SE580688-114860
----
water_body SE580688-114860, type_area 2, variable DEPH_INTERVAL
num 2, suf , suf? ['']
2    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE580688-114860, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE575500-113750, indicator: ptot_winter
Water body SE575500-113750
----
water_body SE575500-113750, type_area 1-n, variable DEPH_INTERVAL
num 1, suf n, suf? ['n' 's']
0    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE575500-113750, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE574050-114780, indicator: ptot_winter
Water body SE574050-114780
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
add filter for step: step_2, waterbody: SE625900-174360, indicator: ptot_winter
Water body SE625900-174360
----
water_body SE625900-174360, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE625900-174360, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE630383-183500, indicator: ptot_winter
Water body SE630383-183500
----
water_body SE630383-183500, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE630383-183500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE633550-200700, indicator: ptot_winter
Water body SE633550-200700
----
water_body SE633550-200700, type_area 21, variable DEPH_INTERVAL
num 21, suf , suf? ['']
22    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633550-200700, type_area 21, variable MONTH_LIST
num 21, suf , suf? ['']
22    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE636570-203590, indicator: ptot_winter
Water body SE636570-203590
----
water_body SE636570-203590, type_area 20, variable DEPH_INTERVAL
num 20, suf , suf? ['']
21    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE636570-203590, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE633043-193300, indicator: ptot_winter
Water body SE633043-193300
----
water_body SE633043-193300, type_area 18, variable DEPH_INTERVAL
num 18, suf , suf? ['']
19    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE633043-193300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE552170-130626, indicator: ptot_winter
Water body SE552170-130626
----
water_body SE552170-130626, type_area 7, variable DEPH_INTERVAL
num 7, suf , suf? ['']
7    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE552170-130626, type_area 7, variable MONTH_LIST
num 7, suf , suf? ['']
7    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE562000-123800, indicator: ptot_winter
Water body SE562000-123800
----
water_body SE562000-123800, type_area 5, variable DEPH_INTERVAL
num 5, suf , suf? ['']
5    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE562000-123800, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['']
5    12;1;2;3
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2;3'] <class 'numpy.ndarray'>
[[12, 1, 2, 3]]
RESULT [12, 1, 2, 3]
add filter for step: step_2, waterbody: SE591400-183200, indicator: ptot_winter
Water body SE591400-183200
----
water_body SE591400-183200, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE591400-183200, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE591200-183600, indicator: ptot_winter
Water body SE591200-183600
----
water_body SE591200-183600, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE591200-183600, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE592040-184000, indicator: ptot_winter
Water body SE592040-184000
----
water_body SE592040-184000, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE592040-184000, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE592245-184400, indicator: ptot_winter
Water body SE592245-184400
----
water_body SE592245-184400, type_area 12-n, variable DEPH_INTERVAL
num 12, suf n, suf? ['s' 'n']
13    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE592245-184400, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['12;1;2'] <class 'numpy.ndarray'>
[[12, 1, 2]]
RESULT [12, 1, 2]
add filter for step: step_2, waterbody: SE600740-183460, indicator: ptot_winter
Water body SE600740-183460
----
water_body SE600740-183460, type_area 16, variable DEPH_INTERVAL
num 16, suf , suf? ['']
17    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE600740-183460, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE601070-182870, indicator: ptot_winter
Water body SE601070-182870
----

2018-04-25 17:24:17,372	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

[12, 1, 2]
add filter for step: step_2, waterbody: SE654291-224000, indicator: ptot_winter
Water body SE654291-224000
----
water_body SE654291-224000, type_area 22, variable DEPH_INTERVAL
num 22, suf , suf? ['']
23    0-10
Name: DEPH_INTERVAL, dtype: object <class 'pandas.core.series.Series'>
['0-10'] <class 'numpy.ndarray'>
[[0, 10]]
RESULT [0, 10]
----
water_body SE654291-224000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    11;12;1;2
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['11;12;1;2'] <class 'numpy.ndarray'>
[[11, 12, 1, 2]]
RESULT [11, 12, 1, 2]
add filter for step: step_2, waterbody: SE584340-174401, indicator: biov
Water body SE584340-174401
----
water_body SE584340-174401, type_area 14, variable MONTH_LIST
num 14, suf , suf? ['']
15    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE581700-113000, indicator: biov
Water body SE581700-113000
----
water_body SE581700-113000, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE561400-161201, indicator: biov
Water body SE561400-161201
----
water_body SE561400-161201, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654470-222700, indicator: biov
Water body SE654470-222700
----
water_body SE654470-222700, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633000-195000, indicator: biov
Water body SE633000-195000
----
water_body SE633000-195000, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625180-181655, indicator: biov
Water body SE625180-181655
----
water_body SE625180-181655, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654820-222660, indicator: biov
Water body SE654820-222660
----
water_body SE654820-222660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625000-180075, indicator: biov
Water body SE625000-180075
----
water_body SE625000-180075, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE628750-183300, indicator: biov
Water body SE628750-183300
----
water_body SE628750-183300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631346-184241, indicator: biov
Water body SE631346-184241
----
water_body SE631346-184241, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631646-185280, indicator: biov
Water body SE631646-185280
----
water_body SE631646-185280, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE583730-164501, indicator: biov
Water body SE583730-164501
----
water_body SE583730-164501, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582705-163350, indicator: biov
Water body SE582705-163350
----
water_body SE582705-163350, type_area 13, variable MONTH_LIST
num 13, suf , suf? ['']
14    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582050-165820, indicator: biov
Water body SE582050-165820
----
water_body SE582050-165820, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582147-111771, indicator: biov
Water body SE582147-111771
----
water_body SE582147-111771, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE580688-114860, indicator: biov
Water body SE580688-114860
----
water_body SE580688-114860, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE575500-113750, indicator: biov
Water body SE575500-113750
----
water_body SE575500-113750, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE574050-114780, indicator: biov
Water body SE574050-114780
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
add filter for step: step_2, waterbody: SE625900-174360, indicator: biov
Water body SE625900-174360
----
water_body SE625900-174360, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE630383-183500, indicator: biov
Water body SE630383-183500
----
water_body SE630383-183500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633550-200700, indicator: biov
Water body SE633550-200700
----
water_body SE633550-200700, type_area 21, variable MONTH_LIST
num 21, suf , suf? ['']
22    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE636570-203590, indicator: biov
Water body SE636570-203590
----
water_body SE636570-203590, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633043-193300, indicator: biov
Water body SE633043-193300
----
water_body SE633043-193300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE552170-130626, indicator: biov
Water body SE552170-130626
----
water_body SE552170-130626, type_area 7, variable MONTH_LIST
num 7, suf , suf? ['']
7    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE562000-123800, indicator: biov
Water body SE562000-123800
----
water_body SE562000-123800, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['']
5    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE591400-183200, indicator: biov
Water body SE591400-183200
----
water_body SE591400-183200, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE591200-183600, indicator: biov
Water body SE591200-183600
----
water_body SE591200-183600, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE592040-184000, indicator: biov
Water body SE592040-184000
----
water_body SE592040-184000, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE592245-184400, indicator: biov
Water body SE592245-184400
----
water_body SE592245-184400, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE600740-183460, indicator: biov
Water body SE600740-183460
----
water_body SE600740-183460, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE601070-182870, indicator: biov
Water body SE601070-182870
----
water_body SE601070-182870, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631610-184500, indicator: biov
Water body SE631610-184500
----
water_body SE631610-184500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625500-175153, indicator: biov
Water body SE625500-175153
----
water_body SE625500-175153, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE622126-172430, indicator: biov
Water body SE622126-172430
----
water_body SE622126-172430, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE622339-172190, indicator: biov
Water body SE622339-172190
----
water_body SE622339-172190, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE652920-222650, indicator: biov
Water body SE652920-222650
----
water_body SE652920-222650, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE656620-222480, indicator: biov
Water body SE656620-222480
----
water_body SE656620-222480, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE656300-222750, indicator: biov
Water body SE656300-222750
----
water_body SE656300-222750, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE655120-220380, indicator: biov
Water body SE655120-220380
----
water_body SE655120-220380, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE655180-218660, indicator: biov
Water body SE655180-218660
----
water_body SE655180-218660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE636150-199220, indicator: biov
Water body SE636150-199220
----
water_body SE636150-199220, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE635040-204196, indicator: biov
Water body SE635040-204196
----
water_body SE635040-204196, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE637070-204260, indicator: biov
Water body SE637070-204260
----
water_body SE637070-204260, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE636910-204040, indicator: biov
Water body SE636910-204040
----
water_body SE636910-204040, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE602120-181610, indicator: biov
Water body SE602120-181610
----
water_body SE602120-181610, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582000-115270, indicator: biov
Water body SE582000-115270
----
water_body SE582000-115270, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE575700-114240, indicator: biov
Water body SE575700-114240
----
water_body SE575700-114240, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE581740-114820, indicator: biov
Water body SE581740-114820
----
water_body SE581740-114820, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE563330-124600, indicator: biov
Water body SE563330-124600
----
water_body SE563330-124600, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['']
5    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654860-219880, indicator: biov
Water body SE654860-219880
----
water_body SE654860-219880, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE647050-213980, indicator: biov
Water body SE647050-213980
'WaterBody' object has no attribute 'SESE647050-213980'
waterbody matching file does not recognise water body with VISS_EU_CD SE647050-213980
RESULT False
add filter for step: step_2, waterbody: SE575340-113000, indicator: biov
Water body SE575340-113000
----
water_body SE575340-113000, type_area 3, variable MONTH_LIST
num 3, suf , suf? ['']
3    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654500-232000, indicator: biov
Water body SE654500-232000
----
water_body SE654500-232000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE652400-223501, indicator: biov
Water body SE652400-223501
----
water_body SE652400-223501, type_area 23, variable MONTH_LIST
num 23, suf , suf? ['']
24    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE653900-223280, indicator: biov
Water body SE653900-223280
----
water_body SE653900-223280, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582000-112350, indicator: biov
Water body SE582000-112350
----
water_body SE582000-112350, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE581260-113220, indicator: biov
Water body SE581260-113220
----
water_body SE581260-113220, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE574000-114230, indicator: biov
Water body SE574000-114230
----
water_body SE574000-114230, type_area 1-s, variable MONTH_LIST
num 1, suf s, suf? ['n' 's']
1    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE585100-110600, indicator: biov
Water body SE585100-110600
----

2018-04-25 17:24:28,467	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE611766-171305, indicator: biov
Water body SE611766-171305
----
water_body SE611766-171305, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE575150-190400, indicator: biov
Water body SE575150-190400
----
water_body SE575150-190400, type_area 10, variable MONTH_LIST
num 10, suf , suf? ['']
10    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654291-224000, indicator: biov
Water body SE654291-224000
----
water_body SE654291-224000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE584340-174401, indicator: chl
Water body SE584340-174401
----
water_body SE584340-174401, type_area 14, variable MONTH_LIST
num 14, suf , suf? ['']
15    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE581700-113000, indicator: chl
Water body SE581700-113000
----
water_body SE581700-113000, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE561400-161201, indicator: chl
Water body SE561400-161201
----
water_body SE561400-161201, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654470-222700, indicator: chl
Water body SE654470-222700
----
water_body SE654470-222700, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633000-195000, indicator: chl
Water body SE633000-195000
----
water_body SE633000-195000, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625180-181655, indicator: chl
Water body SE625180-181655
----
water_body SE625180-181655, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654820-222660, indicator: chl
Water body SE654820-222660
----
water_body SE654820-222660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625000-180075, indicator: chl
Water body SE625000-180075
----
water_body SE625000-180075, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE628750-183300, indicator: chl
Water body SE628750-183300
----
water_body SE628750-183300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631346-184241, indicator: chl
Water body SE631346-184241
----
water_body SE631346-184241, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631646-185280, indicator: chl
Water body SE631646-185280
----
water_body SE631646-185280, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE583730-164501, indicator: chl
Water body SE583730-164501
----
water_body SE583730-164501, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582705-163350, indicator: chl
Water body SE582705-163350
----
water_body SE582705-163350, type_area 13, variable MONTH_LIST
num 13, suf , suf? ['']
14    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582050-165820, indicator: chl
Water body SE582050-165820
----
water_body SE582050-165820, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582147-111771, indicator: chl
Water body SE582147-111771
----
water_body SE582147-111771, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE580688-114860, indicator: chl
Water body SE580688-114860
----
water_body SE580688-114860, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE575500-113750, indicator: chl
Water body SE575500-113750
----
water_body SE575500-113750, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE574050-114780, indicator: chl
Water body SE574050-114780
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
add filter for step: step_2, waterbody: SE625900-174360, indicator: chl
Water body SE625900-174360
----
water_body SE625900-174360, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE630383-183500, indicator: chl
Water body SE630383-183500
----
water_body SE630383-183500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633550-200700, indicator: chl
Water body SE633550-200700
----
water_body SE633550-200700, type_area 21, variable MONTH_LIST
num 21, suf , suf? ['']
22    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE636570-203590, indicator: chl
Water body SE636570-203590
----
water_body SE636570-203590, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633043-193300, indicator: chl
Water body SE633043-193300
----
water_body SE633043-193300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE552170-130626, indicator: chl
Water body SE552170-130626
----
water_body SE552170-130626, type_area 7, variable MONTH_LIST
num 7, suf , suf? ['']
7    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE562000-123800, indicator: chl
Water body SE562000-123800
----
water_body SE562000-123800, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['']
5    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE591400-183200, indicator: chl
Water body SE591400-183200
----
water_body SE591400-183200, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE591200-183600, indicator: chl
Water body SE591200-183600
----
water_body SE591200-183600, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE592040-184000, indicator: chl
Water body SE592040-184000
----
water_body SE592040-184000, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE592245-184400, indicator: chl
Water body SE592245-184400
----
water_body SE592245-184400, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE600740-183460, indicator: chl
Water body SE600740-183460
----
water_body SE600740-183460, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE601070-182870, indicator: chl
Water body SE601070-182870
----
water_body SE601070-182870, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631610-184500, indicator: chl
Water body SE631610-184500
----
water_body SE631610-184500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625500-175153, indicator: chl
Water body SE625500-175153
----
water_body SE625500-175153, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE622126-172430, indicator: chl
Water body SE622126-172430
----
water_body SE622126-172430, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE622339-172190, indicator: chl
Water body SE622339-172190
----
water_body SE622339-172190, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE652920-222650, indicator: chl
Water body SE652920-222650
----
water_body SE652920-222650, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE656620-222480, indicator: chl
Water body SE656620-222480
----
water_body SE656620-222480, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE656300-222750, indicator: chl
Water body SE656300-222750
----
water_body SE656300-222750, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE655120-220380, indicator: chl
Water body SE655120-220380
----
water_body SE655120-220380, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE655180-218660, indicator: chl
Water body SE655180-218660
----
water_body SE655180-218660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE636150-199220, indicator: chl
Water body SE636150-199220
----
water_body SE636150-199220, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE635040-204196, indicator: chl
Water body SE635040-204196
----
water_body SE635040-204196, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE637070-204260, indicator: chl
Water body SE637070-204260
----
water_body SE637070-204260, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE636910-204040, indicator: chl
Water body SE636910-204040
----
water_body SE636910-204040, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE602120-181610, indicator: chl
Water body SE602120-181610
----
water_body SE602120-181610, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582000-115270, indicator: chl
Water body SE582000-115270
----
water_body SE582000-115270, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE575700-114240, indicator: chl
Water body SE575700-114240
----
water_body SE575700-114240, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE581740-114820, indicator: chl
Water body SE581740-114820
----
water_body SE581740-114820, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE563330-124600, indicator: chl
Water body SE563330-124600
----
water_body SE563330-124600, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['']
5    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654860-219880, indicator: chl
Water body SE654860-219880
----
water_body SE654860-219880, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE647050-213980, indicator: chl
Water body SE647050-213980
'WaterBody' object has no attribute 'SESE647050-213980'
waterbody matching file does not recognise water body with VISS_EU_CD SE647050-213980
RESULT False
add filter for step: step_2, waterbody: SE575340-113000, indicator: chl
Water body SE575340-113000
----
water_body SE575340-113000, type_area 3, variable MONTH_LIST
num 3, suf , suf? ['']
3    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654500-232000, indicator: chl
Water body SE654500-232000
----
water_body SE654500-232000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE652400-223501, indicator: chl
Water body SE652400-223501
----
water_body SE652400-223501, type_area 23, variable MONTH_LIST
num 23, suf , suf? ['']
24    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE653900-223280, indicator: chl
Water body SE653900-223280
----
water_body SE653900-223280, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582000-112350, indicator: chl
Water body SE582000-112350
----
water_body SE582000-112350, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE581260-113220, indicator: chl
Water body SE581260-113220
----
water_body SE581260-113220, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE574000-114230, indicator: chl

2018-04-25 17:24:40,919	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

Water body SE593500-191660
----
water_body SE593500-191660, type_area 15, variable MONTH_LIST
num 15, suf , suf? ['']
16    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE593330-192540, indicator: chl
Water body SE593330-192540
----
water_body SE593330-192540, type_area 15, variable MONTH_LIST
num 15, suf , suf? ['']
16    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE593000-192000, indicator: chl
Water body SE593000-192000
----
water_body SE593000-192000, type_area 15, variable MONTH_LIST
num 15, suf , suf? ['']
16    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE611766-171305, indicator: chl
Water body SE611766-171305
----
water_body SE611766-171305, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE575150-190400, indicator: chl
Water body SE575150-190400
----
water_body SE575150-190400, type_area 10, variable MONTH_LIST
num 10, suf , suf? ['']
10    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654291-224000, indicator: chl
Water body SE654291-224000
----
water_body SE654291-224000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE584340-174401, indicator: secchi
Water body SE584340-174401
----
water_body SE584340-174401, type_area 14, variable MONTH_LIST
num 14, suf , suf? ['']
15    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE581700-113000, indicator: secchi
Water body SE581700-113000
----
water_body SE581700-113000, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE561400-161201, indicator: secchi
Water body SE561400-161201
----
water_body SE561400-161201, type_area 9, variable MONTH_LIST
num 9, suf , suf? ['']
9    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654470-222700, indicator: secchi
Water body SE654470-222700
----
water_body SE654470-222700, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633000-195000, indicator: secchi
Water body SE633000-195000
----
water_body SE633000-195000, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625180-181655, indicator: secchi
Water body SE625180-181655
----
water_body SE625180-181655, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654820-222660, indicator: secchi
Water body SE654820-222660
----
water_body SE654820-222660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625000-180075, indicator: secchi
Water body SE625000-180075
----
water_body SE625000-180075, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE628750-183300, indicator: secchi
Water body SE628750-183300
----
water_body SE628750-183300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631346-184241, indicator: secchi
Water body SE631346-184241
----
water_body SE631346-184241, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631646-185280, indicator: secchi
Water body SE631646-185280
----
water_body SE631646-185280, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE583730-164501, indicator: secchi
Water body SE583730-164501
----
water_body SE583730-164501, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582705-163350, indicator: secchi
Water body SE582705-163350
----
water_body SE582705-163350, type_area 13, variable MONTH_LIST
num 13, suf , suf? ['']
14    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582050-165820, indicator: secchi
Water body SE582050-165820
----
water_body SE582050-165820, type_area 12-s, variable MONTH_LIST
num 12, suf s, suf? ['s' 'n']
12    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582147-111771, indicator: secchi
Water body SE582147-111771
----
water_body SE582147-111771, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE580688-114860, indicator: secchi
Water body SE580688-114860
----
water_body SE580688-114860, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE575500-113750, indicator: secchi
Water body SE575500-113750
----
water_body SE575500-113750, type_area 1-n, variable MONTH_LIST
num 1, suf n, suf? ['n' 's']
0    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE574050-114780, indicator: secchi
Water body SE574050-114780
'WaterBody' object has no attribute 'SESE574050-114780'
waterbody matching file does not recognise water body with VISS_EU_CD SE574050-114780
RESULT False
add filter for step: step_2, waterbody: SE625900-174360, indicator: secchi
Water body SE625900-174360
----
water_body SE625900-174360, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE630383-183500, indicator: secchi
Water body SE630383-183500
----
water_body SE630383-183500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633550-200700, indicator: secchi
Water body SE633550-200700
----
water_body SE633550-200700, type_area 21, variable MONTH_LIST
num 21, suf , suf? ['']
22    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE636570-203590, indicator: secchi
Water body SE636570-203590
----
water_body SE636570-203590, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE633043-193300, indicator: secchi
Water body SE633043-193300
----
water_body SE633043-193300, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE552170-130626, indicator: secchi
Water body SE552170-130626
----
water_body SE552170-130626, type_area 7, variable MONTH_LIST
num 7, suf , suf? ['']
7    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE562000-123800, indicator: secchi
Water body SE562000-123800
----
water_body SE562000-123800, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['']
5    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE591400-183200, indicator: secchi
Water body SE591400-183200
----
water_body SE591400-183200, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE591200-183600, indicator: secchi
Water body SE591200-183600
----
water_body SE591200-183600, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE592040-184000, indicator: secchi
Water body SE592040-184000
----
water_body SE592040-184000, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE592245-184400, indicator: secchi
Water body SE592245-184400
----
water_body SE592245-184400, type_area 12-n, variable MONTH_LIST
num 12, suf n, suf? ['s' 'n']
13    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE600740-183460, indicator: secchi
Water body SE600740-183460
----
water_body SE600740-183460, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE601070-182870, indicator: secchi
Water body SE601070-182870
----
water_body SE601070-182870, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE631610-184500, indicator: secchi
Water body SE631610-184500
----
water_body SE631610-184500, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE625500-175153, indicator: secchi
Water body SE625500-175153
----
water_body SE625500-175153, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE622126-172430, indicator: secchi
Water body SE622126-172430
----
water_body SE622126-172430, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE622339-172190, indicator: secchi
Water body SE622339-172190
----
water_body SE622339-172190, type_area 18, variable MONTH_LIST
num 18, suf , suf? ['']
19    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE652920-222650, indicator: secchi
Water body SE652920-222650
----
water_body SE652920-222650, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE656620-222480, indicator: secchi
Water body SE656620-222480
----
water_body SE656620-222480, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE656300-222750, indicator: secchi
Water body SE656300-222750
----
water_body SE656300-222750, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE655120-220380, indicator: secchi
Water body SE655120-220380
----
water_body SE655120-220380, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE655180-218660, indicator: secchi
Water body SE655180-218660
----
water_body SE655180-218660, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE636150-199220, indicator: secchi
Water body SE636150-199220
----
water_body SE636150-199220, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE635040-204196, indicator: secchi
Water body SE635040-204196
----
water_body SE635040-204196, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE637070-204260, indicator: secchi
Water body SE637070-204260
----
water_body SE637070-204260, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE636910-204040, indicator: secchi
Water body SE636910-204040
----
water_body SE636910-204040, type_area 20, variable MONTH_LIST
num 20, suf , suf? ['']
21    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE602120-181610, indicator: secchi
Water body SE602120-181610
----
water_body SE602120-181610, type_area 16, variable MONTH_LIST
num 16, suf , suf? ['']
17    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE582000-115270, indicator: secchi
Water body SE582000-115270
----
water_body SE582000-115270, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE575700-114240, indicator: secchi
Water body SE575700-114240
----
water_body SE575700-114240, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE581740-114820, indicator: secchi
Water body SE581740-114820
----
water_body SE581740-114820, type_area 2, variable MONTH_LIST
num 2, suf , suf? ['']
2    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE563330-124600, indicator: secchi
Water body SE563330-124600
----
water_body SE563330-124600, type_area 5, variable MONTH_LIST
num 5, suf , suf? ['']
5    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654860-219880, indicator: secchi
Water body SE654860-219880
----
water_body SE654860-219880, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE647050-213980, indicator: secchi
Water body SE647050-213980
'WaterBody' object has no attribute 'SESE647050-213980'
waterbody matching file does not recognise water body with VISS_EU_CD SE647050-213980
RESULT False
add filter for step: step_2, waterbody: SE575340-113000, indicator: secchi
Water body SE575340-113000
----
water_body SE575340-113000, type_area 3, variable MONTH_LIST
num 3, suf , suf? ['']
3    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE654500-232000, indicator: secchi
Water body SE654500-232000
----
water_body SE654500-232000, type_area 22, variable MONTH_LIST
num 22, suf , suf? ['']
23    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]
add filter for step: step_2, waterbody: SE652400-223501, indicator: secchi
Water body SE652400-223501
----
water_body SE652400-223501, type_area 23, variable MONTH_LIST
num 23, suf , suf? ['']
24    6;7;8
Name: MONTH_LIST, dtype: object <class 'pandas.core.series.Series'>
['6;7;8'] <class 'numpy.ndarray'>
[[6, 7, 8]]
RESULT [6, 7, 8]

In [100]:
w.index_handler.booleans['step_0'][subset_uuid]['step_1']['step_2']['SE584340-174401'].keys()

dict_keys(['boolean', 'oxygen', 'bqi', 'din_winter', 'ntot_summer', 'ntot_winter', 'dip_winter', 'ptot_summer', 'ptot_winter', 'biov', 'chl', 'secchi'])

In [101]:
wb = 'SE583926-161744' #typomr 22
#wb = 'SE654470-222700' #typomr 13
type_area = '2'#'01s - Västkustens inre kustvatten'
#w.index_handler.booleans['step_0'][subset_uuid]['step_1']['step_2'][type_area]['din_winter']['boolean']

In [102]:
print(w.get_filtered_data(step = 2, subset = subset_uuid, water_body = wb, indicator = 'din_winter').MONTH.unique())
print(w.get_filtered_data(step = 2, subset = subset_uuid, water_body = wb, indicator = 'din_winter').DEPH.min(),
        w.get_filtered_data(step = 2, subset = subset_uuid, water_body = wb, indicator = 'din_winter').DEPH.max())
print(w.get_filtered_data(step = 2, subset = subset_uuid, water_body = wb, indicator = 'din_winter').VISS_EU_CD.unique())
w.get_filtered_data(step = 2, subset = subset_uuid, water_body = wb).WATER_TYPE_AREA.unique()

2018-04-25 17:25:10,471	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-04-25 17:25:10,476	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-04-25 17:25:10,479	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-04-25 17:25:10,484	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2
2018-04-25 17:25:10,488	workspaces.py	1412	get_filtered_data	DEBUG	STEP: step_2

[12  2]
0.5 10.0
['SE583926-161744']

array(['13 - Östergötlands inre kustvatten'], dtype=object)

In [103]:
w.mapping_objects['quality_element'].cfg['indicators']
[item.strip() for item in w.mapping_objects['quality_element'].cfg['indicators'].loc[indicator][0].split(', ')]

['SECCHI', 'SALT']

# Step 3 Load Indicator objects step 3....

In [104]:
w.get_step_object(step = 3, subset = subset_uuid).indicator_setup(subset_unique_id = subset_uuid) 
#, indicator_list = ['din_winter', 'dip_winter']

********
din_winter
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    -0.525*s+15
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['-0.525*s+15'] <class 'numpy.ndarray'>
['-0.525*s+15']
********
ntot_summer
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    -0.9*s+30
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['-0.9*s+30'] <class 'numpy.ndarray'>
['-0.9*s+30']
********
ntot_winter
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    -0.65*s+30
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['-0.65*s+30'] <class 'numpy.ndarray'>
['-0.65*s+30']
********
dip_winter
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    0.01*s+0.2
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['0.01*s+0.2'] <class 'numpy.ndarray'>
['0.01*s+0.2']
********
ptot_summer
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    0*s+0.4
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['0*s+0.4'] <class 'numpy.ndarray'>
['0*s+0.4']
********
ptot_winter
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    0.015*s+0.4
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['0.015*s+0.4'] <class 'numpy.ndarray'>
['0.015*s+0.4']
********
bqi
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['' '']
Series([], Name: MIN_NR_YEARS, dtype: object) <class 'pandas.core.series.Series'>
[] <class 'numpy.ndarray'>
[]
----
water_body None, type_area 1s, variable HG_VALUE_LIMIT
num 1, suf s, suf? ['' '']
Series([], Name: HG_VALUE_LIMIT, dtype: object) <class 'pandas.core.series.Series'>
[] <class 'numpy.ndarray'>
[]
********
oxygen
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['s' 'n']
0    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable HG_VALUE_LIMIT
num 1, suf s, suf? ['s' 'n']
0    3.5
Name: HG_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['3.5'] <class 'numpy.ndarray'>
['3.5']
********
biov
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    0.9
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['0.9'] <class 'numpy.ndarray'>
['0.9']
********
chl
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    1.6
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['1.6'] <class 'numpy.ndarray'>
['1.6']
********
secchi
----
water_body None, type_area 1s, variable MIN_NR_YEARS
num 1, suf s, suf? ['n' 's']
1    3
Name: MIN_NR_YEARS, dtype: object <class 'pandas.core.series.Series'>
['3'] <class 'numpy.ndarray'>
[3]
----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    8
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['8'] <class 'numpy.ndarray'>
['8']

In [105]:
w.get_step_object(step = 3, subset = subset_uuid).indicator_objects[indicator].get_ref_value(type_area = '1s', salinity = 25.0)

----
water_body None, type_area 1s, variable REF_VALUE_LIMIT
num 1, suf s, suf? ['n' 's']
1    8
Name: REF_VALUE_LIMIT, dtype: object <class 'pandas.core.series.Series'>
['8'] <class 'numpy.ndarray'>
['8']

8

In [106]:
indicator= 'din_winter'
dw_obj = w.get_step_object(step = 3, subset = subset_uuid).indicator_objects[indicator]

In [108]:
dw_obj.set_water_body_indicator_df(wb)

----
water_body None, type_area SE583926-161744, variable REF_VALUE_LIMIT
num 583926, suf , suf? []
Series([], Name: REF_VALUE_LIMIT, dtype: object) <class 'pandas.core.series.Series'>
[] <class 'numpy.ndarray'>
[]
----
water_body None, type_area SE583926-161744, variable REF_VALUE_LIMIT
num 583926, suf , suf? []
Series([], Name: REF_VALUE_LIMIT, dtype: object) <class 'pandas.core.series.Series'>
[] <class 'numpy.ndarray'>
[]

In [109]:
dw_obj.get_water_body_indicator_df(wb)

,SDATE,YEAR,MONTH,POSITION,VISS_EU_CD,WATER_TYPE_AREA,DEPH,DIN,SALT,REFERENCE_VALUE
7031,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,5.00,6.1,False
7032,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,4.85,6.0,False
7033,2016-12-08,2016,12,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,4.92,6.0,False
10166,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,10.10,5.3,False
10167,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,9.87,5.9,False
10168,2016-02-09,2016,2,58.64_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,6.95,6.5,False
10930,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,8.38,5.5,False
10931,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,8.13,NaN,False
10932,2015-12-08,2015,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.14,6.6,False
17901,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,13.30,5.6,False
17902,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,9.36,NaN,False
17903,2015-02-09,2015,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.93,6.6,False
18619,2014-12-16,2014,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,9.37,5.0,False
18620,2014-12-16,2014,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,7.97,NaN,False
18621,2014-12-16,2014,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,7.19,NaN,False
25719,2014-02-25,2014,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,25.47,2.3,False
25720,2014-02-25,2014,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,15.03,NaN,False
25721,2014-02-25,2014,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,10.0,6.57,NaN,False
26807,2013-12-10,2013,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,6.93,6.4,False
26808,2013-12-10,2013,12,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,6.15,NaN,False
33959,2013-02-08,2013,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,0.5,41.21,0.8,False
33960,2013-02-08,2013,2,58.65_16.39,SE583926-161744,13 - Östergötlands inre kustvatten,5.0,14.07,NaN,False

In [131]:
dw_obj.column_list

['SDATE',
 'YEAR',
 'MONTH',
 'POSITION',
 'VISS_EU_CD',
 'WATER_TYPE_AREA',
 'BQIm',
 'MNDEP',
 'MXDEP',
 'MNDEP',
 'MXDEP']

In [132]:
dw_obj.water_body_indicator_df[wb].dropna(subset = ['BQIm'])

,SDATE,YEAR,MONTH,POSITION,VISS_EU_CD,WATER_TYPE_AREA,BQIm,MNDEP,MXDEP
94919,2016-06-13,2016,6,65.75_22.40,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.050340,7.6,7.6
94920,2016-06-13,2016,6,65.73_22.44,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.474980,11.5,11.5
94921,2016-06-13,2016,6,65.77_22.53,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.164497,9.1,9.1
94922,2016-06-13,2016,6,65.76_22.48,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.239039,9.6,9.6
94923,2016-06-13,2016,6,65.78_22.43,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.387510,7.7,7.7
95543,2015-06-04,2015,6,65.75_22.40,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.370050,9.3,9.3
95544,2015-06-04,2015,6,65.73_22.44,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.504661,12.8,12.8
95545,2015-06-04,2015,6,65.77_22.53,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.957968,10.7,10.7
95546,2015-06-04,2015,6,65.76_22.48,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.504661,11.2,11.2
95547,2015-06-04,2015,6,65.78_22.43,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.212882,9.2,9.2
95825,2014-06-17,2014,6,65.75_22.40,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.050636,8.5,8.5
95826,2014-06-17,2014,6,65.73_22.44,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.050636,12.1,12.1
95827,2014-06-17,2014,6,65.73_22.43,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.755700,10,10
95831,2014-06-17,2014,6,65.78_22.43,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.345644,8.5,8.5
96393,2013-06-06,2013,6,65.77_22.50,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.702870,7.4,7.4
96395,2013-06-06,2013,6,65.77_22.53,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.086150,9.7,9.7
96396,2013-06-06,2013,6,65.76_22.48,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,3.124320,10,10
96407,2013-06-05,2013,6,65.75_22.40,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,2.019210,8,8
96408,2013-06-05,2013,6,65.73_22.43,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.755700,9.5,9.5
96413,2013-06-05,2013,6,65.78_22.43,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,0.759537,8,8

In [157]:
#dw_obj.ref_settings.get_value(variable = 'HG_EQR_LIMIT', type_area = type_area)
#dw_obj.ref_settings.get_value(variable = 'PB_EQR_LIMIT', type_area = type_area)

In [158]:
#dw_obj.tolerance_settings.get_value(variable = 'MIN_NR_YEARS', type_area = '22')
#dw_obj.tolerance_settings.get_min_nr_years(type_area = '22')

In [31]:
dw_obj.calculate_ek_value(wb)

			biov Ek value Calculated
               count      mean       std       min       25%       50%  \
mean_ek_value    4.0  0.639961  0.033126  0.614813  0.618042  0.628956

                    75%       max all_ok
mean_ek_value  0.650874  0.687118  False

In [118]:
dw_obj = w.get_step_object(step = 3, subset = subset_uuid).indicator_objects[indicator]

In [32]:
print(dw_obj.classification_results[wb].keys())
for key, value in dw_obj.classification_results[wb].items():
    if key == 'all_data' or key == 'mean_EQR_by_date' or key == 'number_of_values':
        pass
    else:
        print('**************************************')
        print(key)
        print(value)

dict_keys(['parameter', 'salt_parameter', 'water_body', 'all_data', 'all_ok', 'water_body_status', 'mean_EQR_by_year_pos', 'mean_EQR_by_year', 'mean_EQR_by_period', 'number_of_years', 'numerical_class', 'status'])
**************************************
parameter
BIOV_CONC_ALL
**************************************
salt_parameter
SALT_CTD
**************************************
water_body
SE654470-222700
**************************************
all_ok
mean_ek_value    False
Name: all_ok, dtype: bool
**************************************
water_body_status
None
**************************************
mean_EQR_by_year_pos
    YEAR     POSITION  number_of_dates       min  max  mean_ek_value
0   2013  65.73_22.43                0       NaN  NaN            NaN
1   2013  65.73_22.45               10  0.040906  1.0       0.638793
2   2013  65.75_22.40                0       NaN  NaN            NaN
3   2013  65.76_22.48                0       NaN  NaN            NaN
4   2013  65.77_22.50                0       NaN  NaN            NaN
5   2013  65.77_22.53                0       NaN  NaN            NaN
6   2013  65.78_22.43                0       NaN  NaN            NaN
7   2014  65.73_22.43                0       NaN  NaN            NaN
8   2014  65.73_22.44                0       NaN  NaN            NaN
9   2014  65.73_22.45               10  0.060073  1.0       0.614813
10  2014  65.75_22.40                0       NaN  NaN            NaN
11  2014  65.78_22.43                0       NaN  NaN            NaN
12  2015  65.73_22.44                0       NaN  NaN            NaN
13  2015  65.73_22.45                9  0.043947  1.0       0.619119
14  2015  65.75_22.40                0       NaN  NaN            NaN
15  2015  65.76_22.48                0       NaN  NaN            NaN
16  2015  65.77_22.53                0       NaN  NaN            NaN
17  2015  65.78_22.43                0       NaN  NaN            NaN
18  2016  65.73_22.44                0       NaN  NaN            NaN
19  2016  65.73_22.45               10  0.056598  1.0       0.687118
20  2016  65.75_22.40                0       NaN  NaN            NaN
21  2016  65.76_22.48                0       NaN  NaN            NaN
22  2016  65.77_22.53                0       NaN  NaN            NaN
23  2016  65.78_22.43                0       NaN  NaN            NaN
**************************************
mean_EQR_by_year
      number_of_dates       min       max  mean_ek_value
YEAR
2013                1  0.638793  0.638793       0.638793
2014                1  0.614813  0.614813       0.614813
2015                1  0.619119  0.619119       0.619119
2016                1  0.687118  0.687118       0.687118
**************************************
mean_EQR_by_period
0.639960720229
**************************************
number_of_years
4.0
**************************************
numerical_class
3.99981295347
**************************************
status
GOOD

In [36]:
dw_obj.classification_results[wb]['mean_EQR_by_year_pos'].dropna(subset = ['mean_ek_value'])

    YEAR     POSITION  number_of_dates       min  max  mean_ek_value
1   2013  65.73_22.45               10  0.040906  1.0       0.638793
9   2014  65.73_22.45               10  0.060073  1.0       0.614813
13  2015  65.73_22.45                9  0.043947  1.0       0.619119
19  2016  65.73_22.45               10  0.056598  1.0       0.687118

In [22]:

dw_obj.water_body_indicator_df[wb]

,SDATE,YEAR,MONTH,VISS_EU_CD,WATER_TYPE_AREA,DEPH,DIN,SALT_CTD,REFERENCE_VALUE
7057,2016-12-07,2016,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,6.35,2.000,6.334000
7058,2016-12-07,2016,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,6.41,2.000,6.334000
7059,2016-12-07,2016,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,6.81,2.000,6.334000
7349,2016-11-09,2016,11,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,7.56,2.000,6.334000
7350,2016-11-09,2016,11,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,5.40,2.000,6.334000
7351,2016-11-09,2016,11,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,5.67,2.000,6.334000
10343,2016-01-27,2016,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,11.37,2.000,6.334000
10344,2016-01-27,2016,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,7.53,2.279,5.962093
10345,2016-01-27,2016,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,7.26,2.345,5.874115
11065,2015-12-02,2015,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,5.86,1.945,6.407315
11066,2015-12-02,2015,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,6.01,1.941,6.412647
11067,2015-12-02,2015,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,5.84,1.943,6.409981
17831,2015-02-11,2015,2,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,9.05,0.660,8.120220
17832,2015-02-11,2015,2,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,6.98,1.730,6.693910
17833,2015-02-11,2015,2,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,7.29,2.020,6.307340
18397,2015-01-14,2015,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,6.09,NaN,NaN
18398,2015-01-14,2015,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,6.22,NaN,NaN
18399,2015-01-14,2015,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,6.74,NaN,NaN
18916,2014-12-03,2014,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,5.07,2.285,5.954095
18917,2014-12-03,2014,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,5.05,2.273,5.970091
18918,2014-12-03,2014,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,5.18,2.310,5.920770
26382,2014-01-16,2014,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,9.76,0.679,8.094893
26383,2014-01-16,2014,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,7.35,1.542,6.944514
26384,2014-01-16,2014,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,9.37,1.958,6.389986
27000,2013-12-04,2013,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,5.57,2.373,5.836791
27001,2013-12-04,2013,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,5.66,2.373,5.836791
27002,2013-12-04,2013,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,5.75,2.373,5.836791
34344,2013-01-15,2013,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,6.49,1.384,7.155128
34345,2013-01-15,2013,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,7.81,2.207,6.058069
34346,2013-01-15,2013,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,7.96,2.721,5.372907

In [30]:
def get_EK(x):
    y = x.DIN/x.REFERENCE_VALUE
    if y > 1:
        return 1
    else:
        return y

df = dw_obj.water_body_indicator_df[wb]
df['ek_value'] = df.apply(get_EK, axis = 1)

In [31]:
df[dw_obj.indicator_parameter]/df.REFERENCE_VALUE

7057     1.002526
7058     1.011999
7059     1.075150
7349     1.193559
7350     0.852542
7351     0.895169
10343    1.795074
10344    1.262979
10345    1.235931
11065    0.914580
11066    0.937210
11067    0.911079
17831    1.114502
17832    1.042739
17833    1.155796
18397         NaN
18398         NaN
18399         NaN
18916    0.851515
18917    0.845883
18918    0.874886
26382    1.205698
26383    1.058389
26384    1.466357
27000    0.954291
27001    0.969711
27002    0.985130
34344    0.907042
34345    1.289190
34346    1.481507
dtype: float64

In [32]:
by_date = df.groupby(['SDATE', 'YEAR'],).ek_value.agg(['count', 'min', 'max', 'mean']).reset_index()
# by_date.to_csv(self.paths['results'] +'/' + self.name + water_body +'by_occation.txt', sep='\t')
by_date.rename(columns={'mean':'mean_ek_value', 'count': 'number_of_values'}, inplace=True) # Cant use "mean" below
by_date

        SDATE  YEAR  number_of_values       min       max  mean_ek_value
0  2013-01-15  2013                 3  0.907042  1.000000       0.969014
1  2013-12-04  2013                 3  0.954291  0.985130       0.969711
2  2014-01-16  2014                 3  1.000000  1.000000       1.000000
3  2014-12-03  2014                 3  0.845883  0.874886       0.857428
4  2015-01-14  2015                 0       NaN       NaN            NaN
5  2015-02-11  2015                 3  1.000000  1.000000       1.000000
6  2015-12-02  2015                 3  0.911079  0.937210       0.920956
7  2016-01-27  2016                 3  1.000000  1.000000       1.000000
8  2016-11-09  2016                 3  0.852542  1.000000       0.915904
9  2016-12-07  2016                 3  1.000000  1.000000       1.000000

In [34]:
# Remove occations with not enough samples
# Or use count as a flag for what to display for the user?
by_date['all_ok'] = True
ix = by_date.loc[by_date['number_of_values'] < 1, 'all_ok'].index
by_date.set_value(ix, 'all_ok', False)

,SDATE,YEAR,number_of_values,min,max,mean_ek_value,all_ok
0,2013-01-15,2013,3,0.907042,1.000000,0.969014,True
1,2013-12-04,2013,3,0.954291,0.985130,0.969711,True
2,2014-01-16,2014,3,1.000000,1.000000,1.000000,True
3,2014-12-03,2014,3,0.845883,0.874886,0.857428,True
4,2015-01-14,2015,0,NaN,NaN,NaN,False
5,2015-02-11,2015,3,1.000000,1.000000,1.000000,True
6,2015-12-02,2015,3,0.911079,0.937210,0.920956,True
7,2016-01-27,2016,3,1.000000,1.000000,1.000000,True
8,2016-11-09,2016,3,0.852542,1.000000,0.915904,True
9,2016-12-07,2016,3,1.000000,1.000000,1.000000,True

In [35]:
"""
2) Medelvärdet av EK för varje parameter beräknas för varje år.
"""
by_year = by_date.groupby('YEAR').mean_ek_value.agg(['count', 'min', 'max', 'mean']).reset_index()
by_year.rename(columns={'mean':'mean_ek_value', 'count': 'number_of_dates'}, inplace=True)
by_year['all_ok'] = True
by_year.loc[by_year['number_of_dates'] < 1, 'all_ok'] = False
# by_year.to_csv(self.paths['results'] +'/' + self.name + water_body + 'by_year.txt', sep='\t')
by_year

   YEAR  number_of_dates       min       max  mean_ek_value all_ok
0  2013                2  0.969014  0.969711       0.969362   True
1  2014                2  0.857428  1.000000       0.928714   True
2  2015                2  0.920956  1.000000       0.960478   True
3  2016                3  0.915904  1.000000       0.971968   True

In [36]:
by_period = by_year[['mean_ek_value']].describe()
by_period

       mean_ek_value
count       4.000000
mean        0.957631
std         0.019895
min         0.928714
25%         0.952537
50%         0.964920
75%         0.970014
max         0.971968

In [37]:
"""
3) Medelvärdet av EK för varje parameter och vattenförekomst (beräknas för minst
en treårsperiod)
"""
by_period = by_year[['mean_ek_value']].describe()#.agg(['count', 'min', 'max', 'mean'])
by_period = by_period.transpose()
#by_period#.loc['mean', 'mean_ek_value']
#
#by_period['count'].get_value('mean_ek_value')
by_period['all_ok']  = True
if by_period['count'].get_value('mean_ek_value') < 3:
    by_period['all_ok'] = False

by_period

,count,mean,std,min,25%,50%,75%,max,all_ok
mean_ek_value,4.0,0.957631,0.019895,0.928714,0.952537,0.96492,0.970014,0.971968,True

In [40]:
by_period['mean'].get_value('mean_ek_value')

0.95763063655011882

In [29]:
temp_df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
...                   index=pd.date_range('1/1/2000', periods=10))
temp_df.iloc[3:7] = np.nan
temp_df.describe()

              A         B         C
count  6.000000  6.000000  6.000000
mean   0.206290  0.471121 -0.242431
std    0.586035  0.679945  1.721820
min   -0.333494 -0.641210 -2.997678
25%   -0.286442  0.214068 -1.103137
50%    0.056126  0.508677  0.315088
75%    0.657880  0.929940  0.644624
max    1.001151  1.264358  1.734323

In [30]:
def set_above_one_value(x):
    if x > 1:
        return 1
    else:
        return x
dw_obj.water_body_indicator_df[wb]['EK'] = dw_obj.water_body_indicator_df[wb]['DIN']/dw_obj.water_body_indicator_df[wb]['REFERENCE_VALUE']
dw_obj.water_body_indicator_df[wb]['EK'] = dw_obj.water_body_indicator_df[wb]['EK'].apply(set_above_one_value)
dw_obj.water_body_indicator_df[wb]['EK']

7057     1.000000
7058     1.000000
7059     1.000000
7349     1.000000
7350     0.852542
7351     0.895169
10343    1.000000
10344    1.000000
10345    1.000000
11065    0.914580
11066    0.937210
11067    0.911079
17831    1.000000
17832    1.000000
17833    1.000000
18397         NaN
18398         NaN
18399         NaN
18916    0.851515
18917    0.845883
18918    0.874886
26382    1.000000
26383    1.000000
26384    1.000000
27000    0.954291
27001    0.969711
27002    0.985130
34344    0.907042
34345    1.000000
34346    1.000000
Name: EK, dtype: float64

In [31]:
dw_obj.get_filtered_data(subset = subset_uuid, step = 'step_2', type_area = 22, indicator = 'din_winter')[['DIN']].dropna()

         DIN
5199    4.68
5200    4.55
5201    4.54
5202    4.23
5203    4.42
5204    4.19
5205    5.59
5206    8.84
5207    6.77
5208    5.68
5209    4.39
5210    4.27
5211    4.63
5212    4.59
5213    4.59
5214    5.08
5215    5.34
5216    4.60
5217    4.31
5218    4.19
5219    4.60
5220   15.76
5221    8.59
5222    6.40
5223    6.46
5224    5.67
5225    5.34
5226    4.62
5227    5.18
5228    5.18
...      ...
34530  11.72
34531   4.89
34532   4.85
34533   4.39
34534   4.22
34535   9.33
34536  10.92
34537   8.57
34538   5.36
34539   3.93
34540   5.71
34541   7.14
34542  35.71
34543   3.93
34544   4.14
34545  26.35
34546  11.60
34547   8.32
34548   8.46
34549   8.60
34550   5.55
34551   5.39
34552   5.42
34553   5.40
34554   6.17
34555   8.48
34556  11.34
34557  15.83
34558  11.80
34559   3.85

[18009 rows x 1 columns]

In [120]:
B2_NTOT_WINTER_SETTINGS = lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter']
lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter'].allowed_variables
# gör om till
# lv_workspace.get_indicator_ref_settings(step = , subset = , indicator = , waterbody/type)
# ger samma resultat som:
#lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter'].settings.ref_columns

lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter'].settings.get_value('EK G/M', 22)
#print(B2_NTOT_WINTER_SETTINGS)
#B2_NTOT_WINTER_SETTINGS.get_value('2', 'DEPTH_INTERVAL')

'0.85'

In [124]:
av = lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_data_filter_settings['ntot_winter'].allowed_variables
lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_data_filter_settings['ntot_winter'].settings.df[av]

   DEPH_INTERVAL MONTH_LIST
0           0-10   1;2;3;12
1           0-10   1;2;3;12
2           0-10   1;2;3;12
3           0-10   1;2;3;12
4           0-10   1;2;3;12
5           0-10   1;2;3;12
6           0-10   1;2;3;12
7           0-10     1;2;12
8           0-10     1;2;12
9           0-10     1;2;12
10          0-10     1;2;12
11          0-10     1;2;12
12          0-10     1;2;12
13          0-10     1;2;12
14          0-10     1;2;12
15          0-10     1;2;12
16          0-10     1;2;12
17          0-10  1;2;11;12
18          0-10  1;2;11;12
19          0-10  1;2;11;12
20          0-10  1;2;11;12
21          0-10  1;2;11;12
22          0-10  1;2;11;12
23          0-10  1;2;11;12
24          0-10  1;2;11;12
25          0-10     1;2;12
26          0-10   1;2;3;12

In [119]:
lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_data_filter_settings['ntot_winter'].settings.df

,TYPE_AREA_NUMBER,TYPE_AREA_SUFFIX,DEPH_INTERVAL,MIN_NR_YEARS,MIN_NR_VALUES,TIME_DELTA_TOLERANCE,POS_RADIUS_TOLERANCE,DEPH_TOLERANCE,MONTH_LIST,EKV REF,EKV H/G,EKV G/M,EKV M/O,EKV O/D,EK H/G,EK G/M,EK M/O,EK O/D,SALINITY MAX
0,1,n,0-10,3,3,3,0.1,5,1;2;3;12,-0.630*s+36,-0.715*s+40.86,-0.799*s+45.72,-1.0546*s+60.3,-1.480*s+84.6,0.88,0.79,0.6,0.43,27
1,1,s,0-10,3,3,3,0.1,5,1;2;3;12,-0.65*s+30,-0.738*s+34.05,-0.8255*s+38.1,-1.0888*s+50.25,-1.528*s+70.5,0.88,0.79,0.6,0.43,20
2,2,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.630*s+36,-0.715*s+40.86,-0.799*s+45.72,-1.0546*s+60.3,-1.480*s+84.6,0.88,0.79,0.6,0.43,27
3,3,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.630*s+36,-0.715*s+40.86,-0.799*s+45.72,-1.0546*s+60.3,-1.480*s+84.6,0.88,0.79,0.6,0.43,27
4,4,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.65*s+30,-0.738*s+34.05,-0.8255*s+38.1,-1.0888*s+50.25,-1.528*s+70.5,0.88,0.79,0.6,0.43,20
5,5,NaN,0-10,3,3,3,0.1,5,1;2;3;12,0*s+17,0*s+19.295,0*s+21.59,0*s+28.475,0*s+39.95,0.89,0.77,0.61,0.43,20
6,6,NaN,0-10,3,3,3,0.1,5,1;2;3;12,0*s+17,0*s+19.295,0*s+21.59,0*s+28.475,0*s+39.95,0.89,0.77,0.61,0.43,20
7,7,NaN,0-10,3,3,3,0.1,5,1;2;12,-6*s+59,-6.6*s+64.9,-7.2*s+70.8,-9*s+88.5,-12*s+118,0.91,0.84,0.67,0.5,7
8,8,NaN,0-10,3,3,3,0.1,5,1;2;12,-6*s+59,-6.6*s+64.9,-7.2*s+70.8,-9*s+88.5,-12*s+118,0.91,0.84,0.67,0.5,7
9,9,NaN,0-10,3,3,3,0.1,5,1;2;12,-6*s+59,-6.6*s+64.9,-7.2*s+70.8,-9*s+88.5,-12*s+118,0.91,0.84,0.67,0.5,7
10,10,NaN,0-10,3,3,3,0.1,5,1;2;12,0*s+17,0*s+18.7,0*s+20.4,0*s+25.5,0*s+34,0.89,0.85,0.65,0.5,7
11,11,NaN,0-10,3,3,3,0.1,5,1;2;12,0*s+17,0*s+18.7,0*s+20.4,0*s+25.5,0*s+34,0.89,0.85,0.65,0.5,7
12,12,s,0-10,3,3,3,0.1,5,1;2;12,-2.833*s+34,-3.1167*s+37.4,-3.4*s+40.8,-4.25*s+51,-5.6667*s+68,0.91,0.83,0.66,0.5,6
13,12,n,0-10,3,3,3,0.1,5,1;2;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,6
14,13,NaN,0-10,3,3,3,0.1,5,1;2;12,-2.833*s+34,-3.1167*s+37.4,-3.4*s+40.8,-4.25*s+51,-5.6667*s+68,0.91,0.83,0.66,0.5,6
15,14,NaN,0-10,3,3,3,0.1,5,1;2;12,-2.833*s+34,-3.1167*s+37.4,-3.4*s+40.8,-4.25*s+51,-5.6667*s+68,0.91,0.83,0.66,0.5,6
16,15,NaN,0-10,3,3,3,0.1,5,1;2;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,6
17,16,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,5
18,17,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,5
19,18,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.4*s+20,-0.44*s+22,-0.48*s+24,-0.6*s+30,-0.8*s+40,0.91,0.83,0.66,0.5,5
20,19,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.4*s+20,-0.44*s+22,-0.48*s+24,-0.6*s+30,-0.8*s+40,0.91,0.83,0.66,0.5,5
21,20,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.6*s+21,-0.66*s+23.1,-0.72*s+25.2,-0.9*s+31.5,-1.2*s+42,0.91,0.83,0.67,0.5,5
22,21,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.6*s+21,-0.66*s+23.1,-0.72*s+25.2,-0.9*s+31.5,-1.2*s+42,0.91,0.83,0.67,0.5,5
23,22,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+21,-1.09*s+22.89,-1.18*s+24.78,-1.45*s+30.45,-1.9*s+39.9,0.93,0.85,0.68,0.51,3
24,23,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+21,-1.09*s+22.89,-1.18*s+24.78,-1.45*s+30.45,-1.9*s+39.9,0.93,0.85,0.68,0.51,3
25,24,NaN,0-10,3,3,3,0.1,5,1;2;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,6
26,25,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.65*s+30,-0.738*s+34.05,-0.8255*s+38.1,-1.0888*s+50.25,-1.528*s+70.5,0.88,0.79,0.6,0.43,20

In [67]:
B2_NTOT_WINTER_SETTINGS.settings.mapping_water_body['N m Bottenvikens kustvatten']

{'BASIN_NUMBER': '110002.0',
 'CENTER_LAT': '64° 42\' 35,349"',
 'CENTER_LON': '21° 24\' 5,383"',
 'EU_CD': 'SE648760-213140',
 'HID': '649640-214530',
 'TYPE_AREA_NUMBER': '23',
 'TYPE_AREA_SUFFIX': '',
 'URL_VISS': 'http://www.viss.lansstyrelsen.se/waters.aspx?waterEUID=SE648760-213140'}

### Set subset time and area filter

In [35]:
f1_A = lv_workspace.get_data_filter_object(step=1, subset='A') 
f1_A.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Gullmarn centralbassäng', 'Rivö fjord'],
 'STATN': ['BJÖRKHOLMEN']}

In [136]:
lv_workspace.get_data_filter_info(step=1, subset='A')

{'exclude_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN'],
 'include_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN']}

In [36]:
f1_A.exclude_list_filter

{'MYEAR': ['2015', '2016'], 'SEA_AREA_NAME': [], 'STATN': ['SLÄGGÖ']}

In [21]:
f0.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Byfjorden',
  'Gullmarn centralbassäng',
  'Havstensfjorden',
  'Rivö fjord'],
 'STATN': []}

### Apply subset filter

In [22]:
lv_workspace.apply_subset_filter(subset='A') # Not handled properly by the IndexHandler

True

### Extract filtered data

In [23]:
data_after_subset_filter = lv_workspace.get_filtered_data(level=1, subset='A') # level=0 means first filter 
print('{} rows mathing the filter criteria'.format(len(data_after_subset_filter)))
data_after_subset_filter.head()

198 rows mathing the filter criteria

,AMON,BQIm,CPHL,DEPH,DOXY_BTL,DOXY_CTD,LATIT_DD,LONGI_DD,MNDEP,MXDEP,...,SERNO,SHARKID_MD5,SHIPC,STATN,STIME,TEMP_BTL,TEMP_CTD,WATER_DISTRICT,WATER_TYPE_AREA,WLTYP
2628,0.76,NaN,0.6,0.0,7.05,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,4.96,4.84,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2629,0.72,NaN,0.5,2.0,7.12,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,4.93,4.84,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2630,0.74,NaN,0.6,5.0,7.16,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,4.88,4.84,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2631,0.65,NaN,0.5,10.0,7.11,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,5.12,4.86,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2632,0.46,NaN,0.3,15.0,6.86,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,5.52,5.10,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM

In [24]:
# show available waterbodies
lst = data_after_subset_filter.SEA_AREA_NAME.unique()
print('Waterbodies in subset:\n{}'.format('\n'.join(lst)))

Waterbodies in subset:
Gullmarn centralbassäng

In [24]:
import numpy as np
np.where(lv_workspace.index_handler.subset_filter)

(array([2629, 2630, 2631, 2632, 2633, 2634, 2635, 2636, 2637, 2638, 2639,
        2754, 2755, 2756, 2757, 2758, 2759, 2760, 2761, 2762, 2763, 2764,
        2870, 2871, 2872, 2873, 2874, 2875, 2876, 2877, 2878, 2879, 2880,
        2952, 2953, 2954, 2955, 2956, 2957, 2958, 2959, 2960, 2961, 2962,
        3077, 3078, 3079, 3080, 3081, 3082, 3083, 3084, 3085, 3086, 3087,
        3185, 3186, 3187, 3188, 3189, 3190, 3191, 3192, 3193, 3194, 3195,
        3282, 3283, 3284, 3285, 3286, 3287, 3288, 3289, 3290, 3291, 3292,
        3409, 3410, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419,
        3493, 3494, 3495, 3496, 3497, 3498, 3499, 3500, 3501, 3502, 3503,
        3624, 3625, 3626, 3627, 3628, 3629, 3630, 3631, 3632, 3633, 3634,
        3717, 3718, 3719, 3720, 3721, 3722, 3723, 3724, 3725, 3726, 3727,
        3859, 3860, 3861, 3862, 3863, 3864, 3865, 3866, 3867, 3868, 3869,
        3979, 3980, 3981, 3982, 3983, 3984, 3985, 3986, 3987, 3988, 3989,
        4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4120,
        4265, 4266, 4267, 4268, 4269, 4270, 4271, 4272, 4273, 4274, 4275,
        4354, 4355, 4356, 4357, 4358, 4359, 4360, 4361, 4362, 4363, 4364,
        4502, 4503, 4504, 4505, 4506, 4507, 4508, 4509, 4510, 4511, 4512,
        4806, 4807, 4808, 4809, 4810, 4811, 4812, 4813, 4814, 4815, 4816], dtype=int64),)

In [25]:
f = lv_workspace.get_data_filter_object(step=1, subset='A')

In [26]:
f.all_filters

{'exclude_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN'],
 'include_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN']}

In [27]:
f.exclude_list_filter

{'MYEAR': ['2015', '2016'], 'SEA_AREA_NAME': [], 'STATN': ['SLÄGGÖ']}

In [28]:
f.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Gullmarn centralbassäng', 'Rivö fjord'],
 'STATN': ['BJÖRKHOLMEN']}

In [29]:
s = lv_workspace.get_step_1_object('A')

In [30]:
s.data_filter.all_filters

{'exclude_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN'],
 'include_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN']}

In [31]:
f0 = lv_workspace.get_data_filter_object(step=0)

In [32]:
f0.exclude_list_filter

{'MYEAR': ['2015', '2016'], 'SEA_AREA_NAME': [], 'STATN': []}

In [33]:
f0.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Byfjorden',
  'Gullmarn centralbassäng',
  'Havstensfjorden',
  'Rivö fjord'],
 'STATN': []}

# Quality factor Nutrients

In [ ]:
lv_workspace.initiate_quality_factors()