In [1]:
# Reload when code changed:
%load_ext autoreload
%autoreload 2
%pwd
import os 
import sys
path = "../"
sys.path.append(path)
#os.path.abspath("../")
print(os.path.abspath(path))

D:\github\ekostat_calculator

In [2]:
import pandas as pd
import numpy as np
import json
import timeit

import core
import importlib
importlib.reload(core)
import logging
importlib.reload(core) 
try:
    logging.shutdown()
    importlib.reload(logging)
except:
    pass
from event_handler import EventHandler
print(core.__file__)
pd.__version__

..\core\__init__.py

'0.19.2'

In [3]:
def print_workspaces():
    request = {'user_id': user_id} 
    respons = ekos.request_workspace_list(request)
    print('')
    print('='*100)
    print('Workspaces for user: {}'.format(user_id)) 
    print('')
    for item in respons['workspaces']:
        print('-'*100)
        for key in sorted(item.keys()):
            print('{}:\t{}'.format(key, item[key]))
        print('')
    print('='*100)
    
    
def print_json(data): 
    json_string = json.dumps(data, indent=2, sort_keys=True)
    print(json_string)

### Load directories

In [4]:
root_directory = "../" #os.getcwd()
workspace_directory = root_directory + '/workspaces' 
resource_directory = root_directory + '/resources'
alias = 'lena'
user_id = 'test_user' #kanske ska vara off_line user?
workspace_alias = 'lena_indicator'

## Initiate EventHandler

In [5]:
ekos = EventHandler(root_directory)

2018-04-18 16:18:54,970	logger.py	85	add_log	DEBUG
2018-04-18 16:18:54,986	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-04-18 16:18:54,986	logger.py	87	add_log	DEBUG	### Log added for log_id "event_handler" at locaton: ..\log\main_event_handler.log
2018-04-18 16:18:54,986	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------
2018-04-18 16:18:54,986	event_handler.py	64	__init__	DEBUG	Start EventHandler: event_handler
2018-04-18 16:18:54,986	event_handler.py	65	__init__	DEBUG
2018-04-18 16:18:54,987	event_handler.py	66	__init__	INFO	TEST info logger
2018-04-18 16:18:54,987	event_handler.py	67	__init__	WARNING	TEST warning logger
2018-04-18 16:18:54,987	event_handler.py	68	__init__	ERROR	TEST error logger
2018-04-18 16:18:54,987	event_handler.py	69	__init__	DEBUG	TEST debug logger

====================================================================================================
event_handler
..//log
main
----------------------------------------------------------------------------------------------------
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
dict_keys(['main_event_handler'])
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
event_handler _ main_event_handler

### Load existing workspace

In [6]:
ekos.load_workspace(user_id, alias = workspace_alias)
# Här får jag ofta felmeddelande:
# AttributeError: module 'core' has no attribute 'ParameterMapping'

2018-04-18 16:18:58,253	event_handler.py	1483	load_workspace	DEBUG	Trying to load workspace "147f5d47-773c-43f0-b337-57208718d0cf" with alias "lena_indicator"
2018-04-18 16:18:58,386	logger.py	85	add_log	DEBUG
2018-04-18 16:18:58,386	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-04-18 16:18:58,386	logger.py	87	add_log	DEBUG	### Log added for log_id "30062c90-2a60-4ee1-9944-f00329db1174" at locaton: ..\workspaces\147f5d47-773c-43f0-b337-57208718d0cf\log\subset_30062c90-2a60-4ee1-9944-f00329db1174.log
2018-04-18 16:18:58,387	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------

====================================================================================================
Initiating WorkSpace: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf
Parent directory is: ..//workspaces
Resource directory is: ..//resources
=== 30062c90-2a60-4ee1-9944-f00329db1174
status ['editable', 'readable', 'deleted']
!!! A
!!! 30062c90-2a60-4ee1-9944-f00329db1174
!!! ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets
----------------------------------------------------------------------------------------------------
Initiating Subset: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174
===
..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174/step_1
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174/step_2
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/30062c90-2a60-4ee1-9944-f00329db1174/step_3
====================================================================================================
30062c90-2a60-4ee1-9944-f00329db1174
..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/log
subset
----------------------------------------------------------------------------------------------------
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
dict_keys(['main_event_handler', 'subset_30062c90-2a60-4ee1-9944-f00329db1174'])
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
30062c90-2a60-4ee1-9944-f00329db1174 _ main_event_handler
30062c90-2a60-4ee1-9944-f00329db1174 _ subset_30062c90-2a60-4ee1-9944-f00329db1174
=== default_subset
!!! default_subset
!!! default_subset
!!! ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets
----------------------------------------------------------------------------------------------------
Initiating Subset: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset
===
..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset/step_1

2018-04-18 16:18:58,469	logger.py	85	add_log	DEBUG
2018-04-18 16:18:58,471	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-04-18 16:18:58,474	logger.py	87	add_log	DEBUG	### Log added for log_id "default_subset" at locaton: ..\workspaces\147f5d47-773c-43f0-b337-57208718d0cf\log\subset_default_subset.log
2018-04-18 16:18:58,476	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------

load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset/step_2
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/subsets/default_subset/step_3
====================================================================================================
default_subset
..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/log
subset
----------------------------------------------------------------------------------------------------
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
dict_keys(['main_event_handler', 'subset_30062c90-2a60-4ee1-9944-f00329db1174', 'subset_default_subset'])
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
default_subset _ main_event_handler
default_subset _ subset_30062c90-2a60-4ee1-9944-f00329db1174
default_subset _ subset_default_subset
load_water_body_station_filter
Initiating WorkStep: ..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/step_0

2018-04-18 16:18:58,836	logger.py	85	add_log	DEBUG
2018-04-18 16:18:58,836	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-04-18 16:18:58,836	logger.py	87	add_log	DEBUG	### Log added for log_id "147f5d47-773c-43f0-b337-57208718d0cf" at locaton: ..\workspaces\147f5d47-773c-43f0-b337-57208718d0cf\log\workspace_147f5d47-773c-43f0-b337-57208718d0cf.log
2018-04-18 16:18:58,836	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------

====================================================================================================
147f5d47-773c-43f0-b337-57208718d0cf
..//workspaces/147f5d47-773c-43f0-b337-57208718d0cf/log
workspace
----------------------------------------------------------------------------------------------------
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
dict_keys(['main_event_handler', 'subset_30062c90-2a60-4ee1-9944-f00329db1174', 'subset_default_subset', 'workspace_147f5d47-773c-43f0-b337-57208718d0cf'])
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
147f5d47-773c-43f0-b337-57208718d0cf _ main_event_handler
147f5d47-773c-43f0-b337-57208718d0cf _ subset_30062c90-2a60-4ee1-9944-f00329db1174
147f5d47-773c-43f0-b337-57208718d0cf _ subset_default_subset
147f5d47-773c-43f0-b337-57208718d0cf _ workspace_147f5d47-773c-43f0-b337-57208718d0cf

True

In [7]:
workspace_uuid = ekos.get_unique_id_for_alias(user_id, workspace_alias)
print(workspace_uuid)

147f5d47-773c-43f0-b337-57208718d0cf

In [8]:
#ekos.import_default_data(user_id, workspace_alias = workspace_alias, force = True)

### Load all data in workspace

In [73]:
#ekos.get_workspace(user_id, unique_id = workspace_uuid, alias = workspace_alias).delete_alldata_export()

2018-04-18 15:35:34,656	event_handler.py	919	get_workspace	DEBUG	Getting workspace "147f5d47-773c-43f0-b337-57208718d0cf" with alias "lena_indicator"
2018-04-18 15:35:34,657	workspaces.py	1193	delete_alldata_export	DEBUG	all_data.txt deleted

In [8]:
#%%timeit
ekos.load_data(user_id = user_id, unique_id = workspace_uuid, force = True)
w = ekos.get_workspace(user_id, unique_id = workspace_uuid, alias = workspace_alias)
len(w.data_handler.get_all_column_data_df())

2018-04-18 16:19:07,886	workspaces.py	1414	load_all_data	DEBUG	data has been loaded from existing all_data.pickle file.
2018-04-18 16:19:07,902	event_handler.py	919	get_workspace	DEBUG	Getting workspace "147f5d47-773c-43f0-b337-57208718d0cf" with alias "lena_indicator"

101465

# Step 0

### Apply first data filter

In [9]:
w.apply_data_filter(step = 0) # This sets the first level of data filter in the IndexHandler

add filter for step: step_0, type area: None, indicator: None, level: None

# Step 1 Set subset filter

In [69]:
def convert(x):
            try:
                return float(x)
            except:
                return np.nan

In [10]:
subset_uuid = ekos.get_unique_id_for_alias(user_id, workspace_alias = workspace_alias, subset_alias = 'A')
print(w.get_subset_list())

f1 = w.get_data_filter_object(subset = subset_uuid, step=1) 
print(f1.include_list_filter)

w.apply_data_filter(subset = subset_uuid, step = 1)

df_step1 = w.get_filtered_data(step = 1, subset = subset_uuid)
print(df_step1.columns)

2018-04-18 16:19:38,833	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_1

['30062c90-2a60-4ee1-9944-f00329db1174', 'default_subset']
{'MYEAR': ['2013', '2014', '2015', '2016', '2017', '2018', '2019'], 'STATN': [], 'WATER_BODY': []}
add filter for step: step_1, type area: None, indicator: None, level: None
Index(['Unnamed: 0', 'AMON', 'BIOV_CONC_ALL', 'BQIm', 'CPHL_INTEG', 'DEPH',
       'DIN', 'DOXY_BTL', 'DOXY_CTD', 'LATIT_DD', 'LONGI_DD', 'MNDEP', 'MXDEP',
       'MYEAR', 'NTOT', 'NTRA', 'NTRI', 'NTRZ', 'PHOS', 'PTOT', 'Q_AMON',
       'Q_BIOV_CONC_ALL', 'Q_BQIm', 'Q_CPHL_INTEG', 'Q_DOXY_BTL', 'Q_DOXY_CTD',
       'Q_NTOT', 'Q_NTRA', 'Q_NTRI', 'Q_NTRZ', 'Q_PHOS', 'Q_PTOT',
       'Q_SALT_BTL', 'Q_SALT_CTD', 'Q_SECCHI', 'Q_TEMP_BTL', 'Q_TEMP_CTD',
       'SALT_BTL', 'SALT_CTD', 'SDATE', 'SEA_BASIN', 'SECCHI', 'SERNO',
       'SHARKID_MD5', 'SHIPC', 'STATN', 'STIME', 'TEMP_BTL', 'TEMP_CTD',
       'VISS_EU_CD', 'WATER_BODY_NAME', 'WATER_DISTRICT', 'WATER_TYPE_AREA',
       'WLTYP', 'MONTH', 'YEAR', 'POSITION'],
      dtype='object')

# Step 2

In [11]:
w.get_step_object(step = 2, subset = subset_uuid).load_indicator_settings_filters()

w.get_step_object(step = 2, subset = subset_uuid).indicator_data_filter_settings

{'BQI': <core.filters.SettingsDataFilter at 0x486f9b0>,
 'biov': <core.filters.SettingsDataFilter at 0x486f978>,
 'chl': <core.filters.SettingsDataFilter at 0x486fa20>,
 'din_winter': <core.filters.SettingsDataFilter at 0x486f400>,
 'dip_winter': <core.filters.SettingsDataFilter at 0x486f550>,
 'ntot_summer': <core.filters.SettingsDataFilter at 0x486f4e0>,
 'ntot_winter': <core.filters.SettingsDataFilter at 0x486f470>,
 'ptot_summer': <core.filters.SettingsDataFilter at 0x486f518>,
 'ptot_winter': <core.filters.SettingsDataFilter at 0x486f9e8>,
 'secchi': <core.filters.SettingsDataFilter at 0x486db38>}

In [12]:
indicator_list = w.get_available_indicators(subset= 'A', step=2)

2018-04-18 16:19:44,549	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2
2018-04-18 16:19:44,650	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-04-18 16:19:44,755	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2
2018-04-18 16:19:44,901	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-04-18 16:19:45,065	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2
2018-04-18 16:19:45,200	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-04-18 16:19:45,316	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2
2018-04-18 16:19:45,415	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2

subset A
subset A

2018-04-18 16:19:45,542	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2
2018-04-18 16:19:45,635	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2

"['TOT_COVER_ALL' 'SALT'] not in index"
subset A
subset A
subset

2018-04-18 16:19:45,766	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2
2018-04-18 16:19:45,834	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2

 A
subset A

#### Apply indicator filter

In [14]:
wb_list = df_step1.VISS_EU_CD.unique()
print('number of waterbodies in step 1: {}'.format(len(wb_list)))
typeA_list = [row.split('-')[0].strip().lstrip('0') for row in df_step1.WATER_TYPE_AREA.unique()]
print('number of type areas in step 1: {}'.format(len(typeA_list)))

#list(zip(typeA_list, df_step1.WATER_TYPE_AREA.unique()))
indicator_list = ['din_winter','ntot_summer', 'ntot_winter', 'dip_winter', 'ptot_summer', 'ptot_winter', 'biov', 'chl', 'secchi']
for indicator in indicator_list:
    for type_area in typeA_list:
        w.apply_indicator_data_filter(step = 2, 
                              subset = subset_uuid, 
                              indicator = indicator,
                              type_area = type_area)

number of waterbodies in step 1: 310
number of type areas in step 1: 27
add filter for step: step_2, type area: 14, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 2, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 9, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 22, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 20, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 18, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 12n, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 13, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 12s, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 1n, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 25, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 21, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 7, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 5, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 16, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 23, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 3, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 1s, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 4, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 6, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 8, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 10, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 24, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 17, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 15, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 19, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 11, indicator: din_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 14, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 2, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 9, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 22, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 20, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 18, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 12n, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 13, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 12s, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 1n, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 25, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 21, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 7, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 5, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 16, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 23, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 3, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 1s, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 4, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 6, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 8, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 10, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 24, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 17, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 15, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 19, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 11, indicator: ntot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 14, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 2, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 9, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 22, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 20, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 18, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 12n, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 13, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 12s, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 1n, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 25, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 21, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 7, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 5, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 16, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 23, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 3, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 1s, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 4, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 6, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 8, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 10, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 24, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 17, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 15, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 19, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 11, indicator: ntot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 14, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 2, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 9, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 22, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 20, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 18, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 12n, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 13, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 12s, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 1n, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 25, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 21, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 7, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 5, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 16, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 23, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 3, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 1s, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 4, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 6, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 8, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 10, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 24, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 17, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 15, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 19, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 11, indicator: dip_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 14, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 2, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 9, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 22, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 20, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 18, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 12n, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 13, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 12s, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 1n, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 25, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 21, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 7, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 5, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 16, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 23, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 3, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 1s, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 4, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 6, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 8, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 10, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 24, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 17, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 15, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 19, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 11, indicator: ptot_summer, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 14, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 2, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 9, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 22, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 20, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 18, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 12n, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 13, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 12s, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 1n, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 25, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 21, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 7, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 5, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 16, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 23, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 3, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 1s, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 4, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 6, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 8, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 10, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 24, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 17, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 15, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 19, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 11, indicator: ptot_winter, level: None
Water body None
RESULT [0, 10]
add filter for step: step_2, type area: 14, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 2, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 9, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 22, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 20, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 18, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 12n, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 13, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 12s, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 1n, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 25, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 21, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 7, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 5, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 16, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 23, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 3, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 1s, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 4, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 6, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 8, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 10, indicator: biov, level: None
Water body None
add filter for step: step_2, type area: 24, indicator: biov, level: None

In [15]:
wb =  'SE654470-222700'
type_area = '2'#'01s - Västkustens inre kustvatten'
#w.index_handler.booleans['step_0'][subset_uuid]['step_1']['step_2'][type_area]['din_winter']['boolean']

In [16]:
print(w.get_filtered_data(step = 2, subset = subset_uuid, type_area = type_area, indicator = 'din_winter').MONTH.unique())
print(w.get_filtered_data(step = 2, subset = subset_uuid, type_area = type_area, indicator = 'din_winter').DEPH.min(),
        w.get_filtered_data(step = 2, subset = subset_uuid, type_area = type_area, indicator = 'din_winter').DEPH.max())
w.get_filtered_data(step = 2, subset = subset_uuid, type_area = type_area).WATER_TYPE_AREA.unique()

2018-04-18 16:20:15,409	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2
2018-04-18 16:20:15,421	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2
2018-04-18 16:20:15,465	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2
2018-04-18 16:20:15,510	workspaces.py	1301	get_filtered_data	DEBUG	STEP: step_2

[12 11 10  9  8  7  6  5  4  3  2  1]
0.0 246.0

array(['14 - Östergötlands yttre kustvatten', '02 - Västkustens fjordar',
       '09 - Blekinge skärgård och Kalmarsund. Yttre kustvatten',
       '22 - Norra Bottenviken. Inre kustvatten',
       '20 - Norra Kvarkens inre kustvatten',
       '18 - Norra Bottenhavet. Höga kusten. Inre kustvatten',
       '12n - Östergötlands och Stockholms skärgård. Mellankustvatten',
       '13 - Östergötlands inre kustvatten',
       '12s - Östergötlands och Stockholms skärgård. Mellankustvatten',
       '01n - Västkustens inre kustvatten',
       '25 - Göta älvs- och Nordre älvs estuarie',
       '21 - Norra Kvarkens yttre kustvatten', '07 - Skånes kustvatten',
       '05 - Södra Hallands och norra Öresunds kustvatten',
       '16 - Södra Bottenhavet. Inre kustvatten',
       '23 - Norra Bottenviken. Yttre kustvatten',
       '03 - Västkustens yttre kustvatten. Skagerrak',
       '01s - Västkustens inre kustvatten',
       '04 - Västkustens yttre kustvatten. Kattegatt',
       '06 - Öresunds kustvatten',
       '08 - Blekinge skärgård och Kalmarsund. Inre kustvatten',
       '10 - Ölands och Gotlands kustvatten',
       '24 - Stockholms inre skärgård och Hallsfjärden',
       '17 - Södra Bottenhavet. Yttre kustvatten',
       '15 - Stockholms skärgård. Yttre kustvatten',
       '19 - Norra Bottenhavet. Höga kusten. Yttre kustvatten',
       '11 - Gotlands nordvästra kustvatten'], dtype=object)

In [17]:
w.mapping_objects['quality_element'].cfg['indicators']
[item.strip() for item in w.mapping_objects['quality_element'].cfg['indicators'].loc['din_winter'][0].split(', ')]

['DIN', 'SALT_CTD']

# Step 3 Load Indicator objects step 3....

In [18]:
w.get_step_object(step = 3, subset = subset_uuid).indicator_setup(subset_unique_id = subset_uuid) 
#, indicator_list = ['din_winter', 'dip_winter']

IndicatorNutrients
<class 'core.indicators.IndicatorNutrients'>
IndicatorNutrients
<class 'core.indicators.IndicatorNutrients'>
IndicatorNutrients
<class 'core.indicators.IndicatorNutrients'>
IndicatorNutrients
<class 'core.indicators.IndicatorNutrients'>
IndicatorNutrients
<class 'core.indicators.IndicatorNutrients'>
IndicatorNutrients
<class 'core.indicators.IndicatorNutrients'>
IndicatorBQI
<class 'core.indicators.IndicatorBQI'>
IndicatorOxygen
<class 'core.indicators.IndicatorOxygen'>
IndicatorPhytoplankton
<class 'core.indicators.IndicatorPhytoplankton'>
IndicatorPhytoplankton
<class 'core.indicators.IndicatorPhytoplankton'>
IndicatorSecchi
<class 'core.indicators.IndicatorSecchi'>

In [19]:
w.get_step_object(step = 3, subset = subset_uuid).indicator_objects['din_winter'].get_water_body_indicator_df(water_body = wb)

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [20]:
w.get_step_object(step = 3, subset = subset_uuid).indicator_objects['din_winter'].get_ref_value(type_area = '1s', salinity = 25.0)

1.875

In [24]:
indicator= 'biov'
dw_obj = w.get_step_object(step = 3, subset = subset_uuid).indicator_objects[indicator]

In [28]:
#dw_obj.get_water_body_indicator_df(wb)
dw_obj.water_body_indicator_df[wb]

,SDATE,YEAR,MONTH,POSITION,VISS_EU_CD,WATER_TYPE_AREA,DEPH,BIOV_CONC_ALL,SALT_CTD,REFERENCE_VALUE
3,2016-12-07,2016,12,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
4,2016-12-07,2016,12,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
17,2016-11-09,2016,11,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
18,2016-11-09,2016,11,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
37,2016-09-14,2016,9,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
38,2016-09-14,2016,9,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
65,2016-08-17,2016,8,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
66,2016-08-17,2016,8,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
93,2016-07-20,2016,7,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
94,2016-07-20,2016,7,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
128,2016-06-15,2016,6,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
129,2016-06-15,2016,6,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
137,2016-05-31,2016,5,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
138,2016-05-31,2016,5,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
146,2016-05-11,2016,5,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
147,2016-05-11,2016,5,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
174,2016-03-22,2016,3,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
175,2016-03-22,2016,3,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
190,2016-01-27,2016,1,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
191,2016-01-27,2016,1,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
205,2015-12-02,2015,12,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
206,2015-12-02,2015,12,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
223,2015-10-07,2015,10,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
224,2015-10-07,2015,10,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
290,2015-08-05,2015,8,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
291,2015-08-05,2015,8,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
336,2015-07-14,2015,7,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
337,2015-07-14,2015,7,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
391,2015-06-02,2015,6,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
392,2015-06-02,2015,6,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
...,...,...,...,...,...,...,...,...,...,...
94458,2013-12-04,2013,12,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,0.033595,NaN,0.16
94488,2013-10-30,2013,10,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,0.174339,NaN,0.16
94514,2013-09-18,2013,9,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,0.298256,NaN,0.16
94547,2013-08-14,2013,8,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,0.433748,NaN,0.16
94591,2013-07-18,2013,7,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,1.302801,NaN,0.16
94646,2013-06-05,2013,6,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,0.170629,NaN,0.16
94669,2013-05-22,2013,5,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,0.187336,NaN,0.16
94690,2013-04-18,2013,4,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,0.010525,NaN,0.16
94713,2013-03-21,2013,3,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,0.006545,NaN,0.16
94744,2013-01-15,2013,1,65.73_22.45,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,0.011404,NaN,0.16
94919,2016-06-13,2016,6,65.75_22.40,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
94920,2016-06-13,2016,6,65.73_22.44,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
94921,2016-06-13,2016,6,65.77_22.53,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
94922,2016-06-13,2016,6,65.76_22.48,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
94923,2016-06-13,2016,6,65.78_22.43,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
95543,2015-06-04,2015,6,65.75_22.40,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
95544,2015-06-04,2015,6,65.73_22.44,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
95545,2015-06-04,2015,6,65.77_22.53,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
95546,2015-06-04,2015,6,65.76_22.48,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
95547,2015-06-04,2015,6,65.78_22.43,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
95825,2014-06-17,2014,6,65.75_22.40,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
95826,2014-06-17,2014,6,65.73_22.44,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
95827,2014-06-17,2014,6,65.73_22.43,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
95831,2014-06-17,2014,6,65.78_22.43,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
96393,2013-06-06,2013,6,65.77_22.50,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
96395,2013-06-06,2013,6,65.77_22.53,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
96396,2013-06-06,2013,6,65.76_22.48,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
96407,2013-06-05,2013,6,65.75_22.40,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
96408,2013-06-05,2013,6,65.73_22.43,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16
96413,2013-06-05,2013,6,65.78_22.43,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,NaN,NaN,NaN,0.16

In [157]:
#dw_obj.ref_settings.get_value(variable = 'HG_EQR_LIMIT', type_area = type_area)
#dw_obj.ref_settings.get_value(variable = 'PB_EQR_LIMIT', type_area = type_area)

In [158]:
#dw_obj.tolerance_settings.get_value(variable = 'MIN_NR_YEARS', type_area = '22')
#dw_obj.tolerance_settings.get_min_nr_years(type_area = '22')

In [31]:
dw_obj.calculate_ek_value(wb)

			biov Ek value Calculated
               count      mean       std       min       25%       50%  \
mean_ek_value    4.0  0.639961  0.033126  0.614813  0.618042  0.628956

                    75%       max all_ok
mean_ek_value  0.650874  0.687118  False

In [118]:
dw_obj = w.get_step_object(step = 3, subset = subset_uuid).indicator_objects[indicator]

In [32]:
print(dw_obj.classification_results[wb].keys())
for key, value in dw_obj.classification_results[wb].items():
    if key == 'all_data' or key == 'mean_EQR_by_date' or key == 'number_of_values':
        pass
    else:
        print('**************************************')
        print(key)
        print(value)

dict_keys(['parameter', 'salt_parameter', 'water_body', 'all_data', 'all_ok', 'water_body_status', 'mean_EQR_by_year_pos', 'mean_EQR_by_year', 'mean_EQR_by_period', 'number_of_years', 'numerical_class', 'status'])
**************************************
parameter
BIOV_CONC_ALL
**************************************
salt_parameter
SALT_CTD
**************************************
water_body
SE654470-222700
**************************************
all_ok
mean_ek_value    False
Name: all_ok, dtype: bool
**************************************
water_body_status
None
**************************************
mean_EQR_by_year_pos
    YEAR     POSITION  number_of_dates       min  max  mean_ek_value
0   2013  65.73_22.43                0       NaN  NaN            NaN
1   2013  65.73_22.45               10  0.040906  1.0       0.638793
2   2013  65.75_22.40                0       NaN  NaN            NaN
3   2013  65.76_22.48                0       NaN  NaN            NaN
4   2013  65.77_22.50                0       NaN  NaN            NaN
5   2013  65.77_22.53                0       NaN  NaN            NaN
6   2013  65.78_22.43                0       NaN  NaN            NaN
7   2014  65.73_22.43                0       NaN  NaN            NaN
8   2014  65.73_22.44                0       NaN  NaN            NaN
9   2014  65.73_22.45               10  0.060073  1.0       0.614813
10  2014  65.75_22.40                0       NaN  NaN            NaN
11  2014  65.78_22.43                0       NaN  NaN            NaN
12  2015  65.73_22.44                0       NaN  NaN            NaN
13  2015  65.73_22.45                9  0.043947  1.0       0.619119
14  2015  65.75_22.40                0       NaN  NaN            NaN
15  2015  65.76_22.48                0       NaN  NaN            NaN
16  2015  65.77_22.53                0       NaN  NaN            NaN
17  2015  65.78_22.43                0       NaN  NaN            NaN
18  2016  65.73_22.44                0       NaN  NaN            NaN
19  2016  65.73_22.45               10  0.056598  1.0       0.687118
20  2016  65.75_22.40                0       NaN  NaN            NaN
21  2016  65.76_22.48                0       NaN  NaN            NaN
22  2016  65.77_22.53                0       NaN  NaN            NaN
23  2016  65.78_22.43                0       NaN  NaN            NaN
**************************************
mean_EQR_by_year
      number_of_dates       min       max  mean_ek_value
YEAR
2013                1  0.638793  0.638793       0.638793
2014                1  0.614813  0.614813       0.614813
2015                1  0.619119  0.619119       0.619119
2016                1  0.687118  0.687118       0.687118
**************************************
mean_EQR_by_period
0.639960720229
**************************************
number_of_years
4.0
**************************************
numerical_class
3.99981295347
**************************************
status
GOOD

In [22]:

dw_obj.water_body_indicator_df[wb]

,SDATE,YEAR,MONTH,VISS_EU_CD,WATER_TYPE_AREA,DEPH,DIN,SALT_CTD,REFERENCE_VALUE
7057,2016-12-07,2016,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,6.35,2.000,6.334000
7058,2016-12-07,2016,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,6.41,2.000,6.334000
7059,2016-12-07,2016,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,6.81,2.000,6.334000
7349,2016-11-09,2016,11,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,7.56,2.000,6.334000
7350,2016-11-09,2016,11,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,5.40,2.000,6.334000
7351,2016-11-09,2016,11,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,5.67,2.000,6.334000
10343,2016-01-27,2016,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,11.37,2.000,6.334000
10344,2016-01-27,2016,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,7.53,2.279,5.962093
10345,2016-01-27,2016,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,7.26,2.345,5.874115
11065,2015-12-02,2015,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,5.86,1.945,6.407315
11066,2015-12-02,2015,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,6.01,1.941,6.412647
11067,2015-12-02,2015,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,5.84,1.943,6.409981
17831,2015-02-11,2015,2,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,9.05,0.660,8.120220
17832,2015-02-11,2015,2,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,6.98,1.730,6.693910
17833,2015-02-11,2015,2,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,7.29,2.020,6.307340
18397,2015-01-14,2015,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,6.09,NaN,NaN
18398,2015-01-14,2015,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,6.22,NaN,NaN
18399,2015-01-14,2015,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,6.74,NaN,NaN
18916,2014-12-03,2014,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,5.07,2.285,5.954095
18917,2014-12-03,2014,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,5.05,2.273,5.970091
18918,2014-12-03,2014,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,5.18,2.310,5.920770
26382,2014-01-16,2014,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,9.76,0.679,8.094893
26383,2014-01-16,2014,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,7.35,1.542,6.944514
26384,2014-01-16,2014,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,9.37,1.958,6.389986
27000,2013-12-04,2013,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,5.57,2.373,5.836791
27001,2013-12-04,2013,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,5.66,2.373,5.836791
27002,2013-12-04,2013,12,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,5.75,2.373,5.836791
34344,2013-01-15,2013,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,1.0,6.49,1.384,7.155128
34345,2013-01-15,2013,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,5.0,7.81,2.207,6.058069
34346,2013-01-15,2013,1,SE654470-222700,22 - Norra Bottenviken. Inre kustvatten,10.0,7.96,2.721,5.372907

In [30]:
def get_EK(x):
    y = x.DIN/x.REFERENCE_VALUE
    if y > 1:
        return 1
    else:
        return y

df = dw_obj.water_body_indicator_df[wb]
df['ek_value'] = df.apply(get_EK, axis = 1)

In [31]:
df[dw_obj.indicator_parameter]/df.REFERENCE_VALUE

7057     1.002526
7058     1.011999
7059     1.075150
7349     1.193559
7350     0.852542
7351     0.895169
10343    1.795074
10344    1.262979
10345    1.235931
11065    0.914580
11066    0.937210
11067    0.911079
17831    1.114502
17832    1.042739
17833    1.155796
18397         NaN
18398         NaN
18399         NaN
18916    0.851515
18917    0.845883
18918    0.874886
26382    1.205698
26383    1.058389
26384    1.466357
27000    0.954291
27001    0.969711
27002    0.985130
34344    0.907042
34345    1.289190
34346    1.481507
dtype: float64

In [32]:
by_date = df.groupby(['SDATE', 'YEAR'],).ek_value.agg(['count', 'min', 'max', 'mean']).reset_index()
# by_date.to_csv(self.paths['results'] +'/' + self.name + water_body +'by_occation.txt', sep='\t')
by_date.rename(columns={'mean':'mean_ek_value', 'count': 'number_of_values'}, inplace=True) # Cant use "mean" below
by_date

        SDATE  YEAR  number_of_values       min       max  mean_ek_value
0  2013-01-15  2013                 3  0.907042  1.000000       0.969014
1  2013-12-04  2013                 3  0.954291  0.985130       0.969711
2  2014-01-16  2014                 3  1.000000  1.000000       1.000000
3  2014-12-03  2014                 3  0.845883  0.874886       0.857428
4  2015-01-14  2015                 0       NaN       NaN            NaN
5  2015-02-11  2015                 3  1.000000  1.000000       1.000000
6  2015-12-02  2015                 3  0.911079  0.937210       0.920956
7  2016-01-27  2016                 3  1.000000  1.000000       1.000000
8  2016-11-09  2016                 3  0.852542  1.000000       0.915904
9  2016-12-07  2016                 3  1.000000  1.000000       1.000000

In [34]:
# Remove occations with not enough samples
# Or use count as a flag for what to display for the user?
by_date['all_ok'] = True
ix = by_date.loc[by_date['number_of_values'] < 1, 'all_ok'].index
by_date.set_value(ix, 'all_ok', False)

,SDATE,YEAR,number_of_values,min,max,mean_ek_value,all_ok
0,2013-01-15,2013,3,0.907042,1.000000,0.969014,True
1,2013-12-04,2013,3,0.954291,0.985130,0.969711,True
2,2014-01-16,2014,3,1.000000,1.000000,1.000000,True
3,2014-12-03,2014,3,0.845883,0.874886,0.857428,True
4,2015-01-14,2015,0,NaN,NaN,NaN,False
5,2015-02-11,2015,3,1.000000,1.000000,1.000000,True
6,2015-12-02,2015,3,0.911079,0.937210,0.920956,True
7,2016-01-27,2016,3,1.000000,1.000000,1.000000,True
8,2016-11-09,2016,3,0.852542,1.000000,0.915904,True
9,2016-12-07,2016,3,1.000000,1.000000,1.000000,True

In [35]:
"""
2) Medelvärdet av EK för varje parameter beräknas för varje år.
"""
by_year = by_date.groupby('YEAR').mean_ek_value.agg(['count', 'min', 'max', 'mean']).reset_index()
by_year.rename(columns={'mean':'mean_ek_value', 'count': 'number_of_dates'}, inplace=True)
by_year['all_ok'] = True
by_year.loc[by_year['number_of_dates'] < 1, 'all_ok'] = False
# by_year.to_csv(self.paths['results'] +'/' + self.name + water_body + 'by_year.txt', sep='\t')
by_year

   YEAR  number_of_dates       min       max  mean_ek_value all_ok
0  2013                2  0.969014  0.969711       0.969362   True
1  2014                2  0.857428  1.000000       0.928714   True
2  2015                2  0.920956  1.000000       0.960478   True
3  2016                3  0.915904  1.000000       0.971968   True

In [36]:
by_period = by_year[['mean_ek_value']].describe()
by_period

       mean_ek_value
count       4.000000
mean        0.957631
std         0.019895
min         0.928714
25%         0.952537
50%         0.964920
75%         0.970014
max         0.971968

In [37]:
"""
3) Medelvärdet av EK för varje parameter och vattenförekomst (beräknas för minst
en treårsperiod)
"""
by_period = by_year[['mean_ek_value']].describe()#.agg(['count', 'min', 'max', 'mean'])
by_period = by_period.transpose()
#by_period#.loc['mean', 'mean_ek_value']
#
#by_period['count'].get_value('mean_ek_value')
by_period['all_ok']  = True
if by_period['count'].get_value('mean_ek_value') < 3:
    by_period['all_ok'] = False

by_period

,count,mean,std,min,25%,50%,75%,max,all_ok
mean_ek_value,4.0,0.957631,0.019895,0.928714,0.952537,0.96492,0.970014,0.971968,True

In [40]:
by_period['mean'].get_value('mean_ek_value')

0.95763063655011882

In [29]:
temp_df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
...                   index=pd.date_range('1/1/2000', periods=10))
temp_df.iloc[3:7] = np.nan
temp_df.describe()

              A         B         C
count  6.000000  6.000000  6.000000
mean   0.206290  0.471121 -0.242431
std    0.586035  0.679945  1.721820
min   -0.333494 -0.641210 -2.997678
25%   -0.286442  0.214068 -1.103137
50%    0.056126  0.508677  0.315088
75%    0.657880  0.929940  0.644624
max    1.001151  1.264358  1.734323

In [30]:
def set_above_one_value(x):
    if x > 1:
        return 1
    else:
        return x
dw_obj.water_body_indicator_df[wb]['EK'] = dw_obj.water_body_indicator_df[wb]['DIN']/dw_obj.water_body_indicator_df[wb]['REFERENCE_VALUE']
dw_obj.water_body_indicator_df[wb]['EK'] = dw_obj.water_body_indicator_df[wb]['EK'].apply(set_above_one_value)
dw_obj.water_body_indicator_df[wb]['EK']

7057     1.000000
7058     1.000000
7059     1.000000
7349     1.000000
7350     0.852542
7351     0.895169
10343    1.000000
10344    1.000000
10345    1.000000
11065    0.914580
11066    0.937210
11067    0.911079
17831    1.000000
17832    1.000000
17833    1.000000
18397         NaN
18398         NaN
18399         NaN
18916    0.851515
18917    0.845883
18918    0.874886
26382    1.000000
26383    1.000000
26384    1.000000
27000    0.954291
27001    0.969711
27002    0.985130
34344    0.907042
34345    1.000000
34346    1.000000
Name: EK, dtype: float64

In [31]:
dw_obj.get_filtered_data(subset = subset_uuid, step = 'step_2', type_area = 22, indicator = 'din_winter')[['DIN']].dropna()

         DIN
5199    4.68
5200    4.55
5201    4.54
5202    4.23
5203    4.42
5204    4.19
5205    5.59
5206    8.84
5207    6.77
5208    5.68
5209    4.39
5210    4.27
5211    4.63
5212    4.59
5213    4.59
5214    5.08
5215    5.34
5216    4.60
5217    4.31
5218    4.19
5219    4.60
5220   15.76
5221    8.59
5222    6.40
5223    6.46
5224    5.67
5225    5.34
5226    4.62
5227    5.18
5228    5.18
...      ...
34530  11.72
34531   4.89
34532   4.85
34533   4.39
34534   4.22
34535   9.33
34536  10.92
34537   8.57
34538   5.36
34539   3.93
34540   5.71
34541   7.14
34542  35.71
34543   3.93
34544   4.14
34545  26.35
34546  11.60
34547   8.32
34548   8.46
34549   8.60
34550   5.55
34551   5.39
34552   5.42
34553   5.40
34554   6.17
34555   8.48
34556  11.34
34557  15.83
34558  11.80
34559   3.85

[18009 rows x 1 columns]

In [120]:
B2_NTOT_WINTER_SETTINGS = lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter']
lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter'].allowed_variables
# gör om till
# lv_workspace.get_indicator_ref_settings(step = , subset = , indicator = , waterbody/type)
# ger samma resultat som:
#lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter'].settings.ref_columns

lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_ref_settings['ntot_winter'].settings.get_value('EK G/M', 22)
#print(B2_NTOT_WINTER_SETTINGS)
#B2_NTOT_WINTER_SETTINGS.get_value('2', 'DEPTH_INTERVAL')

'0.85'

In [124]:
av = lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_data_filter_settings['ntot_winter'].allowed_variables
lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_data_filter_settings['ntot_winter'].settings.df[av]

   DEPH_INTERVAL MONTH_LIST
0           0-10   1;2;3;12
1           0-10   1;2;3;12
2           0-10   1;2;3;12
3           0-10   1;2;3;12
4           0-10   1;2;3;12
5           0-10   1;2;3;12
6           0-10   1;2;3;12
7           0-10     1;2;12
8           0-10     1;2;12
9           0-10     1;2;12
10          0-10     1;2;12
11          0-10     1;2;12
12          0-10     1;2;12
13          0-10     1;2;12
14          0-10     1;2;12
15          0-10     1;2;12
16          0-10     1;2;12
17          0-10  1;2;11;12
18          0-10  1;2;11;12
19          0-10  1;2;11;12
20          0-10  1;2;11;12
21          0-10  1;2;11;12
22          0-10  1;2;11;12
23          0-10  1;2;11;12
24          0-10  1;2;11;12
25          0-10     1;2;12
26          0-10   1;2;3;12

In [119]:
lv_workspace.get_subset_object('B').get_step_object('step_2').indicator_data_filter_settings['ntot_winter'].settings.df

,TYPE_AREA_NUMBER,TYPE_AREA_SUFFIX,DEPH_INTERVAL,MIN_NR_YEARS,MIN_NR_VALUES,TIME_DELTA_TOLERANCE,POS_RADIUS_TOLERANCE,DEPH_TOLERANCE,MONTH_LIST,EKV REF,EKV H/G,EKV G/M,EKV M/O,EKV O/D,EK H/G,EK G/M,EK M/O,EK O/D,SALINITY MAX
0,1,n,0-10,3,3,3,0.1,5,1;2;3;12,-0.630*s+36,-0.715*s+40.86,-0.799*s+45.72,-1.0546*s+60.3,-1.480*s+84.6,0.88,0.79,0.6,0.43,27
1,1,s,0-10,3,3,3,0.1,5,1;2;3;12,-0.65*s+30,-0.738*s+34.05,-0.8255*s+38.1,-1.0888*s+50.25,-1.528*s+70.5,0.88,0.79,0.6,0.43,20
2,2,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.630*s+36,-0.715*s+40.86,-0.799*s+45.72,-1.0546*s+60.3,-1.480*s+84.6,0.88,0.79,0.6,0.43,27
3,3,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.630*s+36,-0.715*s+40.86,-0.799*s+45.72,-1.0546*s+60.3,-1.480*s+84.6,0.88,0.79,0.6,0.43,27
4,4,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.65*s+30,-0.738*s+34.05,-0.8255*s+38.1,-1.0888*s+50.25,-1.528*s+70.5,0.88,0.79,0.6,0.43,20
5,5,NaN,0-10,3,3,3,0.1,5,1;2;3;12,0*s+17,0*s+19.295,0*s+21.59,0*s+28.475,0*s+39.95,0.89,0.77,0.61,0.43,20
6,6,NaN,0-10,3,3,3,0.1,5,1;2;3;12,0*s+17,0*s+19.295,0*s+21.59,0*s+28.475,0*s+39.95,0.89,0.77,0.61,0.43,20
7,7,NaN,0-10,3,3,3,0.1,5,1;2;12,-6*s+59,-6.6*s+64.9,-7.2*s+70.8,-9*s+88.5,-12*s+118,0.91,0.84,0.67,0.5,7
8,8,NaN,0-10,3,3,3,0.1,5,1;2;12,-6*s+59,-6.6*s+64.9,-7.2*s+70.8,-9*s+88.5,-12*s+118,0.91,0.84,0.67,0.5,7
9,9,NaN,0-10,3,3,3,0.1,5,1;2;12,-6*s+59,-6.6*s+64.9,-7.2*s+70.8,-9*s+88.5,-12*s+118,0.91,0.84,0.67,0.5,7
10,10,NaN,0-10,3,3,3,0.1,5,1;2;12,0*s+17,0*s+18.7,0*s+20.4,0*s+25.5,0*s+34,0.89,0.85,0.65,0.5,7
11,11,NaN,0-10,3,3,3,0.1,5,1;2;12,0*s+17,0*s+18.7,0*s+20.4,0*s+25.5,0*s+34,0.89,0.85,0.65,0.5,7
12,12,s,0-10,3,3,3,0.1,5,1;2;12,-2.833*s+34,-3.1167*s+37.4,-3.4*s+40.8,-4.25*s+51,-5.6667*s+68,0.91,0.83,0.66,0.5,6
13,12,n,0-10,3,3,3,0.1,5,1;2;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,6
14,13,NaN,0-10,3,3,3,0.1,5,1;2;12,-2.833*s+34,-3.1167*s+37.4,-3.4*s+40.8,-4.25*s+51,-5.6667*s+68,0.91,0.83,0.66,0.5,6
15,14,NaN,0-10,3,3,3,0.1,5,1;2;12,-2.833*s+34,-3.1167*s+37.4,-3.4*s+40.8,-4.25*s+51,-5.6667*s+68,0.91,0.83,0.66,0.5,6
16,15,NaN,0-10,3,3,3,0.1,5,1;2;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,6
17,16,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,5
18,17,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,5
19,18,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.4*s+20,-0.44*s+22,-0.48*s+24,-0.6*s+30,-0.8*s+40,0.91,0.83,0.66,0.5,5
20,19,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.4*s+20,-0.44*s+22,-0.48*s+24,-0.6*s+30,-0.8*s+40,0.91,0.83,0.66,0.5,5
21,20,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.6*s+21,-0.66*s+23.1,-0.72*s+25.2,-0.9*s+31.5,-1.2*s+42,0.91,0.83,0.67,0.5,5
22,21,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-0.6*s+21,-0.66*s+23.1,-0.72*s+25.2,-0.9*s+31.5,-1.2*s+42,0.91,0.83,0.67,0.5,5
23,22,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+21,-1.09*s+22.89,-1.18*s+24.78,-1.45*s+30.45,-1.9*s+39.9,0.93,0.85,0.68,0.51,3
24,23,NaN,0-10,3,3,3,0.1,5,1;2;11;12,-1*s+21,-1.09*s+22.89,-1.18*s+24.78,-1.45*s+30.45,-1.9*s+39.9,0.93,0.85,0.68,0.51,3
25,24,NaN,0-10,3,3,3,0.1,5,1;2;12,-1*s+23,-1.1*s+25.3,-1.2*s+27.6,-1.5*s+34.5,-2*s+46,0.93,0.85,0.68,0.51,6
26,25,NaN,0-10,3,3,3,0.1,5,1;2;3;12,-0.65*s+30,-0.738*s+34.05,-0.8255*s+38.1,-1.0888*s+50.25,-1.528*s+70.5,0.88,0.79,0.6,0.43,20

In [67]:
B2_NTOT_WINTER_SETTINGS.settings.mapping_water_body['N m Bottenvikens kustvatten']

{'BASIN_NUMBER': '110002.0',
 'CENTER_LAT': '64° 42\' 35,349"',
 'CENTER_LON': '21° 24\' 5,383"',
 'EU_CD': 'SE648760-213140',
 'HID': '649640-214530',
 'TYPE_AREA_NUMBER': '23',
 'TYPE_AREA_SUFFIX': '',
 'URL_VISS': 'http://www.viss.lansstyrelsen.se/waters.aspx?waterEUID=SE648760-213140'}

### Set subset time and area filter

In [35]:
f1_A = lv_workspace.get_data_filter_object(step=1, subset='A') 
f1_A.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Gullmarn centralbassäng', 'Rivö fjord'],
 'STATN': ['BJÖRKHOLMEN']}

In [136]:
lv_workspace.get_data_filter_info(step=1, subset='A')

{'exclude_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN'],
 'include_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN']}

In [36]:
f1_A.exclude_list_filter

{'MYEAR': ['2015', '2016'], 'SEA_AREA_NAME': [], 'STATN': ['SLÄGGÖ']}

In [21]:
f0.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Byfjorden',
  'Gullmarn centralbassäng',
  'Havstensfjorden',
  'Rivö fjord'],
 'STATN': []}

### Apply subset filter

In [22]:
lv_workspace.apply_subset_filter(subset='A') # Not handled properly by the IndexHandler

True

### Extract filtered data

In [23]:
data_after_subset_filter = lv_workspace.get_filtered_data(level=1, subset='A') # level=0 means first filter 
print('{} rows mathing the filter criteria'.format(len(data_after_subset_filter)))
data_after_subset_filter.head()

198 rows mathing the filter criteria

,AMON,BQIm,CPHL,DEPH,DOXY_BTL,DOXY_CTD,LATIT_DD,LONGI_DD,MNDEP,MXDEP,...,SERNO,SHARKID_MD5,SHIPC,STATN,STIME,TEMP_BTL,TEMP_CTD,WATER_DISTRICT,WATER_TYPE_AREA,WLTYP
2628,0.76,NaN,0.6,0.0,7.05,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,4.96,4.84,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2629,0.72,NaN,0.5,2.0,7.12,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,4.93,4.84,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2630,0.74,NaN,0.6,5.0,7.16,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,4.88,4.84,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2631,0.65,NaN,0.5,10.0,7.11,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,5.12,4.86,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM
2632,0.46,NaN,0.3,15.0,6.86,,58.38767,11.62667,NaN,NaN,...,8.0,NaN,77SN,BJÖRKHOLMEN,17:30,5.52,5.10,Västerhavets vattendistrikt,02 - Västkustens fjordar,2 - Havsområde innanför 1 NM

In [24]:
# show available waterbodies
lst = data_after_subset_filter.SEA_AREA_NAME.unique()
print('Waterbodies in subset:\n{}'.format('\n'.join(lst)))

Waterbodies in subset:
Gullmarn centralbassäng

In [24]:
import numpy as np
np.where(lv_workspace.index_handler.subset_filter)

(array([2629, 2630, 2631, 2632, 2633, 2634, 2635, 2636, 2637, 2638, 2639,
        2754, 2755, 2756, 2757, 2758, 2759, 2760, 2761, 2762, 2763, 2764,
        2870, 2871, 2872, 2873, 2874, 2875, 2876, 2877, 2878, 2879, 2880,
        2952, 2953, 2954, 2955, 2956, 2957, 2958, 2959, 2960, 2961, 2962,
        3077, 3078, 3079, 3080, 3081, 3082, 3083, 3084, 3085, 3086, 3087,
        3185, 3186, 3187, 3188, 3189, 3190, 3191, 3192, 3193, 3194, 3195,
        3282, 3283, 3284, 3285, 3286, 3287, 3288, 3289, 3290, 3291, 3292,
        3409, 3410, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419,
        3493, 3494, 3495, 3496, 3497, 3498, 3499, 3500, 3501, 3502, 3503,
        3624, 3625, 3626, 3627, 3628, 3629, 3630, 3631, 3632, 3633, 3634,
        3717, 3718, 3719, 3720, 3721, 3722, 3723, 3724, 3725, 3726, 3727,
        3859, 3860, 3861, 3862, 3863, 3864, 3865, 3866, 3867, 3868, 3869,
        3979, 3980, 3981, 3982, 3983, 3984, 3985, 3986, 3987, 3988, 3989,
        4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4120,
        4265, 4266, 4267, 4268, 4269, 4270, 4271, 4272, 4273, 4274, 4275,
        4354, 4355, 4356, 4357, 4358, 4359, 4360, 4361, 4362, 4363, 4364,
        4502, 4503, 4504, 4505, 4506, 4507, 4508, 4509, 4510, 4511, 4512,
        4806, 4807, 4808, 4809, 4810, 4811, 4812, 4813, 4814, 4815, 4816], dtype=int64),)

In [25]:
f = lv_workspace.get_data_filter_object(step=1, subset='A')

In [26]:
f.all_filters

{'exclude_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN'],
 'include_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN']}

In [27]:
f.exclude_list_filter

{'MYEAR': ['2015', '2016'], 'SEA_AREA_NAME': [], 'STATN': ['SLÄGGÖ']}

In [28]:
f.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Gullmarn centralbassäng', 'Rivö fjord'],
 'STATN': ['BJÖRKHOLMEN']}

In [29]:
s = lv_workspace.get_step_1_object('A')

In [30]:
s.data_filter.all_filters

{'exclude_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN'],
 'include_list': ['MYEAR', 'SEA_AREA_NAME', 'STATN']}

In [31]:
f0 = lv_workspace.get_data_filter_object(step=0)

In [32]:
f0.exclude_list_filter

{'MYEAR': ['2015', '2016'], 'SEA_AREA_NAME': [], 'STATN': []}

In [33]:
f0.include_list_filter

{'MYEAR': ['2016', '2017'],
 'SEA_AREA_NAME': ['Byfjorden',
  'Gullmarn centralbassäng',
  'Havstensfjorden',
  'Rivö fjord'],
 'STATN': []}

# Quality factor Nutrients

In [ ]:
lv_workspace.initiate_quality_factors()