In [1]:
# Reload when code changed:
%load_ext autoreload
%autoreload 2
%pwd
import sys
import os
path = "../"
sys.path.append(path)
#os.path.abspath("../")
print(os.path.abspath(path))

D:\Utveckling\git\ekostat_calculator

In [142]:
import os 
import core
import importlib
importlib.reload(core) 
try:
    logging.shutdown()
    importlib.reload(logging)
except:
    pass
import pandas as pd
import numpy as np
import json
import time
import re

from event_handler import EventHandler
print(core.__file__)
pd.__version__

..\core\__init__.py

'0.19.2'

In [3]:
user_id_1 = 'user_1'
user_id_2 = 'user_2'
user_1_ws_1 = 'mw1'
print(path)
paths = {'user_id': user_id_1, 
         'workspace_directory': path + '/workspaces', 
         'resource_directory': path + '/resources', 
         'log_directory': path + '/log', 
         'test_data_directory': path + '/test_data'}

../

In [4]:
workspace_uuid = '40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c'
subset_uuid = 'a15e6f23-5f78-4e78-b3fa-d9cc14e88f93'

In [5]:
ekos = EventHandler(**paths)
ekos.load_workspace(workspace_uuid)

2018-06-12 11:28:33,357	logger.py	85	add_log	DEBUG
2018-06-12 11:28:33,359	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-06-12 11:28:33,361	logger.py	87	add_log	DEBUG	### Log added for log_id "event_handler" at locaton: ..\log\main_event_handler.log
2018-06-12 11:28:33,363	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------
2018-06-12 11:28:33,365	event_handler.py	76	__init__	DEBUG	Start EventHandler: event_handler

====================================================================================================
event_handler
..//log
main
----------------------------------------------------------------------------------------------------

2018-06-12 11:28:38,041	event_handler.py	1942	load_workspace	DEBUG	Trying to load new workspace "40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c" with alias "New test workspace"
2018-06-12 11:28:38,134	logger.py	85	add_log	DEBUG
2018-06-12 11:28:38,135	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-06-12 11:28:38,136	logger.py	87	add_log	DEBUG	### Log added for log_id "a15e6f23-5f78-4e78-b3fa-d9cc14e88f93" at locaton: ..\workspaces\40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c\log\subset_a15e6f23-5f78-4e78-b3fa-d9cc14e88f93.log
2018-06-12 11:28:38,139	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------
2018-06-12 11:28:38,198	logger.py	85	add_log	DEBUG
2018-06-12 11:28:38,199	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-06-12 11:28:38,200	logger.py	87	add_log	DEBUG	### Log added for log_id "default_subset" at locaton: ..\workspaces\40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c\log\subset_default_subset.log
2018-06-12 11:28:38,203	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------
2018-06-12 11:28:38,267	logger.py	85	add_log	DEBUG
2018-06-12 11:28:38,269	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-06-12 11:28:38,270	logger.py	87	add_log	DEBUG	### Log added for log_id "eef1283a-557c-4804-9d5f-fcf4175ef112" at locaton: ..\workspaces\40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c\log\subset_eef1283a-557c-4804-9d5f-fcf4175ef112.log
2018-06-12 11:28:38,273	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------

====================================================================================================
a15e6f23-5f78-4e78-b3fa-d9cc14e88f93
..//workspaces/40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c/log
subset
----------------------------------------------------------------------------------------------------
====================================================================================================
default_subset
..//workspaces/40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c/log
subset
----------------------------------------------------------------------------------------------------
====================================================================================================
eef1283a-557c-4804-9d5f-fcf4175ef112
..//workspaces/40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c/log
subset
----------------------------------------------------------------------------------------------------

2018-06-12 11:28:38,483	logger.py	85	add_log	DEBUG
2018-06-12 11:28:38,484	logger.py	86	add_log	DEBUG	========================================================================================================================
2018-06-12 11:28:38,486	logger.py	87	add_log	DEBUG	### Log added for log_id "40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c" at locaton: ..\workspaces\40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c\log\workspace_40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c.log
2018-06-12 11:28:38,488	logger.py	88	add_log	DEBUG	------------------------------------------------------------------------------------------------------------------------
2018-06-12 11:28:38,490	event_handler.py	1960	load_workspace	INFO	Workspace "40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c" with alias "New test workspace loaded."

====================================================================================================
40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c
..//workspaces/40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c/log
workspace
----------------------------------------------------------------------------------------------------

True

In [6]:
w = ekos.workspaces[workspace_uuid]
s = w.get_subset_object(subset_uuid)

In [9]:
indicator = 'din_winter'
type_area = False
viss_eu_cd = 'SE582000-115270'

In [11]:
settings_data_filter_object = ekos.get_settings_filter_object(workspace_uuid=workspace_uuid, 
                                                                           subset_uuid=subset_uuid,
                                                                           indicator=indicator, 
                                                                           filter_type='data')

In [12]:
depth_interval = settings_data_filter_object.get_value(type_area=type_area, 
                                                       water_body=viss_eu_cd, 
                                                       variable='DEPH_INTERVAL', 
                                                       return_series=False)

SE582000-115270
['unspecified']
. . . . .
Series([], Name: DEPH_INTERVAL, dtype: object)
0
. . . . .

In [13]:
depth_interval

[0, 10]

In [165]:
df = pd.read_csv('D:/Utveckling/git/ekostat_calculator/workspaces/40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c/subsets/a15e6f23-5f78-4e78-b3fa-d9cc14e88f93/step_2/settings/indicator_settings/oxygen_test.set', sep='\t', encoding='cp1252')
df = pd.read_csv('D:/Utveckling/git/ekostat_calculator/workspaces/40e11bb1-49fb-4eb3-bb2b-4d5b9f520b2c/subsets/a15e6f23-5f78-4e78-b3fa-d9cc14e88f93/step_2/settings/indicator_settings/BQI.set', sep='\t', encoding='cp1252')
df = df.fillna('')

In [166]:
df.head()

,Indicator,Type_Area_number,Type_Area_suffix,VISS_EU_CD,level_DEPH_INTERVAL_int,tolerance_MIN_NR_YEARS_int,tolerance_MIN_NR_VALUES_int,filter_MONTH_LIST_int,ref_HG_value_limit_float,ref_GM_value_limit_float,ref_MP_value_limit_float,ref_PB_value_limit_float,ref_max BQIm,ref_HG_EQR_limit_float,ref_GM_EQR_llimit_float,ref_MP_EQR_llimit_float,ref_PB_EQR_limit_float,Param,QualityElement
0,BQI,1,,unspecified,5-20,3,5,5;6,13.9,10.3,6.9,3.4,15.7,0.89,0.66,0.44,0.22,BQI,Bottom fauna
1,BQI,1,,unspecified,20-500,3,5,5;6,15.7,12.0,8.0,4.0,17.6,0.89,0.68,0.45,0.23,BQI,Bottom fauna
2,BQI,2,,unspecified,5-20,3,5,5;6,13.9,10.3,6.9,3.4,15.7,0.89,0.66,0.44,0.22,BQI,Bottom fauna
3,BQI,2,,unspecified,20-500,3,5,5;6,15.7,12.0,8.0,4.0,17.6,0.89,0.68,0.45,0.23,BQI,Bottom fauna
4,BQI,3,,unspecified,5-20,3,5,5;6,13.9,10.3,6.9,3.4,15.7,0.89,0.66,0.44,0.22,BQI,Bottom fauna

In [167]:
viss_eu_cd = 'SE582000-115270'
#viss_eu_cd = 'SE592000-184700'
viss_eu_cd = 'SE570900-121060'
type_area = ekos.mapping_objects['water_body'].get_type_area_for_water_body(viss_eu_cd, include_suffix=True).replace('-', '')
water_body_name = ekos.mapping_objects['water_body'].get_display_name(water_body=viss_eu_cd)
print('type_area:', type_area)
print('viss_eu_cd:', viss_eu_cd)
print('water_body_name:', water_body_name)

type_area: 1s
viss_eu_cd: SE570900-121060
water_body_name: Balgöarkipelagen

In [168]:
s = df.loc[((df['Type_Area_number'].astype(str) + df['Type_Area_suffix'])==type_area) & (df['VISS_EU_CD']=='unspecified')].copy()
if not len(s):
    type_area = re.findall('\d+', type_area)[0]
    s = df.loc[((df['Type_Area_number'].astype(str) + df['Type_Area_suffix'])==type_area) & (df['VISS_EU_CD']=='unspecified')].copy()

In [169]:
s['VISS_EU_CD'] = viss_eu_cd
s['WATERBODY_NAME'] = water_body_name

In [170]:
type(s)

pandas.core.frame.DataFrame

In [171]:
df2 = df.append(s)

In [172]:
wbm = ekos.mapping_objects['water_body']

In [173]:
wbm.get_display_name(water_body=viss_eu_cd)

'Balgöarkipelagen'

In [174]:
df2.tail()

,Indicator,Param,QualityElement,Type_Area_number,Type_Area_suffix,VISS_EU_CD,WATERBODY_NAME,filter_MONTH_LIST_int,level_DEPH_INTERVAL_int,ref_GM_EQR_llimit_float,ref_GM_value_limit_float,ref_HG_EQR_limit_float,ref_HG_value_limit_float,ref_MP_EQR_llimit_float,ref_MP_value_limit_float,ref_PB_EQR_limit_float,ref_PB_value_limit_float,ref_max BQIm,tolerance_MIN_NR_VALUES_int,tolerance_MIN_NR_YEARS_int
29,BQI,BQI,Bottom fauna,24,,unspecified,NaN,5;6,5-60,0.30,3.0,0.77,7.7,0.20,2.0,0.10,1.3,14.0,5,3
30,BQI,BQI,Bottom fauna,25,,unspecified,NaN,5;6,5-20,0.66,10.3,0.89,13.9,0.44,6.9,0.22,3.4,15.7,5,3
31,BQI,BQI,Bottom fauna,25,,unspecified,NaN,5;6,20-500,0.68,12.0,0.89,15.7,0.45,8.0,0.23,4.0,17.6,5,3
0,BQI,BQI,Bottom fauna,1,,SE570900-121060,Balgöarkipelagen,5;6,5-20,0.66,10.3,0.89,13.9,0.44,6.9,0.22,3.4,15.7,5,3
1,BQI,BQI,Bottom fauna,1,,SE570900-121060,Balgöarkipelagen,5;6,20-500,0.68,12.0,0.89,15.7,0.45,8.0,0.23,4.0,17.6,5,3

In [184]:
print(viss_eu_cd)
print()

matching_columns = ['WATERBODY_NAME', 'tolerance_MIN_NR_YEARS_int', 
                    'tolerance_BOTTOM_WATER_int', 'MONTH_LIST_int', 
                    'filter_DEPH_INTERVAL_int']

for viss in set(df2['VISS_EU_CD']):
    if viss =='unspecified':
        continue 
    type_area = ekos.mapping_objects['water_body'].get_type_area_for_water_body(viss, include_suffix=True).replace('-', '')
    type_area_series = df2.loc[((df2['Type_Area_number'].astype(str) + df2['Type_Area_suffix'])==type_area) & (df2['VISS_EU_CD']=='unspecified')].copy()
    if not len(type_area_series):
        type_area = re.findall('\d+', type_area)[0] 
        type_area_series = df2.loc[((df2['Type_Area_number'].astype(str) + df2['Type_Area_suffix'])==type_area) & (df2['VISS_EU_CD']=='unspecified')].copy()
    viss_series = df2.loc[df2['VISS_EU_CD']==viss_eu_cd, :]
    for col in matching_columns:
        if col not in viss_series.columns:
            continue
        if list(viss_series[col].values) != list(type_area_series[col].values):
            print(viss, type_area)

SE570900-121060

SE570900-121060 1

In [185]:
df2.loc[df2['Type_Area_number']==1, :]

,Indicator,Param,QualityElement,Type_Area_number,Type_Area_suffix,VISS_EU_CD,WATERBODY_NAME,filter_MONTH_LIST_int,level_DEPH_INTERVAL_int,ref_GM_EQR_llimit_float,ref_GM_value_limit_float,ref_HG_EQR_limit_float,ref_HG_value_limit_float,ref_MP_EQR_llimit_float,ref_MP_value_limit_float,ref_PB_EQR_limit_float,ref_PB_value_limit_float,ref_max BQIm,tolerance_MIN_NR_VALUES_int,tolerance_MIN_NR_YEARS_int
0,BQI,BQI,Bottom fauna,1,,unspecified,NaN,5;6,5-20,0.66,10.3,0.89,13.9,0.44,6.9,0.22,3.4,15.7,5,3
1,BQI,BQI,Bottom fauna,1,,unspecified,NaN,5;6,20-500,0.68,12.0,0.89,15.7,0.45,8.0,0.23,4.0,17.6,5,3
0,BQI,BQI,Bottom fauna,1,,SE570900-121060,Balgöarkipelagen,5;6,5-20,0.66,10.3,0.89,13.9,0.44,6.9,0.22,3.4,15.7,5,3
1,BQI,BQI,Bottom fauna,1,,SE570900-121060,Balgöarkipelagen,5;6,20-500,0.68,12.0,0.89,15.7,0.45,8.0,0.23,4.0,17.6,5,3

In [186]:
type_area_series

,Indicator,Param,QualityElement,Type_Area_number,Type_Area_suffix,VISS_EU_CD,WATERBODY_NAME,filter_MONTH_LIST_int,level_DEPH_INTERVAL_int,ref_GM_EQR_llimit_float,ref_GM_value_limit_float,ref_HG_EQR_limit_float,ref_HG_value_limit_float,ref_MP_EQR_llimit_float,ref_MP_value_limit_float,ref_PB_EQR_limit_float,ref_PB_value_limit_float,ref_max BQIm,tolerance_MIN_NR_VALUES_int,tolerance_MIN_NR_YEARS_int
0,BQI,BQI,Bottom fauna,1,,unspecified,NaN,5;6,5-20,0.66,10.3,0.89,13.9,0.44,6.9,0.22,3.4,15.7,5,3
1,BQI,BQI,Bottom fauna,1,,unspecified,NaN,5;6,20-500,0.68,12.0,0.89,15.7,0.45,8.0,0.23,4.0,17.6,5,3

In [122]:
df2.loc[df2['VISS_EU_CD']==viss_eu_cd,:]

,Type_Area_number,Type_Area_suffix,VISS_EU_CD,WATERBODY_NAME,tolerance_MIN_NR_YEARS_int,tolerance_BOTTOM_WATER_int,MONTH_LIST_int,ref_ref_value_float,ref_HG_value_limit_float,ref_GM_value_limit_float,ref_MP_value_limit_float,ref_PB_value_limit_float,ref_deficiency_type_str,WATERBODY_NAME_FROM_FS
0,1,s,SE570900-121060,Balgöarkipelagen,3,10,1;2;3;4;5;6;7;8;9;10;11;12,10,3.5,2.1,1,0,seasonal,
0,1,s,SE570900-121060,Balgöarkipelagen,3,10,1;2;3;4;5;6;7;8;9;10;11;12,10,3.5,2.1,1,0,seasonal,
0,1,s,SE570900-121060,Balgöarkipelagen,3,10,1;2;3;4;5;6;7;8;9;10;11;12,10,3.5,2.1,1,0,seasonal,

In [124]:
df2.loc[df2['VISS_EU_CD']==viss_eu_cd,:]

,Type_Area_number,Type_Area_suffix,VISS_EU_CD,WATERBODY_NAME,tolerance_MIN_NR_YEARS_int,tolerance_BOTTOM_WATER_int,MONTH_LIST_int,ref_ref_value_float,ref_HG_value_limit_float,ref_GM_value_limit_float,ref_MP_value_limit_float,ref_PB_value_limit_float,ref_deficiency_type_str,WATERBODY_NAME_FROM_FS
0,1,s,SE570900-121060,Balgöarkipelagen,3,10,1;2;3;4;5;6;7;8;9;10;11;12,10,3.5,2.1,1,0,seasonal,
0,1,s,SE570900-121060,Balgöarkipelagen,3,10,1;2;3;4;5;6;7;8;9;10;11;12,10,3.5,2.1,1,0,seasonal,
0,1,s,SE570900-121060,Balgöarkipelagen,3,10,1;2;3;4;5;6;7;8;9;10;11;12,10,3.5,2.1,1,0,seasonal,

In [ ]:
hp = {}
with codecs.open('D:/Utveckling/git/ekostat_calculator/resources/mappings/indicator_settings_homogeneous_parameters.txt') as fid: 
    for line in fid:
        line = line.strip()
        if line:
            indicator, par = [item.strip() for item in line.split('\t')]
            if not hp.get(indicator):
                hp[indicator] = []
            hp[indicator].append(par)